@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> EXIT -> SLIDE OUT DOWN
    ========================================================================  */

// Check if the animations with slide out down should be imported
@if $import-animations and $import-animation-slide-out-down {
    .has-animation {
        // Nested selectors
        &.slide-out-down {
            @keyframes slide-out-down {
                from {
                    transform: translate3d(0, 0, 0);
                }

                to {
                    transform: translate3d(0, $animation-slide-out-distance, 0);
                }
            }

            animation-delay: $animation-slide-out-delay;
            animation-duration: $animation-slide-out-duration;
            animation-name: slide-out-down;
            animation-timing-function: $animation-slide-out-easing;
        }
    }
}
