@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> EXIT -> SLIDE OUT RIGHT
    ========================================================================  */

// Check if the animations with slide out right should be imported
@if $import-animations and $import-animation-slide-out-right {
    .has-animation {
        // Nested selectors
        &.slide-out-right {
            // Variables
            --animation-delay: var(--default-animation-slide-out-delay);
            --animation-distance: var(--default-animation-slide-out-distance);
            --animation-duration: var(--default-animation-slide-out-duration);
            --animation-easing: var(--default-animation-slide-out-easing);

            // Keyframes
            @keyframes slide-out-right {
                from {
                    transform: translate3d(0, 0, 0);
                }

                to {
                    transform: translate3d(var(--animation-distance), 0, 0);
                }
            }

            // Styles
            animation-name: slide-out-right;
        }
    }
}
