@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> EXIT -> SLIDE OUT LEFT
    ========================================================================  */

// Check if the animations with slide out left should be imported
@if $import-animations and $import-animation-slide-out-left {
    .has-animation {
        // Nested selectors
        &.slide-out-left {
            @keyframes slide-out-left {
                from {
                    transform: translate3d(0, 0, 0);
                }

                to {
                    transform: translate3d((0px - $animation-slide-out-distance), 0, 0);
                }
            }

            animation-delay: $animation-slide-out-delay;
            animation-duration: $animation-slide-out-duration;
            animation-name: slide-out-left;
            animation-timing-function: $animation-slide-out-easing;
        }
    }
}
