@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> EXIT -> FADE OUT
    ========================================================================  */

// Check if the animations with fade out should be imported
@if $import-animations and $import-animation-fade-out {
    .has-animation {
        // Nested selectors
        &.fade-out {
            @keyframes fade-out {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }

            animation-delay: $animation-fade-out-delay;
            animation-duration: $animation-fade-out-duration;
            animation-name: fade-out;
            animation-timing-function: $animation-fade-out-easing;
        }
    }
}
