@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> EXIT -> FADE OUT DOWN
    ========================================================================  */

// Check if the animations with fade out down should be imported
@if $import-animations and $import-animation-fade-out-down {
    .has-animation {
        // Nested selectors
        &.fade-out-down {
            @keyframes fade-out-down {
                from {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }

                to {
                    opacity: 0;
                    transform: translate3d(0, $animation-fade-out-distance, 0);
                }
            }

            animation-delay: $animation-fade-out-delay;
            animation-duration: $animation-fade-out-duration;
            animation-name: fade-out-down;
            animation-timing-function: $animation-fade-out-easing;
        }
    }
}
