@charset 'utf-8';

/**
 * Zero position an element absolutely and fill the relative parent element.
 */
@mixin zero-positioning() {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
