@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ANIMATIONS -> FLIP
    ========================================================================  */

// Entrance
$animation-flip-in-delay: 0ms !default;
$animation-flip-in-duration: 600ms !default;
$animation-flip-in-easing: easing('ease-out-back') !default;
$animation-flip-in-perspective: 500px !default;

// Exit
$animation-flip-out-delay: 0ms !default;
$animation-flip-out-duration: 600ms !default;
$animation-flip-out-easing: easing('ease-in-back') !default;
$animation-flip-out-perspective: 500px !default;
