@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ANIMATIONS -> SLIDE
    ========================================================================  */

// Entrance
$animation-slide-in-delay: 0ms !default;
$animation-slide-in-distance: 60px !default;
$animation-slide-in-duration: 600ms !default;
$animation-slide-in-easing: easing('ease') !default;

// Exit
$animation-slide-out-delay: 0ms !default;
$animation-slide-out-distance: 60px !default;
$animation-slide-out-duration: 600ms !default;
$animation-slide-out-easing: easing('ease') !default;
