@charset 'utf-8';

// Zoom entrance variables
$animation-zoom-in-delay: 0ms !default;
$animation-zoom-in-distance: 6rem !default;
$animation-zoom-in-duration: 400ms !default;
$animation-zoom-in-easing: easing('ease-in') !default;
$animation-zoom-in-scale: 0.6 !default;

// Zoom exit variables
$animation-zoom-out-delay: 0ms !default;
$animation-zoom-out-distance: 6rem !default;
$animation-zoom-out-duration: 400ms !default;
$animation-zoom-out-easing: easing('ease-out') !default;
$animation-zoom-out-scale: 0.6 !default;
