@charset 'utf-8';

// Custom checkbox maps
$custom-checkbox-content-spacing-multipliers: (
    'small': 0.2,
    'medium': 0.4,
    'large': 0.6
) !default;

$custom-checkbox-element-height-multipliers: (
    'small': 0.5,
    'medium': 0.75,
    'large': 1
) !default;

// Custom checkbox variables
$custom-checkbox-accessibility-focus-width: $global-accessibility-focus-width !default;
$custom-checkbox-accessibility-focus-color: $global-accessibility-focus-color !default;
$custom-checkbox-background-color: base-color('white') !default;
$custom-checkbox-border-color: base-color('white-darken-6') !default;
$custom-checkbox-border-color-hover: base-color('white-darken-9') !default;
$custom-checkbox-border-width-bottom: $global-border-width-bottom !default;
$custom-checkbox-border-width-left: $global-border-width-left !default;
$custom-checkbox-border-width-right: $global-border-width-right !default;
$custom-checkbox-border-width-top: $global-border-width-top !default;
$custom-checkbox-checked-color: base-color('primary') !default;
