@charset 'utf-8';

// Check if the animations with fade in right should be imported
@if $import-animations and $import-animation-fade-in-right {
    .has-animation {
        // Nested selectors
        &.fade-in-right {
            @keyframes fade-in-right {
                from {
                    opacity: 0;
                    transform: translate3d((0 - $animation-fade-in-distance), 0, 0);
                }

                to {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }

            animation-delay: $animation-fade-in-delay;
            animation-duration: $animation-fade-in-duration;
            animation-name: fade-in-right;
            animation-timing-function: $animation-fade-in-easing;
        }
    }
}
