@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> ENTRANCE -> FADE IN DOWN
    ========================================================================  */

// Check if the animations with fade in down should be imported
@if $import-animations and $import-animation-fade-in-down {
    .has-animation {
        // Nested selectors
        &.fade-in-down {
            // Variables
            --animation-delay: var(--default-animation-fade-in-delay);
            --animation-distance: calc(0px - var(--default-animation-fade-in-distance));
            --animation-duration: var(--default-animation-fade-in-duration);
            --animation-easing: var(--default-animation-fade-in-easing);

            // Keyframes
            @keyframes fade-in-down {
                from {
                    opacity: 0;
                    transform: translate3d(0, var(--animation-distance), 0);
                }

                to {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }

            // Styles
            animation-name: fade-in-down;
        }
    }
}
