@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> ENTRANCE -> FADE IN RIGHT
    ========================================================================  */

.fade-in-right {
    // Variables
    --animation-delay: var(--default-animation-fade-in-delay);
    --animation-distance: calc(0px - var(--default-animation-fade-in-distance));
    --animation-duration: var(--default-animation-fade-in-duration);
    --animation-easing: var(--default-animation-fade-in-easing);

    // Keyframes
    @keyframes fade-in-right {
        from {
            opacity: 0;
            transform: translate3d(var(--animation-distance), 0, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    // Styles
    animation-name: fade-in-right;
}
