@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> ENTRANCE
    ========================================================================  */

// Import
@import 'fade-in';
@import 'fade-in-down';
@import 'fade-in-left';
@import 'fade-in-right';
@import 'fade-in-up';
