@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> MARK
    ========================================================================  */

// Variables
$mark-background-color: hsla(51, 90%, 83%, 1) !default;
$mark-border-color: transparent !default;
$mark-border-radius-bottom-left: 0 !default;
$mark-border-radius-bottom-right: 0 !default;
$mark-border-radius-top-left: 0 !default;
$mark-border-radius-top-right: 0 !default;
$mark-border-style: $global-border-style !default;
$mark-border-width-bottom: 0 !default;
$mark-border-width-left: 0  !default;
$mark-border-width-right: 0 !default;
$mark-border-width-top: 0 !default;
$mark-content-spacing: 4px !default;
$mark-font-color: font-color() !default;
$mark-font-size: font-size() !default;
