@charset 'utf-8';

// Framework overlay variables
$overlay-animation-duration: 200ms !default;
$overlay-background-color: base-color('black-accessibility-focus') !default;
$overlay-font-color: base-color('black-inverted-text') !default;
