@charset "utf-8";

/* =============================================================================================
   FRAMEWORK -> BASE -> VARIABLES
   ============================================================================================= */

// Focus
$focus-border-width: $focus-border-width;
$focus-border-style: $focus-border-style;
$focus-border-color: $focus-border-color;

// Background
$background-color: color('background');

// Selection
$selection-background-color: color('brand');
$selection-font-color: color('white');
$selection-text-shadow: color('black');


/* =============================================================================================
   FRAMEWORK -> BASE
   ============================================================================================= */

// Box model fix
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    // Pseudo elements
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

// Accessibility
*:focus {
    outline: $focus-border-width $focus-border-style $focus-border-color;
}

// Body
body {
    -webkit-tap-highlight-color: transparent;
    background-color: $background-color;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;

    // Pseudo elements
    &::after {
        @include clearfix();
    }

    ::-moz-selection {
        background-color: $selection-background-color;
        color: $selection-font-color;
        text-shadow: 1px 1px $selection-text-shadow;
    }

    ::selection {
        background-color: $selection-background-color;
        color: $selection-font-color;
        text-shadow: 1px 1px $selection-text-shadow;
    }
}
