@charset "utf-8";

/* =============================================================================================
   FRAMEWORK -> LISTS -> VARIABLES
   ============================================================================================= */

// Lists
$list-content-spacing: $content-spacing;
$list-content-spacing--small: $content-spacing--small;
$list-content-spacing--large: $content-spacing--large;
$list-content-spacing--huge: $content-spacing--huge;
$list-element-spacing: $element-spacing;
$list-element-spacing--small: $element-spacing--small;
$list-element-spacing--large: $element-spacing--large;
$list-element-spacing--huge: $element-spacing--huge;
$list-font-size: $font-size;
$list-font-size--small: $font-size--small;
$list-font-size--large: $font-size--large;
$list-font-size--huge: $font-size--huge;


/* =============================================================================================
   FRAMEWORK -> LISTS
   ============================================================================================= */

// Unordered and ordered lists
ul,
ol {
    font-size: $list-font-size;
    margin: 0;
    margin-bottom: $list-element-spacing;

    // Pseudo elements
    &::after {
        @include clearfix();
    }

    // Modifiers
    &.list--circle {
        list-style: circle outside;
    }

    &.list--square {
        list-style: square outside;
    }

    &.list--rtl {
        direction: rtl;
    }

    &.list--clear {
        list-style: none;
        padding: 0;
    }

    &.list--horizontal,
    &.list--inline-horizontal,
    &.list--vertical,
    &.list--inline-vertical {
        display: flex;
        list-style: none;
        padding: 0;

        // Nested selectors
        li {
            flex: 0 0 auto;
            flex-basis: 0;
            flex-grow: 1;
            padding: $list-content-spacing;
        }
    }

    &.list--inline-horizontal,
    &.list--inline-vertical {
        display: inline-flex;
    }

    &.list--vertical,
    &.list--inline-vertical {
        flex-flow: column;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $list-font-size--small;
        margin-bottom: $list-element-spacing--small;

        // Modifiers
        &.list--horizontal,
        &.list--inline-horizontal,
        &.list--vertical,
        &.list--inline-vertical {
            // Nested selectors
            li {
                padding: $list-content-spacing--small;
            }
        }
    }

    &.is-large {
        font-size: $list-font-size--large;
        margin-bottom: $list-element-spacing--large;

        // Modifiers
        &.list--horizontal,
        &.list--inline-horizontal,
        &.list--vertical,
        &.list--inline-vertical {
            // Nested selectors
            li {
                padding: $list-content-spacing--large;
            }
        }
    }

    &.is-huge {
        font-size: $list-font-size--huge;
        margin-bottom: $list-element-spacing--huge;

        // Modifiers
        &.list--horizontal,
        &.list--inline-horizontal,
        &.list--vertical,
        &.list--inline-vertical {
            // Nested selectors
            li {
                padding: $list-content-spacing--huge;
            }
        }
    }
}
