@charset 'utf-8';

/*  ========================================================================
    JUICE -> UTILITIES -> MIXINS
    ========================================================================  */

/**
 * Target an element with a particular breakpoint/media query
 */
@mixin breakpoint($breakpoint) {
    // Check if the breakpoint key exists in the breakpoints array
    @if map-has-key($breakpoints, $breakpoint) {
        // Set the breakpoint
        @media #{map-get($breakpoints, $breakpoint)} {
            // Apply the content
            @content;
        }
    } @else {
        // Show warning message
        @warn 'Breakpoint not found: #{$breakpoint}';
    }
}

/**
 * Clear floating elements.
 */
@mixin clearfix() {
    clear: both;
    content: '';
    display: block;
}

/**
 * Set an element to display disabled attributes.
 */
@mixin disabled() {
    box-shadow: none !important;
    cursor: not-allowed !important;
    opacity: 0.75 !important;
    pointer-events: none;
}

/**
 * Truncate overflowing text with ellipsis.
 */
@mixin truncate-text() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Resolve an elements bold spacing to stop an element jumping if the
 * text jumps between weights.
 */
@mixin reserve-bold-space() {
    color: transparent;
    content: attr(data-reserve-text);
    display: block;
    font-weight: bold;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}

/**
 * Set an element to be positioned absolutely and fill the containing element.
 */
@mixin zero-positioning() {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
