@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ZOOM -> ENTRANCE -> ZOOM OUT UP
    ========================================================================  */

// Check if the animations with zoom out up should be imported
@if $import-animations and $import-animation-zoom-out-up {
    .has-animation {
        // Nested selectors
        &.zoom-out-up {
            @keyframes zoom-out-up {
                from {
                    opacity: 1;
                    transform:
                        translate3d(0, 0, 0)
                        scale3d(1, 1, 1);
                }

                to {
                    opacity: 0;
                    transform:
                        translate3d(0, (0 - $animation-zoom-out-distance), 0)
                        scale3d($animation-zoom-out-scale, $animation-zoom-out-scale, $animation-zoom-out-scale);
                }
            }

            animation-delay: $animation-zoom-out-delay;
            animation-duration: $animation-zoom-out-duration;
            animation-name: zoom-out-up;
            animation-timing-function: $animation-zoom-out-easing;
        }
    }
}
