@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FLIP -> EXIT -> FLIP OUT LEFT
    ========================================================================  */

// Check if the animations with flip out left should be imported
@if $import-animations and $import-animation-flip-out-left {
    .has-animation {
        // Nested selectors
        &.flip-out-left {
            @keyframes flip-out-left {
                from {
                    transform: perspective($animation-flip-out-perspective) rotate3d(0, 1, 0, 0deg);
                }

                to {
                    transform: perspective($animation-flip-out-perspective) rotate3d(0, 1, 0, -90deg);
                }
            }

            animation-delay: $animation-flip-out-delay;
            animation-duration: $animation-flip-out-duration;
            animation-name: flip-out-left;
            animation-timing-function: $animation-flip-out-easing;
        }
    }
}
