@charset 'utf-8';

// Blockquote maps
$blockquote-content-spacing-multipliers: (
    'small': 0.5,
    'medium': 1,
    'large': 1.5
) !default;

$blockquote-font-sizes: (
    'small': font-size('small') + 0.1,
    'medium': font-size() + 0.1,
    'large': font-size('large') + 0.1
) !default;

// Blockquote variables
$blockquote-background-color: base-color('white-darken-2') !default;
$blockquote-border-color: base-color('white-darken-5') !default;
$blockquote-border-color-hover: base-color('primary') !default;
$blockquote-border-radius-bottom-left: 0 !default;
$blockquote-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$blockquote-border-radius-top-left: 0 !default;
$blockquote-border-radius-top-right: $global-border-radius-top-right !default;
$blockquote-border-style: $global-border-style !default;
$blockquote-border-width-bottom: 0 !default;
$blockquote-border-width-left: 5px !default;
$blockquote-border-width-right: 0 !default;
$blockquote-border-width-top: 0 !default;
$blockquote-font-color: base-color('white-text') !default;
$blockquote-font-size: font-size('large') !default;
$blockquote-link-color: $global-link-color !default;
$blockquote-link-color-hover: $global-link-color-hover !default;
$blockquote-link-color-focus: $global-link-color-focus !default;
$blockquote-link-color-active: $global-link-color-active !default;
