@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING
    ========================================================================  */

// Variables
$heading-element-spacing: $default-element-spacing !default;


/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H1
    ========================================================================  */

// Variables
$heading-1-font-color: inherit !default;
$heading-1-font-family: $default-secondary-typeface !default;
$heading-1-font-size: 3.0em !default;
$heading-1-font-variant: normal !default;
$heading-1-font-weight: 400 !default;
$heading-1-letter-spacing: 0 !default;
$heading-1-text-transform: none !default;


/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H2
    ========================================================================  */

// Variables
$heading-2-font-color: inherit !default;
$heading-2-font-family: $default-secondary-typeface !default;
$heading-2-font-size: 2.6em !default;
$heading-2-font-variant: normal !default;
$heading-2-font-weight: 400 !default;
$heading-2-letter-spacing: 0 !default;
$heading-2-text-transform: none !default;


/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H3
    ========================================================================  */

// Variables
$heading-3-font-color: inherit !default;
$heading-3-font-family: $default-secondary-typeface !default;
$heading-3-font-size: 2.2em !default;
$heading-3-font-variant: normal !default;
$heading-3-font-weight: 400 !default;
$heading-3-letter-spacing: 0 !default;
$heading-3-text-transform: none !default;


/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H4
    ========================================================================  */

// Variables
$heading-4-font-color: inherit !default;
$heading-4-font-family: $default-secondary-typeface !default;
$heading-4-font-size: 1.8em !default;
$heading-4-font-variant: normal !default;
$heading-4-font-weight: 400 !default;
$heading-4-letter-spacing: 0 !default;
$heading-4-text-transform: none !default;


/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H5
    ========================================================================  */

// Variables
$heading-5-font-color: inherit !default;
$heading-5-font-family: $default-secondary-typeface !default;
$heading-5-font-size: 1.6em !default;
$heading-5-font-variant: normal !default;
$heading-5-font-weight: 400 !default;
$heading-5-letter-spacing: 0 !default;
$heading-5-text-transform: none !default;


/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H6
    ========================================================================  */

// Variables
$heading-6-font-color: inherit !default;
$heading-6-font-family: $default-secondary-typeface !default;
$heading-6-font-size: 1.4em !default;
$heading-6-font-variant: normal !default;
$heading-6-font-weight: 400 !default;
$heading-6-letter-spacing: 0 !default;
$heading-6-text-transform: none !default;
