@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> PARAGRAPH
    ========================================================================  */

// Variables
$paragraph-element-spacing: $default-element-spacing !default;
$paragraph-font-size: $default-font-size !default;
$paragraph-font-size-sizes: (
    'small': map-get($default-font-size-sizes, 'small'),
    'large': map-get($default-font-size-sizes, 'large'),
    'huge': map-get($default-font-size-sizes, 'huge')
) !default;
