@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> TYPOGRAPHY -> PRE
    ========================================================================  */

// Variables
$pre-background-color: base-color('charcoal') !default;
$pre-border-color: base-color('charcoal-darken-3') !default;
$pre-border-radius-bottom-left: $default-border-radius-bottom-left !default;
$pre-border-radius-bottom-right: $default-border-radius-bottom-right !default;
$pre-border-radius-top-left: $default-border-radius-top-left !default;
$pre-border-radius-top-right: $default-border-radius-top-right !default;
$pre-border-style: $default-border-style !default;
$pre-border-width-bottom: $default-border-width-bottom !default;
$pre-border-width-left: $default-border-width-left !default;
$pre-border-width-right: $default-border-width-right !default;
$pre-border-width-top: $default-border-width-top !default;
$pre-content-spacing: $default-content-spacing !default;
$pre-content-spacing-sizes: (
    'small': map-get($default-content-spacing-sizes, 'small'),
    'large': map-get($default-content-spacing-sizes, 'large'),
    'huge': map-get($default-content-spacing-sizes, 'huge')
) !default;
$pre-element-spacing: $default-element-spacing !default;
$pre-font-color: base-color('charcoal-inverted-text') !default;
$pre-font-family: $default-monoface-typeface !default;
$pre-font-size: $default-font-size !default;
$pre-font-size-sizes: (
    'small': map-get($default-font-size-sizes, 'small'),
    'large': map-get($default-font-size-sizes, 'large'),
    'huge': map-get($default-font-size-sizes, 'huge')
) !default;
