@charset 'utf-8';

// Pre maps
$pre-content-spacing-multipliers: (
    'small': 0.5,
    'medium': 1,
    'large': 1.5
) !default;

// Pre variables
$pre-background-color: base-color('charcoal') !default;
$pre-border-color: base-color('charcoal-darken-3') !default;
$pre-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$pre-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$pre-border-radius-top-left: $global-border-radius-top-left !default;
$pre-border-radius-top-right: $global-border-radius-top-right !default;
$pre-border-style: $global-border-style !default;
$pre-border-width-bottom: $global-border-width-bottom !default;
$pre-border-width-left: $global-border-width-left !default;
$pre-border-width-right: $global-border-width-right !default;
$pre-border-width-top: $global-border-width-top !default;
$pre-font-color: base-color('charcoal-text') !default;
$pre-font-family: $global-monoface-typeface !default;
$pre-font-size: font-size() !default;
