@charset 'utf-8';

/*  ========================================================================
    JUICE -> FRAMEWORK -> BODY
    ========================================================================  */

body {
    // Styles
    background-color: $body-background-color;

    // Pseudo elements
    ::-moz-selection {
        background-color: $body-selection-background-color;
        color: $body-selection-font-color;
        text-shadow: $body-selection-text-shadow;
    }

    ::selection {
        background-color: $body-selection-background-color;
        color: $body-selection-font-color;
        text-shadow: $body-selection-text-shadow;
    }
}
