@charset 'utf-8';

body {
    background-color: $body-background-color;
    color: $body-font-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    letter-spacing: $body-letter-spacing;
    line-height: $body-line-height;

    // Pseudo elements
    ::selection {
        background-color: $body-selection-background-color;
        color: $body-selection-font-color;
        text-shadow: $body-selection-text-shadow;
    }
}
