@charset 'utf-8';

// Global type variables
$global-type-scale: 'major-second' !default;
$global-primary-typeface: font('primary') !default;
$global-secondary-typeface: font('secondary') !default;
$global-monoface-typeface: font('mono') !default;
$global-font-weight: 400 !default;
$global-letter-spacing: 0 !default;

// Global link variables
$global-link-color: base-color('primary') !default;
$global-link-color-hover: base-color('primary-darken-2') !default;
$global-link-color-focus: base-color('primary-darken-4') !default;
$global-link-color-active: base-color('primary-darken-6') !default;

// Global border radius variables
$global-border-radius-top-left: 5px !default;
$global-border-radius-top-right: 5px !default;
$global-border-radius-bottom-right: 5px !default;
$global-border-radius-bottom-left: 5px !default;

// Global border style variables
$global-border-style: solid !default;

// Global border width variables
$global-border-width-top: 1px !default;
$global-border-width-right: 1px !default;
$global-border-width-bottom: 1px !default;
$global-border-width-left: 1px !default;
$global-border-width-divider: 1px !default;

// Global box shadow variables
$global-box-shadow: 1px 4px 21px 0 hsla(0, 0%, 0%, 0.05) !default;

// Global accessibility variables
$global-accessibility-focus-width: 3px !default;
$global-accessibility-focus-color: feedback-color('info-accessibility-focus') !default;
