@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> NAVIGATION -> BREADCRUMB
    ========================================================================  */

// Variables
$breadcrumb-content-spacing: ($default-content-spacing / 2) !default;
$breadcrumb-element-spacing: $default-element-spacing !default;
$breadcrumb-font-color: inherit !default;
$breadcrumb-font-size: $default-font-size !default;
$breadcrumb-link-color: $default-link-color !default;
$breadcrumb-link-color-hover: $default-link-color-hover !default;
$breadcrumb-link-color-focus: $default-link-color-focus !default;
$breadcrumb-link-color-active: $default-link-color-active !default;
$breadcrumb-separator: '\203A' !default;
