@charset 'utf-8';

// Navbar maps
$navbar-content-spacing-multipliers: (
    'small': 0.5,
    'medium': 1,
    'large': 1.5
) !default;

// Navbar variables
$navbar-font-color: inherit !default;
$navbar-link-color: $global-link-color !default;
$navbar-link-color-hover: $global-link-color-hover !default;
$navbar-link-color-focus: $global-link-color-focus !default;
$navbar-link-color-active: $global-link-color-active !default;
