@charset "utf-8";
// Check if the components with modal should be imported
@if $import-components and $import-component-modal {
    .overlay {
        // Nested selectors
        &.modal {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;
            padding: 10vh 0;

            // Check if the modal alignment modifier should be declared
            @if $modal-alignment-modifier {
                // Modifiers
                &.modal--center {
                    justify-content: center;
                }
            }

            // Nested selectors
            .modal__close {
                align-items: center;
                display: flex;
                height: 10vh;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                width: 10vh;
            }

            .modal__content {
                animation-duration: $modal-animation-duration;
                box-shadow: $modal-box-shadow;
                display: inline-flex;
                margin: 0 auto;
                max-height: 100%;
                max-width: 80vw;

                // Nested selectors
                .modal__media {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    max-height: 100%;
                    max-width: 100%;
                    overflow: hidden;

                    // Nested selectors
                    img,
                    video {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }

                .modal__card {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    overflow: hidden;
                    width: $modal-width;

                    // Check if the modal color modifiers should be declared
                    @if $modal-color-modifiers {
                        // Cycle through all of the base colors
                        @each $color-name, $color-value in $base-colors {
                            // Modifiers: Base colors
                            &.is-#{$color-name} {
                                // Nested selectors
                                .modal__head {
                                    background-color: base-color($color-name);
                                    border-color: base-color('#{$color-name}-darken-3');
                                    color: base-color('#{$color-name}-inverted-text');
                                }
                            }
                        }
                    }

                    // Nested selectors
                    a:not(.button) {
                        color: $modal-link-color;

                        // Pseudo classes
                        &:hover {
                            color: $modal-link-color-hover;
                        }

                        &:focus {
                            color: $modal-link-color-focus;
                        }

                        &:active {
                            color: $modal-link-color-active;
                        }
                    }

                    .modal__head,
                    .modal__body,
                    .modal__foot {
                        border: 0 $modal-border-style transparent;
                        border-bottom-width: $modal-border-width-divider;
                        border-left-width: $modal-border-width-left;
                        border-right-width: $modal-border-width-right;

                        // Pseudo classes
                        &:first-child {
                            border-top-left-radius: $modal-border-radius-top-left;
                            border-top-right-radius: $modal-border-radius-top-right;
                            border-top-width: $modal-border-width-top;
                        }

                        &:last-child {
                            border-bottom-left-radius: $modal-border-radius-bottom-left;
                            border-bottom-right-radius: $modal-border-radius-bottom-right;
                            border-bottom-width: $modal-border-width-bottom;
                        }
                    }

                    .modal__body,
                    .modal__foot {
                        padding: content-spacing(map($confirm-content-spacing-multipliers, 'medium'));
                    }

                    .modal__head {
                        align-items: center;
                        background-color: $modal-head-background-color;
                        border-color: $modal-head-border-color;
                        color: $modal-head-font-color;
                        display: flex;
                        flex-shrink: 1;
                        padding: content-spacing(map($confirm-content-spacing-multipliers, 'medium') / 2) content-spacing(map($confirm-content-spacing-multipliers, 'medium'));

                        // Nested selectors
                        .modal__headings {
                            flex-grow: 1;

                            // Nested selectors
                            #{$heading},
                            .modal__heading {
                                margin-bottom: 0;
                                opacity: 0.5;

                                // Pseudo classes
                                &:first-child {
                                    opacity: 1;
                                }
                            }
                        }

                        .modal__actions {
                            align-items: center;
                            display: flex;
                        }
                    }

                    .modal__body {
                        background-color: $modal-body-background-color;
                        border-color: $modal-body-border-color;
                        color: $modal-body-font-color;
                        flex-grow: 1;
                        flex-shrink: 1;
                        overflow-x: hidden;
                        overflow-y: auto;
                    }

                    .modal__foot {
                        background-color: $modal-foot-background-color;
                        border-bottom-width: $modal-border-width-bottom;
                        border-color: $modal-foot-border-color;
                        color: $modal-foot-font-color;
                        display: flex;
                        flex-shrink: 1;

                        // Nested selectors
                        .modal__buttons {
                            align-items: center;
                            display: flex;
                            flex-grow: 1;
                            justify-content: flex-end;

                            // Nested selectors
                            #{$button} {
                                margin-bottom: 0;
                                margin-left: content-spacing(map($confirm-content-spacing-multipliers, 'medium') / 2);

                                // Pseudo classes
                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
