@charset 'utf-8';

/*  ========================================================================
    JUICE -> COMPONENTS -> PASSWORD REVEAL
    ========================================================================  */

.has-password-reveal {
    // Modifiers: State hooks
    &.is-active {
        // Nested selectors
        .password-reveal__icon {
            // Pseudo classes
            &:first-child {
                display: none;
            }

            &:last-child {
                display: flex;
            }
        }
    }

    // Nested selectors
    input[type=password] {
        // Pseudo elements
        &::-ms-reveal {
            display: none;
        }
    }

    .password-reveal__icon {
        // Pseudo classes
        &:first-child {
            display: flex;
        }

        &:last-child {
            display: none;
        }
    }
}
