@charset 'utf-8';

// Select maps
$select-content-spacing-multipliers: (
    'small': 0.25,
    'medium': 0.5,
    'large': 0.75
) !default;

$select-font-sizes: (
    'small': font-size('small') - 0.1,
    'medium': font-size() - 0.1,
    'large': font-size('large') - 0.1
) !default;

$select-element-height-multipliers: (
    'small': 1.25,
    'medium': 1.5,
    'large': 1.75
) !default;

// Select variables
$select-accessibility-focus-width: $global-accessibility-focus-width !default;
$select-accessibility-focus-color: $global-accessibility-focus-color !default;
$select-background-color: base-color('white') !default;
$select-background-color-hover: base-color('white') !default;
$select-background-color-focus: base-color('white') !default;
$select-background-color-active: base-color('white') !default;
$select-border-color: base-color('white-darken-3') !default;
$select-border-color-hover: base-color('white-darken-6') !default;
$select-border-color-focus: feedback-color('info') !default;
$select-border-color-active: feedback-color('info') !default;
$select-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$select-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$select-border-radius-top-left: $global-border-radius-top-left !default;
$select-border-radius-top-right: $global-border-radius-top-right !default;
$select-border-style: $global-border-style !default;
$select-border-width-bottom: $global-border-width-bottom !default;
$select-border-width-left: $global-border-width-left !default;
$select-border-width-right: $global-border-width-right !default;
$select-border-width-top: $global-border-width-top !default;
$select-font-color: base-color('white-text') !default;
$select-font-color-hover: base-color('white-text') !default;
$select-font-color-focus: base-color('white-text') !default;
$select-font-color-active: base-color('white-text') !default;
$select-font-family: $global-primary-typeface !default;
