@charset 'utf-8';

// Textarea maps
$textarea-content-spacing-multipliers: (
    'small': 0.25,
    'medium': 0.5,
    'large': 0.75
) !default;

$textarea-font-sizes: (
    'small': font-size('small'),
    'medium': font-size(),
    'large': font-size('large')
) !default;

// Textarea variables
$textarea-accessibility-focus-width: $global-accessibility-focus-width !default;
$textarea-accessibility-focus-color: $global-accessibility-focus-color !default;
$textarea-background-color: base-color('white') !default;
$textarea-background-color-hover: base-color('white') !default;
$textarea-background-color-focus: base-color('white') !default;
$textarea-background-color-active: base-color('white') !default;
$textarea-border-color: base-color('white-darken-3') !default;
$textarea-border-color-hover: base-color('white-darken-6') !default;
$textarea-border-color-focus: feedback-color('info') !default;
$textarea-border-color-active: feedback-color('info') !default;
$textarea-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$textarea-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$textarea-border-radius-top-left: $global-border-radius-top-left !default;
$textarea-border-radius-top-right: $global-border-radius-top-right !default;
$textarea-border-style: $global-border-style !default;
$textarea-border-width-bottom: $global-border-width-bottom !default;
$textarea-border-width-left: $global-border-width-left !default;
$textarea-border-width-right: $global-border-width-right !default;
$textarea-border-width-top: $global-border-width-top !default;
$textarea-font-color: base-color('white-text') !default;
$textarea-font-color-hover: base-color('white-text') !default;
$textarea-font-color-focus: base-color('white-text') !default;
$textarea-font-color-active: base-color('white-text') !default;
$textarea-font-family: $global-primary-typeface !default;
$textarea-placeholder-color: base-color('white-darken-6') !default;
