@charset 'utf-8';

// Accordion maps
$accordion-colors: (
    'primary',
    'charcoal'
) !default;

$accordion-content-spacing-multipliers: (
    'small': 0.5,
    'medium': 1,
    'large': 1.5
) !default;

// Accordion variables
$accordion-background-color: base-color('white') !default;
$accordion-border-color: base-color('white-darken-3') !default;
$accordion-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$accordion-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$accordion-border-radius-top-left: $global-border-radius-top-left !default;
$accordion-border-radius-top-right: $global-border-radius-top-right !default;
$accordion-border-style: $global-border-style !default;
$accordion-border-width-bottom: $global-border-width-bottom !default;
$accordion-border-width-divider: $global-border-width-divider !default;
$accordion-border-width-left: $global-border-width-left !default;
$accordion-border-width-right: $global-border-width-right !default;
$accordion-border-width-top: $global-border-width-top !default;
$accordion-box-shadow: $global-box-shadow !default;
$accordion-font-color: font-color() !default;
$accordion-head-background-color: base-color('white') !default;
$accordion-head-border-color: base-color('white-darken-3') !default;
$accordion-head-font-color: font-color() !default;
$accordion-link-color: $global-link-color !default;
$accordion-link-color-hover: $global-link-color-hover !default;
$accordion-link-color-focus: $global-link-color-focus !default;
$accordion-link-color-active: $global-link-color-active !default;
