@charset 'utf-8';

// Chip maps
$chip-colors: (
    'primary',
    'charcoal'
) !default;

$chip-content-spacing-multipliers: (
    'small': 0.2,
    'medium': 0.4,
    'large': 0.6
) !default;

$chip-font-sizes: (
    'small': (font-size('small') - 0.1em),
    'medium': (font-size() - 0.1em),
    'large': (font-size('large') - 0.1em)
) !default;

$chip-element-height-multipliers: (
    'small': 1.25,
    'medium': 1.5,
    'large': 1.75
) !default;

// Chip variables
$chip-animation-duration: 300ms !default;
$chip-background-color: base-color('white') !default;
$chip-border-color: base-color('white-darken-3') !default;
$chip-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$chip-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$chip-border-radius-top-left: $global-border-radius-top-left !default;
$chip-border-radius-top-right: $global-border-radius-top-right !default;
$chip-border-style: $global-border-style !default;
$chip-border-width-bottom: $global-border-width-bottom !default;
$chip-border-width-left: $global-border-width-left !default;
$chip-border-width-right: $global-border-width-right !default;
$chip-border-width-top: $global-border-width-top !default;
$chip-font-color: font-color() !default;
$chip-link-color: $global-link-color !default;
$chip-link-color-hover: $global-link-color-hover !default;
$chip-link-color-focus: $global-link-color-focus !default;
$chip-link-color-active: $global-link-color-active !default;
