@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> COMPONENTS -> CHIP
    ========================================================================  */

// Variables
$chip-animation-duration: 300ms !default;
$chip-background-color: base-color('white') !default;
$chip-border-color: base-color('white-darken-3') !default;
$chip-border-radius-bottom-left: $default-border-radius-bottom-left !default;
$chip-border-radius-bottom-right: $default-border-radius-bottom-right !default;
$chip-border-radius-top-left: $default-border-radius-top-left !default;
$chip-border-radius-top-right: $default-border-radius-top-right !default;
$chip-border-style: $default-border-style !default;
$chip-border-width-bottom: $default-border-width-bottom !default;
$chip-border-width-left: $default-border-width-left !default;
$chip-border-width-right: $default-border-width-right !default;
$chip-border-width-top: $default-border-width-top !default;
$chip-content-spacing: ($default-content-spacing / 2) !default;
$chip-content-spacing-sizes: (
    'small': (map-get($default-content-spacing-sizes, 'small') / 2),
    'large': (map-get($default-content-spacing-sizes, 'large') / 2),
    'huge': (map-get($default-content-spacing-sizes, 'huge') / 2)
) !default;
$chip-element-spacing: $default-element-spacing !default;
$chip-font-color: font-color('default') !default;
$chip-font-size: ($default-font-size - 0.2em) !default;
$chip-font-size-sizes: (
    'small': (map-get($default-font-size-sizes, 'small') - 0.2em),
    'large': (map-get($default-font-size-sizes, 'large') - 0.2em),
    'huge': (map-get($default-font-size-sizes, 'huge') - 0.2em)
) !default;
$chip-height: $default-element-height !default;
$chip-height-sizes: (
    'small': map-get($default-element-height-sizes, 'small'),
    'large': map-get($default-element-height-sizes, 'large'),
    'huge': map-get($default-element-height-sizes, 'huge')
) !default;
$chip-link-color: $default-link-color !default;
$chip-link-color-hover: $default-link-color-hover !default;
$chip-link-color-focus: $default-link-color-focus !default;
$chip-link-color-active: $default-link-color-active !default;
