@charset 'utf-8';

// Modal maps
$modal-colors: (
    'primary',
    'charcoal'
) !default;

$modal-content-spacings: (
    'small': 0.5,
    'medium': 1,
    'large': 1.5
) !default;

// Modal variables
$modal-animation-duration: 200ms !default;
$modal-box-shadow: 0 0 30px -50px hsla(0, 0%, 0%, 1) !default;
$modal-body-background-color: base-color('white') !default;
$modal-body-border-color: base-color('white-darken-3') !default;
$modal-body-font-color: font-color() !default;
$modal-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$modal-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$modal-border-radius-top-left: $global-border-radius-top-left !default;
$modal-border-radius-top-right: $global-border-radius-top-right !default;
$modal-border-style: $global-border-style !default;
$modal-border-width-bottom: $global-border-width-bottom !default;
$modal-border-width-divider: $global-border-width-divider !default;
$modal-border-width-left: $global-border-width-left !default;
$modal-border-width-right: $global-border-width-right !default;
$modal-border-width-top: $global-border-width-top !default;
$modal-foot-background-color: base-color('white') !default;
$modal-foot-border-color: base-color('white-darken-3') !default;
$modal-foot-font-color: font-color() !default;
$modal-head-background-color: base-color('white') !default;
$modal-head-border-color: base-color('white-darken-3') !default;
$modal-head-font-color: font-color() !default;
$modal-link-color: $global-link-color !default;
$modal-link-color-hover: $global-link-color-hover !default;
$modal-link-color-focus: $global-link-color-focus !default;
$modal-link-color-active: $global-link-color-active !default;
$modal-width: 600px !default;
