@charset 'utf-8';

// Tooltip maps
$tooltip-colors: (
    'primary',
    'charcoal'
) !default;

// Tooltip variables
$tooltip-animation-duration: 300ms !default;
$tooltip-arrow-size: 6px !default;
$tooltip-background-color: base-color('black') !default;
$tooltip-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$tooltip-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$tooltip-border-radius-top-left: $global-border-radius-top-left !default;
$tooltip-border-radius-top-right: $global-border-radius-top-right !default;
$tooltip-content-spacing-multiplier: 0.25 !default;
$tooltip-font-color: base-color('black-text') !default;
$tooltip-font-family: 'Trebuchet', sans-serif !default;
$tooltip-font-size: (font-size() - 0.3em) !default;
$tooltip-offset: 2px !default;
$tooltip-max-width: 200px !default;
$tooltip-opacity: 0.9 !default;
