@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> ABBR
    ========================================================================  */

// Check if the elements with abbr should be imported
@if $import-elements and $import-element-abbr {
    abbr {
        // Variables
        --border-color: var(--feedback-color-info);

        // Styles
        text-decoration: none !important;

        // Check if the abbr color modifiers should be declared
        @if $abbr-color-modifiers {
            // Cycle through all of the colors
            @each $color-name, $color in $colors {
                // Modifiers: Colors
                &.is-#{$color-name} {
                    // Variables
                    --border-color: var(--color-#{$color-name});
                }
            }
        }

        // Modifiers: Props
        &[title] {
            border-bottom: 1px dotted var(--border-color);
            cursor: help;
        }
    }
}
