@charset 'utf-8';

// Check if the elements with abbr should be imported
@if $import-elements and $import-element-abbr {
    abbr {
        text-decoration: none !important;

        // Modifiers: Props
        &[title] {
            border-bottom: 1px dotted $abbr-border-color;
            cursor: help;
        }

        // Check if the abbr color modifiers should be declared
        @if $abbr-color-modifiers {
            // Cycle through all of the abbr colors
            @each $abbr-color in $abbr-colors {
                // Modifiers: Base colors
                &.is-#{$abbr-color} {
                    // Modifiers: Props
                    &[title] {
                        border-color: base-color($abbr-color);
                    }
                }
            }
        }
    }
}
