@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> BODY
    ========================================================================  */

// Check if the elements with body should be imported
@if $import-elements and $import-element-body {
    body {
        // Variables
        --font-color: var(--font-color-default);
        --font-family: var(--primary-typeface);
        --font-size: var(--root-font-size);
        --font-weight: var(--default-font-weight);
        --letter-spacing: var(--default-letter-spacing);
        --line-height: var(--default-line-height);

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        line-height: var(--line-height);
    }
}
