@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    #{$heading} {
        // Variables
        --element-spacing: var(--default-element-spacing);

        // Styles
        line-height: normal;
        margin: 0;
        margin-bottom: var(--element-spacing);
        padding: 0;
        position: relative;
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H1
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    h1 {
        // Variables
        --font-color: inherit;
        --font-family: var(--secondary-typeface);
        --font-size: 3.0em;
        --font-variant: normal;
        --font-weight: 400;
        --letter-spacing: 0;
        --text-transform: none;

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-variant: var(--font-variant);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        text-transform: var(--text-transform);
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H2
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    h2 {
        // Variables
        --font-color: inherit;
        --font-family: var(--secondary-typeface);
        --font-size: 2.6em;
        --font-variant: normal;
        --font-weight: 400;
        --letter-spacing: 0;
        --text-transform: none;

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-variant: var(--font-variant);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        text-transform: var(--text-transform);
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H3
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    h3 {
        // Variables
        --font-color: inherit;
        --font-family: var(--secondary-typeface);
        --font-size: 2.2em;
        --font-variant: normal;
        --font-weight: 400;
        --letter-spacing: 0;
        --text-transform: none;

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-variant: var(--font-variant);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        text-transform: var(--text-transform);
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H4
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    h4 {
        // Variables
        --font-color: inherit;
        --font-family: var(--secondary-typeface);
        --font-size: 1.8em;
        --font-variant: normal;
        --font-weight: 400;
        --letter-spacing: 0;
        --text-transform: none;

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-variant: var(--font-variant);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        text-transform: var(--text-transform);
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H5
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    h5 {
        // Variables
        --font-color: inherit;
        --font-family: var(--secondary-typeface);
        --font-size: 1.6em;
        --font-variant: normal;
        --font-weight: 400;
        --letter-spacing: 0;
        --text-transform: none;

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-variant: var(--font-variant);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        text-transform: var(--text-transform);
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HEADING -> H6
    ========================================================================  */

// Check if the elements with heading should be imported
@if $import-elements and $import-element-heading {
    h6 {
        // Variables
        --font-color: inherit;
        --font-family: var(--secondary-typeface);
        --font-size: 1.4em;
        --font-variant: normal;
        --font-weight: 400;
        --letter-spacing: 0;
        --text-transform: none;

        // Styles
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-variant: var(--font-variant);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        text-transform: var(--text-transform);
    }
}
