@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> HORIZONTAL RULE
    ========================================================================  */

// Check if the elements with horizontal rule should be imported
@if $import-elements and $import-element-horizontal-rule {
    hr {
        // Variables
        --border-color: hsla(0, 0%, 50%, .15);
        --border-style: var(--default-border-style);
        --border-width: var(--default-border-width-divider);
        --element-spacing: var(--default-element-spacing);

        // Styles
        border: 0;
        border-bottom: var(--border-width) var(--border-style) var(--border-color);
        clear: both;
        margin: 0;
        margin-bottom: var(--element-spacing);

        // Check if the horizontal rule color modifiers should be declared
        @if $horizontal-rule-color-modifiers {
            // Cycle through all of the colors
            @each $color-name, $color in $colors {
                // Modifiers: Colors
                &.is-#{$color-name} {
                    // Variables
                    --border-color: var(--color-#{$color-name});
                }
            }
        }
    }
}
