@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> KBD
    ========================================================================  */

// Check if the elements with kbd should be imported
@if $import-elements and $import-element-kbd {
    kbd {
        // Variables
        --background-color: var(--color-charcoal);
        --border-color: var(--color-charcoal-darken-3);
        --border-radius-bottom-left: var(--default-border-radius-bottom-left);
        --border-radius-bottom-right: var(--default-border-radius-bottom-right);
        --border-radius-top-left: var(--default-border-radius-top-left);
        --border-radius-top-right: var(--default-border-radius-top-right);
        --border-style: var(--default-border-style);
        --border-width-bottom: var(--default-border-width-bottom);
        --border-width-left: var(--default-border-width-left);
        --border-width-right: var(--default-border-width-right);
        --border-width-top: var(--default-border-width-top);
        --content-spacing: 4px;
        --font-color: var(--color-white);
        --font-family: var(--monoface-typeface);
        --font-size: var(--default-font-size);

        // Styles
        background-color: var(--background-color);
        border: 0 var(--border-style) var(--border-color);
        border-bottom-left-radius: var(--border-radius-bottom-left);
        border-bottom-right-radius: var(--border-radius-bottom-right);
        border-bottom-width: var(--border-width-bottom);
        border-left-width: var(--border-width-left);
        border-right-width: var(--border-width-right);
        border-top-left-radius: var(--border-radius-top-left);
        border-top-right-radius: var(--border-radius-top-right);
        border-top-width: var(--border-width-top);
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: var(--font-size);
        padding: var(--content-spacing);

        // Check if the kbd size modifiers should be declared
        @if $kbd-size-modifiers {
            // Cycle through all of the sizes
            @each $size in $sizes {
                // Modifiers: Sizes
                &.is-#{$size} {
                    // Variables
                    --font-size: var(--default-font-size-#{$size});
                }

                // Check if the kbd size modifier breakpoints should be declared
                @if $kbd-size-modifier-breakpoints {
                    // Cycle through all of the breakpoints
                    @each $breakpoint-name, $breakpoint in $breakpoints {
                        // Breakpoint
                        @include breakpoint($breakpoint-name) {
                            // Modifiers: Size
                            &.is-#{$size}\@#{$breakpoint-name} {
                                // Variables
                                --font-size: var(--default-font-size-#{$size});
                            }
                        }
                    }
                }
            }
        }
    }
}
