@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> LIST
    ========================================================================  */

// Check if the elements with list should be imported
@if $import-elements and $import-element-list {
    ul,
    ol {
        // Variables
        --element-spacing: var(--default-element-spacing);
        --font-size: var(--default-font-size);
        --indent-spacing: var(--default-content-spacing);

        // Styles
        font-size: var(--font-size);
        margin: 0;
        margin-bottom: var(--element-spacing);
        margin-left: var(--indent-spacing);

        // Check if the list size modifiers should be declared
        @if $list-size-modifiers {
            // Cycle through all of the sizes
            @each $size in $sizes {
                // Modifiers: Sizes
                &.is-#{$size} {
                    // Variables
                    --font-size: var(--default-font-size-#{$size});

                    // Styles (IE fallback for postcss-css-variables)
                    font-size: var(--font-size);
                }

                // Check if the list size modifier breakpoints should be declared
                @if $list-size-modifier-breakpoints {
                    // Cycle through all of the breakpoints
                    @each $breakpoint-name, $breakpoint in $breakpoints {
                        // Breakpoint
                        @include breakpoint($breakpoint-name) {
                            // Modifiers: Size
                            &.is-#{$size}\@#{$breakpoint-name} {
                                // Variables
                                --font-size: var(--default-font-size-#{$size});

                                // Styles (IE fallback for postcss-css-variables)
                                font-size: var(--font-size);
                            }
                        }
                    }
                }
            }
        }

        // Check if the list style type modifiers should be declared
        @if $list-style-type-modifiers {
            // Cycle through all of the list style types
            @each $type in $list-style-types {
                // Modifiers
                &.list--#{$type} {
                    // Styles
                    list-style-type: $type;
                }
            }
        }

        // Check if the list clear modifier should be declared
        @if $list-clear-modifier {
            // Modifiers
            &.list--clear {
                // Styles
                list-style: none;
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                padding: 0;
            }
        }
    }
}
