@charset 'utf-8';

// Check if the elements with list should be imported
@if $import-elements and $import-element-list {
    ul,
    ol {
        margin-bottom: element-spacing();
        margin-left: element-spacing();

        // Check if the list style type modifiers should be declared
        @if $list-style-type-modifiers {
            // Cycle through all of the list style types
            @each $list-style-type in $list-style-types {
                // Modifiers
                &.list--#{$list-style-type} {
                    list-style-type: $list-style-type;
                }
            }
        }

        // Check if the list clear modifier should be declared
        @if $list-clear-modifier {
            // Modifiers
            &.list--clear {
                list-style: none;
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                padding: 0;
            }
        }
    }
}
