@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> MARK
    ========================================================================  */

// Check if the elements with mark should be imported
@if $import-elements and $import-element-mark {
    mark {
        // Variables
        --background-color: hsla(51, 90%, 83%, 1);
        --border-color: transparent;
        --border-radius-bottom-left: 0;
        --border-radius-bottom-right: 0;
        --border-radius-top-left: 0;
        --border-radius-top-right: 0;
        --border-style: var(--default-border-style);
        --border-width-bottom: 0;
        --border-width-left: 0 ;
        --border-width-right: 0;
        --border-width-top: 0;
        --content-spacing: 4px;
        --font-color: var(--font-color-default);
        --font-size: var(--default-font-size);

        // Styles
        background-color: var(--background-color);
        border: 0 var(--border-style) var(--border-color);
        border-bottom-left-radius: var(--border-radius-bottom-left);
        border-bottom-right-radius: var(--border-radius-bottom-right);
        border-bottom-width: var(--border-width-bottom);
        border-left-width: var(--border-width-left);
        border-right-width: var(--border-width-right);
        border-top-left-radius: var(--border-radius-top-left);
        border-top-right-radius: var(--border-radius-top-right);
        border-top-width: var(--border-width-top);
        color: var(--font-color);
        font-size: var(--font-size);
        padding: var(--content-spacing);

        // Check if the mark size modifiers should be declared
        @if $mark-size-modifiers {
            // Cycle through all of the sizes
            @each $size in $sizes {
                // Modifiers: Sizes
                &.is-#{$size} {
                    // Variables
                    --font-size: var(--default-font-size-#{$size});
                }

                // Check if the mark size modifier breakpoints should be declared
                @if $mark-size-modifier-breakpoints {
                    // Cycle through all of the breakpoints
                    @each $breakpoint-name, $breakpoint in $breakpoints {
                        // Breakpoint
                        @include breakpoint($breakpoint-name) {
                            // Modifiers: Size
                            &.is-#{$size}\@#{$breakpoint-name} {
                                // Variables
                                --font-size: var(--default-font-size-#{$size});
                            }
                        }
                    }
                }
            }
        }
    }
}
