@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY -> PARAGRAPH
    ========================================================================  */

// Check if the elements with paragraph should be imported
@if $import-elements and $import-element-paragraph {
    p {
        // Variables
        --element-spacing: var(--default-element-spacing);
        --font-size: var(--default-font-size);

        // Styles
        font-size: var(--font-size);
        margin: 0;
        margin-bottom: var(--element-spacing);

        // Check if the paragraph size modifiers should be declared
        @if $paragraph-size-modifiers {
            // Cycle through all of the sizes
            @each $size in $sizes {
                // Modifiers: Sizes
                &.is-#{$size} {
                    // Variables
                    --font-size: var(--default-font-size-#{$size});
                }

                // Check if the paragraph size modifier breakpoints should be declared
                @if $paragraph-size-modifier-breakpoints {
                    // Cycle through all of the breakpoints
                    @each $breakpoint-name, $breakpoint in $breakpoints {
                        // Breakpoint
                        @include breakpoint($breakpoint-name) {
                            // Modifiers: Size
                            &.is-#{$size}\@#{$breakpoint-name} {
                                // Variables
                                --font-size: var(--default-font-size-#{$size});
                            }
                        }
                    }
                }
            }
        }
    }
}
