@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TYPOGRAPHY
    ========================================================================  */

// Import
@import 'abbr';
@import 'blockquote';
@import 'body';
@import 'code';
@import 'heading';
@import 'horizontal-rule';
@import 'kbd';
@import 'link';
@import 'list';
@import 'mark';
@import 'paragraph';
@import 'pre';
@import 'samp';
@import 'var';
