@charset 'utf-8';

/*  ========================================================================
    JUICE -> FRAMEWORK -> LAYOUT -> CONTAINER -> VARIABLES
    ========================================================================  */

$container-gutter: $element-spacing !default;
$container-max-width: 1200px !default;


/*  ========================================================================
    JUICE -> FRAMEWORK -> LAYOUT -> CONTAINER
    ========================================================================  */

.container {
    display: block;
    margin: 0 auto;
    max-width: $container-max-width;
    min-height: 1px;
    padding: 0 $container-gutter;
    position: relative;
    width: 100%;

    // Modifiers
    &.container--no-gutter {
        padding: 0;
    }

    // Breakpoints
    @each $name, $breakpoint in $breakpoints {
        @include breakpoint($name) {
            // Modifiers
            &.container--no-gutter\@#{$name} {
                padding: 0;
            }
        }
    }
}
