@charset "utf-8";

/* =============================================================================================
   JUICE -> FRAMEWORK -> LAYOUT -> GRID -> VARIABLES
   ============================================================================================= */

$grid-gutter: $element-spacing / 2 !default;


/* =============================================================================================
   JUICE -> FRAMEWORK -> LAYOUT -> GRID
   ============================================================================================= */

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$grid-gutter);
    position: relative;

    // Nested selectors
    .grid__item {
        flex: 1 0 0;
        max-width: 100%;
        padding: 0 $grid-gutter;

        // Modifiers
        @for $i from 1 through 12 {
            // Variables
            $width: (100% / 12) * $i;

            // Modifiers
            &.grid__item--span-#{$i} {
                flex-basis: $width;
                max-width: $width;
            }

            &.grid__item--offset-#{$i} {
                margin-left: $width;
            }
        }

        &.grid__item--no-offset {
            margin-left: 0;
        }

        &.grid__item--first {
            order: -1;
        }

        &.grid__item--last {
            order: 1;
        }

        &.grid__item--top {
            align-self: flex-start;
        }

        &.grid__item--middle {
            align-self: center;
        }

        &.grid__item--bottom {
            align-self: flex-end;
        }
    }

    // Modifiers
    &.grid--no-gutter {
        margin: 0;

        // Nested selectors
        .grid__item {
            padding: 0;
        }
    }

    &.grid--nowrap {
        flex-wrap: nowrap;
    }

    &.grid--start {
        justify-content: flex-start;
    }

    &.grid--center {
        justify-content: center;
    }

    &.grid--end {
        justify-content: flex-end;
    }

    &.grid--around {
        justify-content: space-around;
    }

    &.grid--between {
        justify-content: space-between;
    }

    &.grid--top {
        align-items: flex-start;
    }

    &.grid--middle {
        align-items: center;
    }

    &.grid--bottom {
        align-items: flex-end;
    }

    &.grid--reverse {
        flex-direction: row-reverse;
    }

    &.grid--column {
        flex-direction: column;

        // Nested selectors
        .grid__item {
            flex-basis: auto;
        }

        // Modifiers
        &.grid--reverse {
            flex-direction: column-reverse;
        }
    }

    // Breakpoints
    @each $name, $breakpoint in $breakpoints {
        @include breakpoint($name) {
            // Nested selectors
            .grid__item {
                // Modifiers
                @for $i from 1 through 12 {
                    // Variables
                    $width: (100% / 12) * $i;

                    // Modifiers
                    &.grid__item--span-#{$i}\@#{$name} {
                        flex-basis: $width;
                        max-width: $width;
                    }

                    &.grid__item--offset-#{$i}\@#{$name} {
                        margin-left: $width;
                    }
                }

                &.grid__item--no-offset\@#{$name} {
                    margin-left: 0;
                }

                &.grid__item--first\@#{$name} {
                    order: -1;
                }

                &.grid__item--last\@#{$name} {
                    order: 1;
                }

                &.grid__item--top\@#{$name} {
                    align-self: flex-start;
                }

                &.grid__item--middle\@#{$name} {
                    align-self: center;
                }

                &.grid__item--bottom\@#{$name} {
                    align-self: flex-end;
                }
            }

            // Modifiers
            &.grid--no-gutter\@#{$name} {
                margin: 0;

                // Nested selectors
                .grid__item {
                    padding: 0;
                }
            }

            &.grid--nowrap\@#{$name} {
                flex-wrap: nowrap;
            }

            &.grid--start\@#{$name} {
                justify-content: flex-start;
            }

            &.grid--center\@#{$name} {
                justify-content: center;
            }

            &.grid--end\@#{$name} {
                justify-content: flex-end;
            }

            &.grid--around\@#{$name} {
                justify-content: space-around;
            }

            &.grid--between\@#{$name} {
                justify-content: space-between;
            }

            &.grid--top\@#{$name} {
                align-items: flex-start;
            }

            &.grid--middle\@#{$name} {
                align-items: center;
            }

            &.grid--bottom\@#{$name} {
                align-items: flex-end;
            }

            &.grid--reverse\@#{$name} {
                flex-direction: row-reverse;
            }

            &.grid--column\@#{$name} {
                flex-direction: column;

                // Nested selectors
                .grid__item {
                    flex-basis: auto;
                }

                // Modifiers
                &.grid--reverse {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}
