@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> NAVIGATION -> NAVBAR
    ========================================================================  */

// Check if the elements with navbar should be imported
@if $import-elements and $import-element-navbar {
    .navbar {
        // Variables
        --content-spacing: var(--default-content-spacing);
        --font-color: inherit;
        --font-size: var(--default-font-size);
        --element-spacing: var(--default-element-spacing);

        // Styles
        align-items: center;
        color: var(--font-color);
        display: flex;
        flex-wrap: wrap;
        font-size: var(--font-size);
        position: relative;
        margin: 0;
        margin-bottom: var(--element-spacing);

        // Nested selectors
        a:not(.button) {
            // Variables
            --font-color: var(--default-link-color);

            // Styles
            color: var(--font-color);

            // Pseudo classes
            &:hover {
                // Variables
                --font-color: var(--default-link-color-hover);

                // Styles (IE fallback for postcss-css-variables)
                color: var(--font-color);
            }

            &:focus {
                // Variables
                --font-color: var(--default-link-color-focus);

                // Styles (IE fallback for postcss-css-variables)
                color: var(--font-color);
            }

            &:active {
                // Variables
                --font-color: var(--default-link-color-active);

                // Styles (IE fallback for postcss-css-variables)
                color: var(--font-color);
            }
        }

        .navbar__logo,
        .navbar__links,
        .navbar__bars {
            // Styles
            padding: 0 calc(var(--content-spacing) / 2);

            // Pseudo classes
            &:first-child {
                // Styles
                padding-left: 0;
            }

            &:last-child {
                // Styles
                padding-right: 0;
            }
        }

        .navbar__logo {
            // Styles
            display: flex;
            flex: 1 0 25%;

            // Nested selectors
            a:not(.button) {
                // Styles
                display: inline-flex;
            }
        }

        .navbar__links {
            // Styles
            display: none;

            // Nested selectors
            ul,
            ol {
                // Styles
                display: none;
                list-style: none;
                margin: 0;
                padding: 0;

                // Nested selectors
                li {
                    // Styles
                    flex: 1 0 auto;

                    // Nested selectors
                    a:not(.button) {
                        // Styles
                        display: inline-flex;
                        padding: var(--content-spacing);
                    }
                }
            }
        }

        .navbar__icons {
            // Nested selectors
            #{$button} {
                // Styles
                margin-bottom: 0;
                margin-right: calc(var(--content-spacing) / 4);

                // Pseudo classes
                &:last-child {
                    // Styles
                    margin-right: 0;
                }
            }
        }

        .navbar__revealer {
            // Styles
            display: none;
            flex: 1 0 100%;
            padding: var(--content-spacing);

             // Nested selectors
            ul,
            ol {
                // Styles
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;

                 // Nested selectors
                li {
                    // Styles
                    flex: 1 0 auto;

                     // Nested selectors
                    a:not(.button) {
                        // Styles
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        padding: calc(var(--content-spacing) / 2) var(--content-spacing);
                    }
                }
            }
        }

        // Breakpoint
        @include breakpoint('desktop-up') {
            // Nested selectors
            .navbar__links {
                // Nested selectors
                ul,
                ol {
                    // Styles
                    display: flex;
                }
            }

            .navbar__icons {
                // Styles
                display: none;
            }

            .navbar__links {
                // Styles
                display: flex;
            }

            .navbar__revealer {
                // Styles
                display: none !important;
            }
        }
    }
}
