@charset 'utf-8';

// Hero maps
$hero-colors: (
    'primary',
    'charcoal'
) !default;

$hero-content-spacing-multipliers: (
    'small': 0.5,
    'medium': 1,
    'large': 2
) !default;

// Hero variables
$hero-background-color: base-color('charcoal') !default;
$hero-background-position: center !default;
$hero-background-repeat: no-repeat !default;
$hero-background-size: cover !default;
$hero-font-color: base-color('charcoal-text') !default;
$hero-link-color: base-color('charcoal-text') !default;
$hero-link-color-hover: base-color('charcoal-text') !default;
$hero-link-color-focus: base-color('charcoal-text') !default;
$hero-link-color-active: base-color('charcoal-text') !default;
