@charset "utf-8";

/*  ========================================================================
    JUICE -> COMPONENTS -> ACCORDION -> VARIABLES
    ========================================================================  */

$accordion-body-background-color: base-color('white') !default;
$accordion-body-border-color: base-color('white', $border-color-palette-type) !default;
$accordion-body-font-color: base-color('white', 'invert') !default;
$accordion-border-radius-bottom-left: $border-radius-bottom-left !default;
$accordion-border-radius-bottom-right: $border-radius-bottom-right !default;
$accordion-border-radius-top-left: $border-radius-top-left !default;
$accordion-border-radius-top-right: $border-radius-top-right !default;
$accordion-border-style: $border-style !default;
$accordion-border-width-bottom: $border-width-bottom !default;
$accordion-border-width-divider: $border-width-divider !default;
$accordion-border-width-left: $border-width-left !default;
$accordion-border-width-right: $border-width-right !default;
$accordion-border-width-top: $border-width-top !default;
$accordion-box-shadow: $box-shadow !default;
$accordion-content-spacing: $content-spacing !default;
$accordion-content-spacing-small: $content-spacing-small !default;
$accordion-content-spacing-large: $content-spacing-large !default;
$accordion-content-spacing-huge: $content-spacing-huge !default;
$accordion-element-spacing: $element-spacing !default;
$accordion-element-spacing-small: $element-spacing-small !default;
$accordion-element-spacing-large: $element-spacing-large !default;
$accordion-element-spacing-huge: $element-spacing-huge !default;
$accordion-font-size: $font-size !default;
$accordion-font-size-small: $font-size-small !default;
$accordion-font-size-large: $font-size-large !default;
$accordion-font-size-huge: $font-size-huge !default;
$accordion-head-background-color: base-color('white') !default;
$accordion-head-border-color: base-color('white', $border-color-palette-type) !default;
$accordion-head-font-color: base-color('white', 'invert') !default;
$accordion-link-color: $link-color !default;
$accordion-link-color-active: $link-color-active !default;
$accordion-link-color-focus: $link-color-focus !default;
$accordion-link-color-hover: $link-color-hover !default;


/*  ========================================================================
    JUICE -> COMPONENTS -> ACCORDION
    ========================================================================  */

.accordion {
    border: 0 $accordion-border-style transparent;
    border-bottom-left-radius: $accordion-border-radius-bottom-left;
    border-bottom-right-radius: $accordion-border-radius-bottom-right;
    border-top-left-radius: $accordion-border-radius-top-left;
    border-top-right-radius: $accordion-border-radius-top-right;
    display: flex;
    flex-direction: column;
    font-size: $accordion-font-size;
    margin: 0;
    padding: 0;

    // Modifiers: Sizes
    &.is-small {
        font-size: $accordion-font-size-small;

        // Nested selectors
        .accordion__item {
            margin-bottom: $accordion-element-spacing-small;

            // Nested selectors
            .accordion__head,
            .accordion__body {
                padding: $accordion-content-spacing-small;
            }
        }
    }

    &.is-large {
        font-size: $accordion-font-size-large;

        // Nested selectors
        .accordion__item {
            margin-bottom: $accordion-element-spacing-large;

            // Nested selectors
            .accordion__head,
            .accordion__body {
                padding: $accordion-content-spacing-large;
            }
        }
    }

    &.is-huge {
        font-size: $accordion-font-size-huge;

        // Nested selectors
        .accordion__item {
            margin-bottom: $accordion-element-spacing-huge;

            // Nested selectors
            .accordion__head,
            .accordion__body {
                padding: $accordion-content-spacing-huge;
            }
        }
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            // Nested selectors
            .accordion__item {
                // Nested selectors
                .accordion__head {
                    background-color: base-color($name);
                    border-color: base-color($name, $border-color-palette-type);
                    color: base-color($name, 'invert');
                }
            }
        }
    }

    // Nested selectors
    a {
        color: $accordion-link-color;

        // Pseudo classes
        &:focus {
            color: $accordion-link-color-focus;
        }

        &:hover {
            color: $accordion-link-color-hover;
        }

        &:active {
            color: $accordion-link-color-active;
        }
    }

    .accordion__item {
        box-shadow: $accordion-box-shadow;
        margin-bottom: $accordion-element-spacing;

        // Modifiers: State hooks
        &.is-expanded {
            // Nested selectors
            .accordion__head {
                // Nested selectors
                .accordion__action {
                    // Nested selectors
                    .accordion__collapse {
                        display: none;
                    }

                    .accordion__expand {
                        display: inline-flex;
                    }
                }
            }
        }

        &.is-collapsed {
            // Nested selectors
            .accordion__head {
                border-bottom-left-radius: $accordion-border-radius-bottom-left;
                border-bottom-right-radius: $accordion-border-radius-bottom-right;
                border-bottom-width: $accordion-border-width-bottom;

                // Nested selectors
                .accordion__action {
                    // Nested selectors
                    .accordion__collapse {
                        display: inline-flex;
                    }

                    .accordion__expand {
                        display: none;
                    }
                }
            }

            .accordion__body {
                display: none;
            }
        }

        // Nested selectors
        .accordion__head,
        .accordion__body {
            border: 0 $accordion-border-style transparent;
            padding: $accordion-content-spacing;
        }

        .accordion__head {
            align-items: center;
            background-color: $accordion-head-background-color;
            border-bottom-width: $accordion-border-width-divider;
            border-color: $accordion-head-border-color;
            border-left-width: $accordion-border-width-left;
            border-right-width: $accordion-border-width-right;
            border-top-left-radius: $accordion-border-radius-top-left;
            border-top-right-radius: $accordion-border-radius-top-right;
            border-top-width: $accordion-border-width-top;
            color: $accordion-head-font-color;
            display: flex;
            cursor: pointer;
            user-select: none;

            // Nested selectors
            .accordion__heading {
                flex-grow: 1;

                // Nested selectors
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                .accordion__heading {
                    margin-bottom: 0;
                    opacity: 0.5;

                    // Pseudo classes
                    &:first-child {
                        opacity: 1;
                    }
                }
            }

            .accordion__action {
                align-items: center;
                display: flex;
                font-size: $body-font-size;

                // Nested selectors
                #{$button} {
                    margin: 0;
                }
            }
        }

        .accordion__body {
            background-color: $accordion-body-background-color;
            border-bottom-left-radius: $accordion-border-radius-bottom-left;
            border-bottom-right-radius: $accordion-border-radius-bottom-right;
            border-bottom-width: $accordion-border-width-bottom;
            border-color: $accordion-body-border-color;
            border-left-width: $accordion-border-width-left;
            border-right-width: $accordion-border-width-right;
            color: $accordion-body-font-color;
        }
    }
}
