@charset "utf-8";

/* =============================================================================================
   RUCKSACK -> COMPONENTS -> CARDS -> VARIABLES
   ============================================================================================= */

$card-background-color: base-color('white') !default;
$card-content-spacing: $content-spacing !default;
$card-content-spacing--small: $content-spacing--small !default;
$card-content-spacing--large: $content-spacing--large !default;
$card-content-spacing--huge: $content-spacing--huge !default;
$card-font-color: font-color('default') !default;
$card-font-size: $font-size !default;
$card-font-size--small: $font-size--small !default;
$card-font-size--large: $font-size--large !default;
$card-font-size--huge: $font-size--huge !default;
$card-link-color: $link-color !default;
$card-link-color--hover: $link-color--hover !default;
$card-border-style: $border-style !default;
$card-border-color: base-color('white', 'darken-3') !default;
$card-border-width--top: $border-width--top !default;
$card-border-width--right: $border-width--right !default;
$card-border-width--bottom: $border-width--bottom !default;
$card-border-width--left: $border-width--left !default;
$card-border-radius--top-left: $border-radius--top-left !default;
$card-border-radius--top-right: $border-radius--top-right !default;
$card-border-radius--bottom-right: $border-radius--bottom-right !default;
$card-border-radius--bottom-left: $border-radius--bottom-left !default;
$card-box-shadow: 1px 4px 21px 0 hsla(0, 0, 0, 0.05) !default;
$card-element-spacing: $element-spacing !default;
$card-element-spacing--small: $element-spacing--small !default;
$card-element-spacing--large: $element-spacing--large !default;
$card-element-spacing--huge: $element-spacing--huge !default;


/* =============================================================================================
   RUCKSACK -> COMPONENTS -> CARDS
   ============================================================================================= */

.card {
    border: 0 $card-border-style $card-border-color;
    border-width: $card-border-width--top
                  $card-border-width--right
                  $card-border-width--bottom
                  $card-border-width--left;
    border-radius: $card-border-radius--top-left
                   $card-border-radius--top-right
                   $card-border-radius--bottom-right
                   $card-border-radius--bottom-left;
    background-color: $card-background-color;
    box-shadow: $card-box-shadow;
    color: $card-font-color;
    display: flex;
    flex-direction: column;
    font-size: $card-font-size;
    margin: 0;
    margin-bottom: $card-element-spacing;
    overflow: hidden;
    padding: 0;

    // Modifiers: Size
    &.is-small {
        font-size: $card-font-size--small;
        margin-bottom: $card-element-spacing--small;

        // Nested selectors
        .card__content {
            padding: $card-content-spacing--small;

            // Nested selectors
            .card__head,
            .card__body,
            .card__foot {
                padding-bottom: $card-content-spacing--small;

                // Pseudo classes
                &:last-child {
                    padding-bottom: 0;
                }

                // Nested selectors
                #{$buttons} {
                    @include button-size--small();
                }
            }

            .card__head,
            .card__foot {
                // Nested selectors
                .card__icons {
                    // Pseudo classes
                    &:first-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-right: $card-content-spacing--small / 4;
                        }
                    }

                    &:last-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-left: $card-content-spacing--small / 4;
                        }
                    }

                    // Nested selectors
                    #{$buttons} {
                        @include icon-button-size--small();
                    }
                }
            }

            .card__foot {
                // Nested selectors
                .card__buttons {
                    &:last-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-left: $card-content-spacing--small / 2;
                        }
                    }

                    // Nested selectors
                    #{$buttons} {
                        margin-right: $card-content-spacing--small / 2;
                    }
                }
            }
        }
    }

    &.is-large {
        font-size: $card-font-size--large;
        margin-bottom: $card-element-spacing--large;

        // Nested selectors
        .card__content {
            padding: $card-content-spacing--large;

            // Nested selectors
            .card__head,
            .card__body,
            .card__foot {
                padding-bottom: $card-content-spacing--large;

                // Pseudo classes
                &:last-child {
                    padding-bottom: 0;
                }

                // Nested selectors
                #{$buttons} {
                    @include button-size--large();
                }
            }

            .card__head,
            .card__foot {
                // Nested selectors
                .card__icons {
                    // Pseudo classes
                    &:first-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-right: $card-content-spacing--large / 4;
                        }
                    }

                    &:last-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-left: $card-content-spacing--large / 4;
                        }
                    }

                    // Nested selectors
                    #{$buttons} {
                        @include icon-button-size--large();
                    }
                }
            }

            .card__foot {
                // Nested selectors
                .card__buttons {
                    &:last-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-left: $card-content-spacing--large / 2;
                        }
                    }

                    // Nested selectors
                    #{$buttons} {
                        margin-right: $card-content-spacing--large / 2;
                    }
                }
            }
        }
    }

    &.is-huge {
        font-size: $card-font-size--huge;
        margin-bottom: $card-element-spacing--huge;

        // Nested selectors
        .card__content {
            padding: $card-content-spacing--huge;

            // Nested selectors
            .card__head,
            .card__body,
            .card__foot {
                padding-bottom: $card-content-spacing--huge;

                // Pseudo classes
                &:last-child {
                    padding-bottom: 0;
                }

                // Nested selectors
                #{$buttons} {
                    @include button-size--huge();
                }
            }

            .card__head,
            .card__foot {
                // Nested selectors
                .card__icons {
                    // Pseudo classes
                    &:first-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-right: $card-content-spacing--huge / 4;
                        }
                    }

                    &:last-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-left: $card-content-spacing--huge / 4;
                        }
                    }

                    // Nested selectors
                    #{$buttons} {
                        @include icon-button-size--huge();
                    }
                }
            }

            .card__foot {
                // Nested selectors
                .card__buttons {
                    &:last-child {
                        // Nested selectors
                        #{$buttons} {
                            margin-left: $card-content-spacing--huge / 2;
                        }
                    }

                    // Nested selectors
                    #{$buttons} {
                        margin-right: $card-content-spacing--huge / 2;
                    }
                }
            }
        }
    }

    // Nested selectors
    a {
        color: $card-link-color;

        // Pseudo classes
        &:hover {
            color: $card-link-color--hover;
        }
    }

    .card__media {
        border-radius: $card-border-radius--top-left
                       $card-border-radius--top-right
                       0
                       0;
        overflow: hidden;
        padding: 0;

        // Nested selectors
        img {
            display: block;
            width: 100%;
        }
    }

    .card__content {
        padding: $card-content-spacing;

        // Nested selectors
        .card__head,
        .card__body,
        .card__foot {
            padding-bottom: $card-content-spacing;

            // Pseudo classes
            &:last-child {
                padding-bottom: 0;
            }
        }

        .card__head,
        .card__foot {
            display: flex;

            // Nested selectors
            .card__icons {
                display: flex;

                // Pseudo classes
                &:first-child {
                    // Nested selectors
                    #{$buttons} {
                        margin-right: $card-content-spacing / 4;
                    }
                }

                &:last-child {
                    // Nested selectors
                    #{$buttons} {
                        margin-left: $card-content-spacing / 4;
                    }
                }

                // Nested selectors
                #{$buttons} {
                    color: inherit;
                    margin-bottom: 0;
                    opacity: 0.25;

                    // Pseudo classes
                    &:focus,
                    &:hover {
                        opacity: 0.5;
                    }

                    &:active {
                        opacity: 0.75;
                    }
                }
            }
        }

        .card__head {
            align-items: center;

            // Nested selectors
            .card__headings {
                flex-grow: 1;

                // Nested selectors
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-bottom: 0;
                    opacity: 0.5;

                    // Pseudo classes
                    &:first-child {
                        opacity: 1;
                    }
                }
            }
        }

        .card__foot {
            // Nested selectors
            .card__buttons {
                display: flex;
                flex-grow: 1;
                font-size: $body-font-size;
                justify-content: flex-start;

                &:last-child {
                    justify-content: flex-end;

                    // Nested selectors
                    #{$buttons} {
                        margin-left: $card-content-spacing / 2;
                        margin-right: 0;
                    }
                }

                // Nested selectors
                #{$buttons} {
                    margin-bottom: 0;
                    margin-right: $card-content-spacing / 2;
                }
            }
        }
    }
}
