@charset "utf-8";

/* =============================================================================================
   JUICE -> COMPONENTS -> DROPDOWN -> VARIABLES
   ============================================================================================= */

$dropdown-animation-duration: 200ms !default;
$dropdown-background-color: base-color('white') !default;
$dropdown-border-color: base-color('white', $pseudo-border-color-type) !default;
$dropdown-border-radius--top-left: $border-radius--top-left !default;
$dropdown-border-radius--top-right: $border-radius--top-right !default;
$dropdown-border-radius--bottom-right: $border-radius--bottom-right !default;
$dropdown-border-radius--bottom-left: $border-radius--bottom-left !default;
$dropdown-border-style: $border-style !default;
$dropdown-border-width--top: $border-width--top !default;
$dropdown-border-width--right: $border-width--right !default;
$dropdown-border-width--bottom: $border-width--bottom !default;
$dropdown-border-width--left: $border-width--left !default;
$dropdown-border-width--divider: $border-width--divider !default;
$dropdown-box-shadow: $box-shadow !default;
$dropdown-content-spacing: $content-spacing !default;
$dropdown-content-spacing--small: $content-spacing--small !default;
$dropdown-content-spacing--large: $content-spacing--large !default;
$dropdown-content-spacing--huge: $content-spacing--huge !default;
$dropdown-font-color: base-color('white', 'invert') !default;
$dropdown-font-size: $font-size !default;
$dropdown-font-size--small: $font-size--small !default;
$dropdown-font-size--large: $font-size--large !default;
$dropdown-font-size--huge: $font-size--huge !default;
$dropdown-item-link-background-color: base-color('white') !default;
$dropdown-item-link-background-color--focus: base-color('primary', $pseudo-background-color-type--focus) !default;
$dropdown-item-link-background-color--hover: base-color('primary', $pseudo-background-color-type--hover) !default;
$dropdown-item-link-background-color--active: base-color('primary', $pseudo-background-color-type--active) !default;
$dropdown-item-link-color: $link-color !default;
$dropdown-item-link-color--focus: base-color('primary', 'invert') !default;
$dropdown-item-link-color--hover: base-color('primary', 'invert') !default;
$dropdown-item-link-color--active: base-color('primary', 'invert') !default;
$dropdown-link-color: $link-color !default;
$dropdown-link-color--focus: $link-color--focus !default;
$dropdown-link-color--hover: $link-color--hover !default;
$dropdown-link-color--active: $link-color--active !default;
$dropdown-offset: 10px !default;
$dropdown-width: 200px !default;
$dropdown-width--small: 200px !default;
$dropdown-width--large: 300px !default;
$dropdown-width--huge: 400px !default;


/* =============================================================================================
   JUICE -> COMPONENTS -> DROPDOWN
   ============================================================================================= */

.has-dropdown {
    display: inline-flex;
    outline: none;
    position: relative;

    // Modifiers: State hooks
    &.is-active {
        // Nested selectors
        .dropdown {
            display: block;
        }
    }

    // Modifiers
    &.has-dropdown--static {
        position: static;
    }

    // Nested selectors
    .dropdown {
        color: $dropdown-font-color;
        display: none;
        font-size: $dropdown-font-size;
        padding-top: $dropdown-offset;
        width: $dropdown-width;
        position: absolute;
        text-align: left;
        top: 100%;
        z-index: get-stack-index('dropdown');

        // Modifiers: Sizes
        &.is-small {
            font-size: $dropdown-font-size--small;
            width: $dropdown-width--small;

            // Modifiers
            &.dropdown--megamenu {
                // Nested selectors
                .dropdown__content {
                    padding: $dropdown-content-spacing--small;
                }
            }

            // Nested selectors
            .dropdown__content {
                // Nested selectors
                .dropdown__item {
                    padding: ($dropdown-content-spacing--small / 2) $dropdown-content-spacing--small;
                }
            }
        }

        &.is-large {
            font-size: $dropdown-font-size--large;
            width: $dropdown-width--large;

            // Modifiers
            &.dropdown--megamenu {
                // Nested selectors
                .dropdown__content {
                    padding: $dropdown-content-spacing--large;
                }
            }

            // Nested selectors
            .dropdown__content {
                // Nested selectors
                .dropdown__item {
                    padding: ($dropdown-content-spacing--large / 2) $dropdown-content-spacing--large;
                }
            }
        }

        &.is-huge {
            font-size: $dropdown-font-size--huge;
            width: $dropdown-width--huge;

            // Modifiers
            &.dropdown--megamenu {
                // Nested selectors
                .dropdown__content {
                    padding: $dropdown-content-spacing--huge;
                }
            }

            // Nested selectors
            .dropdown__content {
                // Nested selectors
                .dropdown__item {
                    padding: ($dropdown-content-spacing--huge / 2) $dropdown-content-spacing--huge;
                }
            }
        }

        // Modifiers
        &.dropdown--center {
            left: 50%;
            transform: translateX(-50%);
        }

        &.dropdown--right {
            right: 0;
        }

        &.dropdown--megamenu {
            left: 0;
            width: 100%;

            // Nested selectors
            .dropdown__content {
                padding: $dropdown-content-spacing;
            }
        }

        // Nested selectors
        .dropdown__content {
            animation-duration: $dropdown-animation-duration;
            background-color: $dropdown-background-color;
            border: 0 $dropdown-border-style $dropdown-border-color;
            border-bottom-left-radius: $dropdown-border-radius--bottom-left;
            border-bottom-right-radius: $dropdown-border-radius--bottom-right;
            border-bottom-width: $dropdown-border-width--bottom;
            border-left-width: $dropdown-border-width--left;
            border-top-left-radius: $dropdown-border-radius--top-left;
            border-top-right-radius: $dropdown-border-radius--top-right;
            border-top-width: $dropdown-border-width--top;
            border-right-width: $dropdown-border-width--right;
            box-shadow: $dropdown-box-shadow;

            // Nested selectors
            a {
                color: $dropdown-link-color;
                padding: 0;

                // Pseudo classes
                &:focus {
                    color: $dropdown-link-color--focus;
                }

                &:hover {
                    color: $dropdown-link-color--hover;
                }

                &:active {
                    color: $dropdown-link-color--active;
                }

                // Modifiers
                &.dropdown__item {
                    background-color: $dropdown-item-link-background-color;
                    color: $dropdown-item-link-color;
                    display: block;
                    outline: none;
                    position: relative;
                    text-decoration: none;
                    z-index: get-stack-index('default');

                    // Pseudo classes
                    &:hover {
                        background-color: $dropdown-item-link-background-color--hover;
                        color: $dropdown-item-link-color--hover;
                        z-index: get-stack-index('hover');
                    }

                    &:focus {
                        background-color: $dropdown-item-link-background-color--focus;
                        box-shadow: set-focus-box-shadow($dropdown-item-link-background-color--hover);
                        color: $dropdown-item-link-color--focus;
                        z-index: get-stack-index('focus');
                    }

                    &:active {
                        background-color: $dropdown-item-link-background-color--active;
                        color: $dropdown-item-link-color--active;
                        z-index: get-stack-index('active');
                    }

                    &:first-child {
                        border-top-left-radius: $dropdown-border-radius--top-left;
                        border-top-right-radius: $dropdown-border-radius--top-right;
                    }

                    &:last-child {
                        border-bottom-left-radius: $dropdown-border-radius--bottom-left;
                        border-bottom-right-radius: $dropdown-border-radius--bottom-right;
                    }
                }
            }

            .dropdown__item {
                padding: ($dropdown-content-spacing / 2) $dropdown-content-spacing;
            }

            .dropdown__divider {
                border: 0 $dropdown-border-style $dropdown-border-color;
                border-bottom-width: $dropdown-border-width--divider;
            }
        }
    }
}
