@charset "utf-8";

/* =============================================================================================
   JUICE -> COMPONENTS -> MODAL -> VARIABLES
   ============================================================================================= */

$modal-animation-duration: 200ms !default;
$modal-body-background-color: base-color('white') !default;
$modal-body-border-color: base-color('white', $pseudo-border-color-type) !default;
$modal-body-font-color: base-color('white', 'invert') !default;
$modal-border-radius--top-left: $border-radius--top-left !default;
$modal-border-radius--top-right: $border-radius--top-right !default;
$modal-border-radius--bottom-right: $border-radius--bottom-right !default;
$modal-border-radius--bottom-left: $border-radius--bottom-left !default;
$modal-border-style: $border-style !default;
$modal-border-width--top: $border-width--top !default;
$modal-border-width--right: $border-width--right !default;
$modal-border-width--bottom: $border-width--bottom !default;
$modal-border-width--left: $border-width--left !default;
$modal-border-width--divider: $border-width--divider !default;
$modal-box-shadow: $box-shadow !default;
$modal-close-background-color: transparent !default;
$modal-close-background-color--focus: hsla(0, 0, 0, 0.04) !default;
$modal-close-background-color--hover: hsla(0, 0, 0, 0.08) !default;
$modal-close-background-color--active: hsla(0, 0, 0, 0.12) !default;
$modal-close-border-radius--top-left: 999px !default;
$modal-close-border-radius--top-right: 999px !default;
$modal-close-border-radius--bottom-right: 999px !default;
$modal-close-border-radius--bottom-left: 999px !default;
$modal-close-border-style: solid !default;
$modal-close-border-width--top: 0 !default;
$modal-close-border-width--right: 0 !default;
$modal-close-border-width--bottom: 0 !default;
$modal-close-border-width--left: 0 !default;
$modal-close-border-color: transparent !default;
$modal-close-border-color--focus: transparent !default;
$modal-close-border-color--hover: transparent !default;
$modal-close-border-color--active:  transparent !default;
$modal-close-font-color: base-color('white') !default;
$modal-close-font-color--focus: base-color('white') !default;
$modal-close-font-color--hover: base-color('white') !default;
$modal-close-font-color--active: base-color('white') !default;
$modal-close-font-size: 1.2em !default;
$modal-close-opacity: 0.4 !default;
$modal-close-opacity--hover: 0.8 !default;
$modal-close-opacity--focus: 0.8 !default;
$modal-close-opacity--active: 1 !default;
$modal-close-width: 40px !default;
$modal-close-height: 40px !default;
$modal-content-spacing: $content-spacing !default;
$modal-content-spacing--small: $content-spacing--small !default;
$modal-content-spacing--large: $content-spacing--large !default;
$modal-content-spacing--huge: $content-spacing--huge !default;
$modal-font-size: $font-size !default;
$modal-font-size--small: $font-size--small !default;
$modal-font-size--large: $font-size--large !default;
$modal-font-size--huge: $font-size--huge !default;
$modal-foot-background-color: base-color('white') !default;
$modal-foot-border-color: base-color('white', $pseudo-border-color-type) !default;
$modal-foot-font-color: base-color('white', 'invert') !default;
$modal-head-background-color: base-color('white') !default;
$modal-head-border-color: base-color('white', $pseudo-border-color-type) !default;
$modal-head-font-color: base-color('white', 'invert') !default;
$modal-link-color: $link-color !default;
$modal-link-color--focus: $link-color--focus !default;
$modal-link-color--hover: $link-color--hover !default;
$modal-link-color--active: $link-color--active !default;
$modal-width: 600px !default;
$modal-width--small: 500px !default;
$modal-width--large: 700px !default;
$modal-width--huge: 800px !default;


/* =============================================================================================
   JUICE -> COMPONENTS -> MODAL
   ============================================================================================= */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10vh 0;
    overflow: hidden;

    // Modifiers
    &.modal--center {
        justify-content: center;
    }

    // Nested selectors
    .modal__close {
        background-color: $modal-close-background-color;
        border: 0 $modal-close-border-style $modal-close-border-color;
        border-bottom-left-radius: $modal-close-border-radius--bottom-left;
        border-bottom-right-radius: $modal-close-border-radius--bottom-right;
        border-top-left-radius: $modal-close-border-radius--top-left;
        border-top-right-radius: $modal-close-border-radius--top-right;
        box-shadow: none;
        color: $modal-close-font-color;
        font-size: $modal-close-font-size;
        height: $modal-close-height;
        margin: 0;
        opacity: $modal-close-opacity;
        padding: 0;
        position: fixed;
        right: $modal-content-spacing;
        top: $modal-content-spacing;
        width: $modal-close-width;

        // Pseudo classes
        &:focus {
            background-color: $modal-close-background-color--focus;
            border-color: $modal-close-border-color--focus;
            color: $modal-close-font-color--focus;
            opacity: $modal-close-opacity--focus;
        }

        &:hover {
            background-color: $modal-close-background-color--hover;
            border-color: $modal-close-border-color--hover;
            color: $modal-close-font-color--hover;
            opacity: $modal-close-opacity--hover;
        }

        &:active {
            background-color: $modal-close-background-color--active;
            border-color: $modal-close-border-color--active;
            color: $modal-close-font-color--active;
            opacity: $modal-close-opacity--active;
        }
    }
}


/* =============================================================================================
   JUICE -> COMPONENTS -> MODAL -> ITEM
   ============================================================================================= */

.modal__item {
    animation-duration: $modal-animation-duration;
    box-shadow: $modal-box-shadow;
    display: flex;
    flex-direction: column;
    font-size: $modal-font-size;
    margin: 0 auto;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
    max-width: 80vw;

    // Breakpoints
    @include breakpoint('desktop-up') {
        width: $modal-width;
        max-width: 50vw;

        // Modifiers: Sizes
        &.is-small {
            width: $modal-width--small;
        }

        &.is-large {
            width: $modal-width--large;
        }

        &.is-huge {
            width: $modal-width--huge;
        }
    }

    // Modifiers: Sizes
    &.is-small {
        font-size: $modal-font-size--small;

        .modal__head,
        .modal__body,
        .modal__foot {
            padding: $modal-content-spacing--small;
        }

        .modal__foot {
            // Nested selectors
            .modal__buttons {
                // Nested selectors
                #{$button} {
                    margin-left: $modal-content-spacing--small / 2;

                    // Pseudo classes
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &.is-large {
        font-size: $modal-font-size--large;

        .modal__head,
        .modal__body,
        .modal__foot {
            padding: $modal-content-spacing--large;
        }

        .modal__foot {
            // Nested selectors
            .modal__buttons {
                // Nested selectors
                #{$button} {
                    margin-left: $modal-content-spacing--large / 2;

                    // Pseudo classes
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &.is-huge {
        font-size: $modal-font-size--huge;

        .modal__head,
        .modal__body,
        .modal__foot {
            padding: $modal-content-spacing--huge;
        }

        .modal__foot {
            // Nested selectors
            .modal__buttons {
                // Nested selectors
                #{$button} {
                    margin-left: $modal-content-spacing--huge / 2;

                    // Pseudo classes
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            // Nested selectors
            .modal__head {
                background-color: base-color($name);
                border-color: base-color($name, $pseudo-border-color-type);
                color: base-color($name, 'invert');
            }
        }
    }

    // Modifiers: Feedback colors
    @each $name, $color in $feedback-colors {
        &.has-#{$name} {
            // Nested selectors
            .modal__head {
                background-color: feedback-color($name);
                border-color: feedback-color($name, $pseudo-border-color-type);
                color: feedback-color($name, 'invert');
            }
        }
    }

    // Nested selectors
    a {
        color: $modal-link-color;

        // Pseudo classes
        &:focus {
            color: $modal-link-color--focus;
        }

        &:hover {
            color: $modal-link-color--hover;
        }

        &:active {
            color: $modal-link-color--active;
        }
    }

    .modal__head,
    .modal__body,
    .modal__foot {
        border: 0 $modal-border-style transparent;
        border-bottom-width: $modal-border-width--divider;
        border-left-width: $modal-border-width--left;
        border-top-width: 0;
        border-right-width: $modal-border-width--right;
        padding: $modal-content-spacing;

        // Pseudo classes
        &:first-child {
            border-top-left-radius: $modal-border-radius--top-left;
            border-top-right-radius: $modal-border-radius--top-right;
            border-top-width: $modal-border-width--top;
        }

        &:last-child {
            border-bottom-left-radius: $modal-border-radius--bottom-left;
            border-bottom-right-radius: $modal-border-radius--bottom-right;
            border-bottom-width: $modal-border-width--bottom;
        }
    }

    .modal__head,
    .modal__foot {
        display: flex;
        flex-shrink: 0;
    }

    .modal__head {
        align-items: center;
        background-color: $modal-head-background-color;
        border-color: $modal-head-border-color;
        color: $modal-head-font-color;

        // Nested selectors
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .modal__heading {
            margin-bottom: 0;
            opacity: 0.5;

            // Pseudo classes
            &:first-child {
                opacity: 1;
            }
        }
    }

    .modal__body {
        background-color: $modal-body-background-color;
        border-color: $modal-body-border-color;
        color: $modal-body-font-color;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .modal__foot {
        background-color: $modal-foot-background-color;
        border-color: $modal-foot-border-color;
        color: $modal-foot-font-color;

        // Nested selectors
        .modal__buttons {
            align-items: center;
            display: flex;
            flex-grow: 1;
            font-size: $body-font-size;
            justify-content: flex-end;

            // Nested selectors
            #{$button} {
                margin-bottom: 0;
                margin-left: $modal-content-spacing / 2;

                // Pseudo classes
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
