@charset "utf-8";

/*  =========================================================================
    JUICE -> COMPONENTS -> NOTICE -> VARIABLES
    ========================================================================= */

$notice-animation-duration: 300ms !default;
$notice-background-color: base-color('white') !default;
$notice-border-color: base-color('white', $border-color-palette-type) !default;
$notice-border-radius-bottom-left: $border-radius-bottom-left !default;
$notice-border-radius-bottom-right: $border-radius-bottom-right !default;
$notice-border-radius-top-left: $border-radius-top-left !default;
$notice-border-radius-top-right: $border-radius-top-right !default;
$notice-border-style: $border-style !default;
$notice-border-width-bottom: $border-width-bottom !default;
$notice-border-width-divider: $border-width-divider !default;
$notice-border-width-left: $border-width-left !default;
$notice-border-width-right: $border-width-right !default;
$notice-border-width-top: $border-width-top !default;
$notice-box-shadow: $box-shadow !default;
$notice-content-spacing: $content-spacing !default;
$notice-content-spacing-small: $content-spacing-small !default;
$notice-content-spacing-large: $content-spacing-large !default;
$notice-content-spacing-huge: $content-spacing-huge !default;
$notice-element-spacing: $element-spacing !default;
$notice-element-spacing-small: $element-spacing-small !default;
$notice-element-spacing-large: $element-spacing-large !default;
$notice-element-spacing-huge: $element-spacing-huge !default;
$notice-feedback-background-color: feedback-color('info') !default;
$notice-feedback-border-color: feedback-color('info', $border-color-palette-type) !default;
$notice-feedback-font-color: feedback-color('info', 'invert') !default;
$notice-feedback-width: 70px !default;
$notice-feedback-width-small: 60px !default;
$notice-feedback-width-large: 80px !default;
$notice-feedback-width-huge: 90px !default;
$notice-font-color: base-color('white', 'invert') !default;
$notice-font-size: $font-size !default;
$notice-font-size-small: $font-size-small !default;
$notice-font-size-large: $font-size-large !default;
$notice-font-size-huge: $font-size-huge !default;
$notice-link-color: $link-color !default;
$notice-link-color-active: $link-color-active !default;
$notice-link-color-focus: $link-color-focus !default;
$notice-link-color-hover: $link-color-hover !default;


/*  =========================================================================
    JUICE -> COMPONENTS -> NOTICE
    ========================================================================= */

.notice {
    animation-duration: $notice-animation-duration;
    border-bottom-left-radius: $notice-border-radius-bottom-left;
    border-bottom-right-radius: $notice-border-radius-bottom-right;
    border-top-left-radius: $notice-border-radius-top-left;
    border-top-right-radius: $notice-border-radius-top-right;
    box-shadow: $notice-box-shadow;
    display: flex;
    font-size: $notice-font-size;
    margin: 0;
    margin-bottom: $notice-element-spacing;

    // Modifiers: Sizes
    &.is-small {
        font-size: $notice-font-size-small;
        margin-bottom: $notice-element-spacing-small;

        // Nested selectors
        .notice__feedback {
            flex: 0 0 $notice-feedback-width-small;
        }

        .notice__text,
        .notice__action {
            padding: $notice-content-spacing-small;
        }

        .notice__action {
            padding-left: 0;
        }
    }

    &.is-large {
        font-size: $notice-font-size-large;
        margin-bottom: $notice-element-spacing-large;

        // Nested selectors
        .notice__feedback {
            flex: 0 0 $notice-feedback-width-large;
        }

        .notice__text,
        .notice__action {
            padding: $notice-content-spacing-large;
        }

        .notice__action {
            padding-left: 0;
        }
    }

    &.is-huge {
        font-size: $notice-font-size-huge;
        margin-bottom: $notice-element-spacing-huge;

        // Nested selectors
        .notice__feedback {
            flex: 0 0 $notice-feedback-width-huge;
        }

        .notice__text,
        .notice__action {
            padding: $notice-content-spacing-huge;
        }

        .notice__action {
            padding-left: 0;
        }
    }

    // Modifiers: Feedback colors
    @each $name, $color in $feedback-colors {
        &.has-#{$name} {
            // Nested selectors
            .notice__feedback {
                background-color: feedback-color($name);
                border-color: feedback-color($name, $border-color-palette-type);
                color: feedback-color($name, 'invert');
            }
        }
    }

    // Nested selectors
    a {
        color: $notice-link-color;

        // Pseudo classes
        &:focus {
            color: $notice-link-color-focus;
        }

        &:hover {
            color: $notice-link-color-hover;
        }

        &:active {
            color: $notice-link-color-active;
        }
    }

    .notice__feedback,
    .notice__text,
    .notice__action {
        align-items: center;
        justify-content: center;

        // Pseudo classes
        &:first-child {
            border-bottom-left-radius: $border-radius-bottom-left;
            border-top-left-radius: $border-radius-top-left;
        }

        &:last-child {
            border-bottom-right-radius: $border-radius-bottom-right;
            border-top-right-radius: $border-radius-top-right;
        }
    }

    .notice__feedback {
        background-color: $notice-feedback-background-color;
        border: 0 $notice-border-style $notice-feedback-border-color;
        border-bottom-width: $notice-border-width-bottom;
        border-left-width: $notice-border-width-left;
        border-right-width: $notice-border-width-divider;
        border-top-width: $notice-border-width-top;
        color: $notice-feedback-font-color;
        display: flex;
        flex: 0 0 $notice-feedback-width;
        font-size: 2em;
    }

    .notice__text,
    .notice__action {
        background-color: $notice-background-color;
        border: 0 $notice-border-style $notice-border-color;
        border-bottom-width: $notice-border-width-bottom;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: $notice-border-width-top;
        color: $notice-font-color;
        flex-grow: 1;
        font-size: $notice-font-size;
        padding: $notice-content-spacing;

        // Pseudo classes
        &:first-child {
            border-left-width: $notice-border-width-left;
        }

        &:last-child {
            border-right-width: $notice-border-width-right;
        }
    }

    .notice__action {
        display: flex;
        padding-left: 0;

        // Nested selectors
        #{$button} {
            margin: 0;
        }
    }
}
