@charset "utf-8";

/*  =========================================================================
    JUICE -> COMPONENTS -> POPOVER -> VARIABLES
    ========================================================================= */

$popover-animation-duration: 300ms !default;
$popover-arrow-size: 6px !default;
$popover-arrow-color: base-color('white', $border-color-palette-type) !default;
$popover-body-background-color: base-color('white') !default;
$popover-body-border-color: base-color('white', $border-color-palette-type) !default;
$popover-body-font-color: base-color('white', 'invert') !default;
$popover-border-radius-bottom-left: $border-radius-bottom-left !default;
$popover-border-radius-bottom-right: $border-radius-bottom-right !default;
$popover-border-radius-top-left: $border-radius-top-left !default;
$popover-border-radius-top-right: $border-radius-top-right !default;
$popover-border-style: $border-style !default;
$popover-border-width-bottom: $border-width-bottom !default;
$popover-border-width-divider: $border-width-divider !default;
$popover-border-width-left: $border-width-left !default;
$popover-border-width-right: $border-width-right !default;
$popover-border-width-top: $border-width-top !default;
$popover-box-shadow: $box-shadow !default;
$popover-content-spacing: $content-spacing / 2 !default;
$popover-content-spacing-small: $content-spacing-small / 2 !default;
$popover-content-spacing-large: $content-spacing-large / 2 !default;
$popover-content-spacing-huge: $content-spacing-huge / 2 !default;
$popover-font-size: $font-size - 0.2em !default;
$popover-font-size-small: $font-size-small - 0.2em !default;
$popover-font-size-large: $font-size-large - 0.2em !default;
$popover-font-size-huge: $font-size-huge - 0.2em !default;
$popover-head-background-color: base-color('white') !default;
$popover-head-border-color: base-color('white', $border-color-palette-type) !default;
$popover-head-font-color: base-color('white', 'invert') !default;
$popover-link-color: $link-color !default;
$popover-link-color-active: $link-color-active !default;
$popover-link-color-focus: $link-color-focus !default;
$popover-link-color-hover: $link-color-hover !default;
$popover-max-width: 200px !default;
$popover-max-width-small: 150px !default;
$popover-max-width-large: 250px !default;
$popover-max-width-huge: 300px !default;
$popover-offset: 5px !default;


/*  =========================================================================
    JUICE -> COMPONENTS -> POPOVER
    ========================================================================= */

.has-popover {
    outline: none
}

.popover {
    animation-duration: $popover-animation-duration;
    left: 0;
    margin: 0;
    margin-top: -($popover-arrow-size + $popover-offset);
    max-width: $popover-max-width;
    outline: none;
    position: absolute;
    top: 0;
    z-index: get-stack-index('popover');

    // Pseudo elements
    &::before {
        border-bottom: 0;
        border-left: $popover-arrow-size solid transparent;
        border-right: $popover-arrow-size solid transparent;
        border-top: $popover-arrow-size solid $popover-arrow-color;
        content: '';
        display: block;
        height: 0;
        left: 50%;
        margin-left: -$popover-arrow-size;
        margin-top: 0;
        position: absolute;
        top: 100%;
        width: 0;
    }

    // Modifiers: Sizes
    &.is-small {
        max-width: $popover-max-width-small;

        // Nested selectors
        .popover__content {
            font-size: $popover-font-size-small;

            .popover__head {
                padding: $popover-content-spacing-small;
            }

            .popover__body {
                padding: $popover-content-spacing-small;
            }
        }
    }

    &.is-large {
        max-width: $popover-max-width-large;

        // Nested selectors
        .popover__content {
            font-size: $popover-font-size-large;

            .popover__head {
                padding: $popover-content-spacing-large;
            }

            .popover__body {
                padding: $popover-content-spacing-large;
            }
        }
    }

    &.is-huge {
        max-width: $popover-max-width-huge;

        // Nested selectors
        .popover__content {
            font-size: $popover-font-size-huge;

            .popover__head {
                padding: $popover-content-spacing-huge;
            }

            .popover__body {
                padding: $popover-content-spacing-huge;
            }
        }
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            // Modifiers
            &.popover-bottom {
                // Pseudo elements
                &::before {
                    border-bottom-color: base-color($name, $border-color-palette-type);
                }
            }

            // Nested selectors
            .popover__content {
                .popover__head {
                    background-color: base-color($name);
                    border-color: base-color($name, $border-color-palette-type);
                    color: base-color($name, 'invert');
                }
            }
        }
    }

    // Modifiers: Feedback colors
    @each $name, $color in $feedback-colors {
        &.has-#{$name} {
            // Modifiers
            &.popover-bottom {
                // Pseudo elements
                &::before {
                    border-bottom-color: feedback-color($name, $border-color-palette-type);
                }
            }

            // Nested selectors
            .popover__content {
                .popover__head {
                    background-color: feedback-color($name);
                    border-color: feedback-color($name, $border-color-palette-type);
                    color: feedback-color($name, 'invert');
                }
            }
        }
    }

    // Modifiers
    &.popover--right {
        margin: 0;
        margin-left: $popover-arrow-size + $popover-offset;

        // Pseudo elements
        &::before {
            border-bottom: $popover-arrow-size solid transparent;
            border-left: 0;
            border-right: $popover-arrow-size solid $popover-arrow-color;
            border-top: $popover-arrow-size solid transparent;
            left: 0;
            margin-left: -$popover-arrow-size;
            margin-top: -$popover-arrow-size;
            top: 50%;
        }
    }

    &.popover--bottom {
        margin: 0;
        margin-top: $popover-arrow-size + $popover-offset;

        // Pseudo elements
        &::before {
            border-bottom: $popover-arrow-size solid $popover-arrow-color;
            border-left: $popover-arrow-size solid transparent;
            border-right: $popover-arrow-size solid transparent;
            border-top: 0;
            left: 50%;
            margin-left: -$popover-arrow-size;
            margin-top: -$popover-arrow-size;
            top: 0;
        }
    }

    &.popover--left {
        margin: 0;
        margin-left: -($popover-arrow-size + $popover-offset);

        // Pseudo elements
        &::before {
            border-bottom: $popover-arrow-size solid transparent;
            border-left: $popover-arrow-size solid $popover-arrow-color;
            border-right: 0;
            border-top: $popover-arrow-size solid transparent;
            left: 100%;
            margin-left: 0;
            margin-top: -$popover-arrow-size;
            top: 50%;
        }
    }

    // Nested selectors
    .popover__content {
        box-shadow: $popover-box-shadow;
        font-size: $popover-font-size;

        .popover__head {
            background-color: $popover-head-background-color;
            border: 0 $popover-border-style $popover-head-border-color;
            border-bottom-width: $popover-border-width-divider;
            border-left-width: $popover-border-width-left;
            border-right-width: $popover-border-width-right;
            border-top-left-radius: $popover-border-radius-top-left;
            border-top-right-radius: $popover-border-radius-top-right;
            border-top-width: $popover-border-width-top;
            color: $popover-head-font-color;
            font-weight: bold;
            padding: $popover-content-spacing;
        }

        .popover__body {
            background-color: $popover-body-background-color;
            border: 0 $popover-border-style $popover-body-border-color;
            border-bottom-left-radius: $popover-border-radius-bottom-left;
            border-bottom-right-radius: $popover-border-radius-bottom-right;
            border-bottom-width: $popover-border-width-bottom;
            border-left-width: $popover-border-width-left;
            border-right-width: $popover-border-width-right;
            border-top-width: 0;
            color: $popover-body-font-color;
            padding: $popover-content-spacing;

            // Nested selectors
            a {
                color: $popover-link-color;

                // Pseudo classes
                &:focus {
                    color: $popover-link-color-focus;
                }

                &:hover {
                    color: $popover-link-color-hover;
                }

                &:active {
                    color: $popover-link-color-active;
                }
            }
        }
    }
}
