@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ZOOM -> ENTRANCE -> ZOOM IN LEFT
    ========================================================================  */

// Check if the animations with zoom in left should be imported
@if $import-animations and $import-animation-zoom-in-left {
    .has-animation {
        // Nested selectors
        &.zoom-in-left {
            // Variables
            --animation-delay: var(--default-animation-zoom-in-delay);
            --animation-distance: var(--default-animation-zoom-in-distance);
            --animation-duration: var(--default-animation-zoom-in-duration);
            --animation-easing: var(--default-animation-zoom-in-easing);
            --animation-scale: var(--default-animation-zoom-in-scale);

            // Keyframes
            @keyframes zoom-in-left {
                from {
                    opacity: 0;
                    transform: translate3d(var(--animation-distance), 0, 0)
                               scale3d(var(--animation-scale), var(--animation-scale), var(--animation-scale));
                }

                to {
                    opacity: 1;
                    transform: translate3d(0, 0, 0)
                               scale3d(1, 1, 1);
                }
            }

            // Styles
            animation-name: zoom-in-left;
        }
    }
}
