@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ZOOM -> ENTRANCE -> ZOOM IN
    ========================================================================  */

// Check if the animations with zoom in should be imported
@if $import-animations and $import-animation-zoom-in {
    .has-animation {
        // Nested selectors
        &.zoom-in {
            // Variables
            --animation-delay: var(--default-animation-zoom-in-delay);
            --animation-duration: var(--default-animation-zoom-in-duration);
            --animation-easing: var(--default-animation-zoom-in-easing);
            --animation-scale: var(--default-animation-zoom-in-scale);

            // Keframes
            @keyframes zoom-in {
                from {
                    opacity: 0;
                    transform: scale3d(var(--animation-scale), var(--animation-scale), var(--animation-scale));
                }

                to {
                    opacity: 1;
                    transform: scale3d(1, 1, 1);
                }
            }

            // Styles
            animation-name: zoom-in;
        }
    }
}
