@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> LAYOUT -> CONTAINER
    ========================================================================  */

// Check if the elements with container should be imported
@if $import-elements and $import-element-container {
    .container {
        display: block;
        margin: 0 auto;
        max-width: $container-max-width;
        min-height: 1px;
        padding: 0 $container-gutter;
        position: relative;
        width: 100%;

        // Modifiers
        &.container--seamless {
            padding: 0;
        }

        // Cycle through all of the breakpoints
        @each $breakpoint-name, $breakpoint-value in $breakpoints {
            // Breakpoint
            @include breakpoint($breakpoint-name) {
                &.container--seamless\@#{$breakpoint-name} {
                    padding: 0;
                }
            }
        }
    }
}
