@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> LAYOUT -> OVERLAY
    ========================================================================  */

// Check if the elements with overlay should be imported
@if $import-elements and $import-element-overlay {
    .has-overlay {
        // Styles
        overflow: hidden;

        // Nested selectors
        .overlay {
            // Variables
            --animation-duration: 200ms;
            --background-color: hsla(0, 0%, 0%, 0.75);
            --font-color: var(--color-black-inverted-text);

            // Styles
            animation-duration: var(--animation-duration);
            background: var(--background-color);
            color: var(--font-color);
            height: 100vh;
            left: 0;
            outline: none;
            position: fixed;
            top: 0;
            width: 100vw;
            z-index: get-stack-index('overlay');
        }
    }
}
