@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> BOUNCE -> ENTRANCE -> BOUNCE IN RIGHT
    ========================================================================  */

// Check if the animations with bounce in right should be imported
@if $import-animations and $import-animation-bounce-in-right {
    .has-animation {
        // Nested selectors
        &.bounce-in-right {
            @keyframes bounce-in-right {
                from {
                    opacity: 0;
                    transform: translate3d((0 - $animation-bounce-in-distance), 0, 0);
                }

                50% {
                    opacity: 1;
                    transform: translate3d((0 + ($animation-bounce-in-distance * 2.5 / 100)), 0, 0);
                }

                70% {
                    transform: translate3d((0 - ($animation-bounce-in-distance * 1.5 / 100)), 0, 0);
                }

                to {
                    transform: translate3d(0, 0, 0);
                }
            }

            animation-delay: $animation-bounce-in-delay;
            animation-duration: $animation-bounce-in-duration;
            animation-name: bounce-in-right;
            animation-timing-function: $animation-bounce-in-easing;
        }
    }
}
