@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> ENTRANCE -> SLIDE IN DOWN
    ========================================================================  */

// Check if the animations with slide in down should be imported
@if $import-animations and $import-animation-slide-in-down {
    .has-animation {
        // Nested selectors
        &.slide-in-down {
            // Variables
            --animation-delay: var(--default-animation-slide-in-delay);
            --animation-distance: calc(0px - var(--default-animation-slide-in-distance));
            --animation-duration: var(--default-animation-slide-in-duration);
            --animation-easing: var(--default-animation-slide-in-easing);

            // Keyframes
            @keyframes slide-in-down {
                from {
                    transform: translate3d(0, var(--animation-distance), 0);
                }

                to {
                    transform: translate3d(0, 0, 0);
                }
            }

            // Styles
            animation-name: slide-in-down;
        }
    }
}
