@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> ENTRANCE -> SLIDE IN DOWN
    ========================================================================  */

.slide-in-down {
    // Variables
    --animation-delay: var(--default-animation-slide-in-delay);
    --animation-distance: calc(0px - var(--default-animation-slide-in-distance));
    --animation-duration: var(--default-animation-slide-in-duration);
    --animation-easing: var(--default-animation-slide-in-easing);

    // Keyframes
    @keyframes slide-in-down {
        from {
            transform: translate3d(0, var(--animation-distance), 0);
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    // Styles
    animation-name: slide-in-down;
}
