@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> ENTRANCE -> SLIDE IN LEFT
    ========================================================================  */

.slide-in-left {
    // Variables
    --animation-delay: var(--default-animation-slide-in-delay);
    --animation-distance: var(--default-animation-slide-in-distance);
    --animation-duration: var(--default-animation-slide-in-duration);
    --animation-easing: var(--default-animation-slide-in-easing);

    // Keyframes
    @keyframes slide-in-left {
        from {
            transform: translate3d(var(--animation-distance), 0, 0);
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    // Styles
    animation-name: slide-in-left;
}
