@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> ENTRANCE -> SLIDE IN UP
    ========================================================================  */

// Check if the animations with slide in up should be imported
@if $import-animations and $import-animation-slide-in-up {
    .has-animation {
        // Nested selectors
        &.slide-in-up {
            // Variables
            --animation-delay: var(--default-animation-slide-in-delay);
            --animation-distance: var(--default-animation-slide-in-distance);
            --animation-duration: var(--default-animation-slide-in-duration);
            --animation-easing: var(--default-animation-slide-in-easing);

            // Keyframes
            @keyframes slide-in-up {
                from {
                    transform: translate3d(0, var(--animation-distance), 0);
                }

                to {
                    transform: translate3d(0, 0, 0);
                }
            }

            // Styles
            animation-name: slide-in-up;
        }
    }
}
