@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> SLIDE -> ENTRANCE -> SLIDE IN RIGHT
    ========================================================================  */

// Check if the animations with slide in right should be imported
@if $import-animations and $import-animation-slide-in-right {
    .has-animation {
        // Nested selectors
        &.slide-in-right {
            // Variables
            --animation-delay: var(--default-animation-slide-in-delay);
            --animation-distance: calc(0px - var(--default-animation-slide-in-distance));
            --animation-duration: var(--default-animation-slide-in-duration);
            --animation-easing: var(--default-animation-slide-in-easing);

            // Keyframes
            @keyframes slide-in-right {
                from {
                    transform: translate3d(var(--animation-distance), 0, 0);
                }

                to {
                    transform: translate3d(0, 0, 0);
                }
            }

            // Styles
            animation-name: slide-in-right;
        }
    }
}
