@charset 'utf-8';

// Button maps
$button-colors: (
    'charcoal',
    'white'
) !default;

$button-content-spacing-multipliers: (
    'small': 0.5,
    'medium': 0.75,
    'large': 1
) !default;

$button-font-sizes: (
    'small': font-size('small'),
    'medium': font-size(),
    'large': font-size('large')
) !default;

$button-element-height-multipliers: (
    'small': 1.25,
    'medium': 1.5,
    'large': 1.75
) !default;

// Button variables
$button-accessibility-focus-width: $global-accessibility-focus-width !default;
$button-accessibility-focus-color: base-color('primary-accessibility-focus') !default;
$button-background-color: base-color('primary') !default;
$button-background-color-hover: base-color('primary-lighten-1') !default;
$button-background-color-focus: base-color('primary-lighten-1') !default;
$button-background-color-active: base-color('primary-darken-1') !default;
$button-border-color: base-color('primary-darken-3') !default;
$button-border-color-hover: base-color('primary-darken-4') !default;
$button-border-color-focus: base-color('primary-darken-4') !default;
$button-border-color-active: base-color('primary-darken-6') !default;
$button-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$button-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$button-border-radius-top-left: $global-border-radius-top-left !default;
$button-border-radius-top-right: $global-border-radius-top-right !default;
$button-border-style: $global-border-style !default;
$button-border-width-bottom: $global-border-width-bottom !default;
$button-border-width-left: $global-border-width-left !default;
$button-border-width-right: $global-border-width-right !default;
$button-border-width-top: $global-border-width-top !default;
$button-border-width-divider: $global-border-width-divider !default;
$button-font-color: base-color('primary-text') !default;
$button-font-color-hover: base-color('primary-text') !default;
$button-font-color-focus: base-color('primary-text') !default;
$button-font-color-active: base-color('primary-text') !default;
$button-font-family: $global-secondary-typeface !default;
$button-font-variant: normal !default;
$button-font-weight: 300 !default;
$button-letter-spacing: 0 !default;
$button-text-transform: uppercase !default;
