@charset "utf-8";

/* =============================================================================================
   JUICE -> FRAMEWORK -> ELEMENTS -> MEDIA -> VARIABLES
   ============================================================================================= */

// Image
$media-image-element-spacing: $element-spacing !default;
$media-image-element-spacing--small: $element-spacing--small !default;
$media-image-element-spacing--large: $element-spacing--large !default;
$media-image-element-spacing--huge: $element-spacing--huge !default;

// Object
$media-object-badge-width: 75px !default;
$media-object-badge-width--small: 50px !default;
$media-object-badge-width--large: 100px !default;
$media-object-badge-width--huge: 125px !default;
$media-object-content-spacing: $content-spacing !default;
$media-object-content-spacing--small: $content-spacing--small !default;
$media-object-content-spacing--large: $content-spacing--large !default;
$media-object-content-spacing--huge: $content-spacing--huge !default;
$media-object-element-spacing: $element-spacing !default;
$media-object-element-spacing--small: $element-spacing !default;
$media-object-element-spacing--large: $element-spacing !default;
$media-object-element-spacing--huge: $element-spacing !default;
$media-object-font-size: $font-size !default;
$media-object-font-size--small: $font-size--small !default;
$media-object-font-size--large: $font-size--large !default;
$media-object-font-size--huge: $font-size--huge !default;


/* =============================================================================================
   JUICE -> FRAMEWORK -> ELEMENTS -> MEDIA -> IMAGE
   ============================================================================================= */

// Image
img {
    max-width: 100%;

    // Modifiers
    &.image--left {
        float: left;
        margin: 0;
        margin-bottom: $media-image-element-spacing;
        margin-right: $media-image-element-spacing;
    }

    &.image--center {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: $media-image-element-spacing;
    }

    &.image--right {
        float: right;
        margin: 0;
        margin-bottom: $media-image-element-spacing;
        margin-left: $media-image-element-spacing;
    }

    &.image--block {
        display: block;
        max-width: auto;
        min-width: 100%;
    }

    &.image--circle {
        border-radius: 100%;
    }

    // Modifiers: Size
    &.is-small {
        // Modifiers
        &.image--left {
            margin-bottom: $media-image-element-spacing--small;
            margin-right: $media-image-element-spacing--small;
        }

        &.image--center {
            margin-bottom: $media-image-element-spacing--small;
        }

        &.image--right {
            margin-bottom: $media-image-element-spacing--small;
            margin-left: $media-image-element-spacing--small;
        }
    }

    &.is-large {
        // Modifiers
        &.image--left {
            margin-bottom: $media-image-element-spacing--large;
            margin-right: $media-image-element-spacing--large;
        }

        &.image--center {
            margin-bottom: $media-image-element-spacing--large;
        }

        &.image--right {
            margin-bottom: $media-image-element-spacing--large;
            margin-left: $media-image-element-spacing--large;
        }
    }

    &.is-huge {
        &.image--left {
            margin-bottom: $media-image-element-spacing--huge;
            margin-right: $media-image-element-spacing--huge;
        }

        &.image--center {
            margin-bottom: $media-image-element-spacing--huge;
        }

        &.image--right {
            margin-bottom: $media-image-element-spacing--huge;
            margin-left: $media-image-element-spacing--huge;
        }
    }
}


/* =============================================================================================
   JUICE -> FRAMEWORK -> ELEMENTS -> MEDIA -> OBJECT
   ============================================================================================= */

// Object
.media-object {
    display: flex;
    font-size: $media-object-font-size;
    margin: 0;
    margin-bottom: $media-object-element-spacing;
    position: relative;

    // Modifiers
    &.media-object--reverse {
        flex-direction: row-reverse;

        // Nested selectors
        .media-object__badge {
            margin: 0;
            margin-left: $media-object-content-spacing;
        }
    }

    // Modifiers: Size
    &.is-small {
        font-size: $media-object-font-size--small;
        margin-bottom: $media-object-element-spacing--small;

        // Modifiers
        &.media-object--reverse {
            // Nested selectors
            .media-object__badge {
                margin: 0;
                margin-left: $media-object-content-spacing--small;
            }
        }

        // Nested selectors
        .media-object__badge {
            margin-right: $media-object-content-spacing--small;
            flex-basis: $media-object-badge-width--small;

            // Nested selectors
            img {
                max-width: $media-object-badge-width--small;
                min-width: $media-object-badge-width--small;
                width: $media-object-badge-width--small;
            }
        }
    }

    &.is-large {
        font-size: $media-object-font-size--large;
        margin-bottom: $media-object-element-spacing--large;

        // Modifiers
        &.media-object--reverse {
            // Nested selectors
            .media-object__badge {
                margin: 0;
                margin-left: $media-object-content-spacing--large;
            }
        }

        // Nested selectors
        .media-object__badge {
            margin-right: $media-object-content-spacing--large;
            flex-basis: $media-object-badge-width--large;

            // Nested selectors
            img {
                max-width: $media-object-badge-width--large;
                min-width: $media-object-badge-width--large;
                width: $media-object-badge-width--large;
            }
        }
    }

    &.is-huge {
        font-size: $media-object-font-size--huge;
        margin-bottom: $media-object-element-spacing--huge;

        // Modifiers
        &.media-object--reverse {
            // Nested selectors
            .media-object__badge {
                margin: 0;
                margin-left: $media-object-content-spacing--huge;
            }
        }

        // Nested selectors
        .media-object__badge {
            margin-right: $media-object-content-spacing--huge;
            flex-basis: $media-object-badge-width--huge;

            // Nested selectors
            img {
                max-width: $media-object-badge-width--huge;
                min-width: $media-object-badge-width--huge;
                width: $media-object-badge-width--huge;
            }
        }
    }

    // Nested selectors
    .media-object__badge {
        margin: 0;
        margin-right: $media-object-content-spacing;
        flex-basis: $media-object-badge-width;

        // Nested selectors
        img {
            display: block;
            max-width: $media-object-badge-width;
            min-width: $media-object-badge-width;
            width: $media-object-badge-width;
        }
    }

    .media-object__content {
        flex-grow: 1;
    }
}
