@charset "utf-8";

/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> ELEMENTS -> TYPOGRAPHY -> VARIABLES
   ============================================================================================= */

// Body
$body-font-color: font-color() !default;
$body-font-family: $primary-typeface !default;
$body-font-size: $root-font-size !default;
$body-font-weight: 400 !default;
$body-letter-spacing: 0 !default;
$body-line-height: 1.8 !default;

// Paragraph
$p-element-spacing: $element-spacing !default;
$p-element-spacing--small: $element-spacing--small !default;
$p-element-spacing--large: $element-spacing--large !default;
$p-element-spacing--huge: $element-spacing--huge !default;
$p-font-size: $font-size !default;
$p-font-size--small: $font-size--small !default;
$p-font-size--large: $font-size--large !default;
$p-font-size--huge: $font-size--huge !default;

// Horizontal rule
$hr-border-color: base-color('background', 'darken-2') !default;
$hr-border-style: $border-style !default;
$hr-border-width: 1px !default;
$hr-element-spacing: $element-spacing !default;
$hr-element-spacing--small: $element-spacing--small !default;
$hr-element-spacing--large: $element-spacing--large !default;
$hr-element-spacing--huge: $element-spacing--huge !default;

// Link
$link-color: base-color('primary') !default;
$link-color--hover: base-color('primary', 'lighten-2') !default;

// Headings
$heading-element-spacing: $element-spacing !default;
$heading-element-spacing--small: $element-spacing--small !default;
$heading-element-spacing--large: $element-spacing--large !default;
$heading-element-spacing--huge: $element-spacing--huge !default;

// Heading 1
$h1-font-color: inherit !default;
$h1-font-family: $secondary-typeface !default;
$h1-font-size: 3.0em !default;
$h1-font-size--small: 2.9em !default;
$h1-font-size--large: 3.1em !default;
$h1-font-size--huge: 3.2em !default;
$h1-font-variant: normal !default;
$h1-font-weight: 400 !default;
$h1-letter-spacing: 0 !default;
$h1-text-transform: none !default;

// Heading 2
$h2-font-color: inherit !default;
$h2-font-family: $secondary-typeface !default;
$h2-font-size: 2.6em !default;
$h2-font-size--small: 2.5em !default;
$h2-font-size--large: 2.7em !default;
$h2-font-size--huge: 2.8em !default;
$h2-font-variant: normal !default;
$h2-font-weight: 400 !default;
$h2-letter-spacing: 0 !default;
$h2-text-transform: none !default;

// Heading 3
$h3-font-color: inherit !default;
$h3-font-family: $secondary-typeface !default;
$h3-font-size: 2.2em !default;
$h3-font-size--small: 2.1em !default;
$h3-font-size--large: 2.3em !default;
$h3-font-size--huge: 2.4em !default;
$h3-font-variant: normal !default;
$h3-font-weight: 400 !default;
$h3-letter-spacing: 0 !default;
$h3-text-transform: none !default;

// Heading 4
$h4-font-color: inherit !default;
$h4-font-family: $secondary-typeface !default;
$h4-font-size: 1.8em !default;
$h4-font-size--small: 1.7em !default;
$h4-font-size--large: 1.9em !default;
$h4-font-size--huge: 2.0em !default;
$h4-font-variant: normal !default;
$h4-font-weight: 400 !default;
$h4-letter-spacing: 0 !default;
$h4-text-transform: none !default;

// Heading 5
$h5-font-color: inherit !default;
$h5-font-family: $secondary-typeface !default;
$h5-font-size: 1.6em !default;
$h5-font-size--small: 1.5em !default;
$h5-font-size--large: 1.7em !default;
$h5-font-size--huge: 1.8em !default;
$h5-font-variant: normal !default;
$h5-font-weight: 400 !default;
$h5-letter-spacing: 0 !default;
$h5-text-transform: none !default;

// Heading 6
$h6-font-color: inherit !default;
$h6-font-family: $secondary-typeface !default;
$h6-font-size: 1.4em !default;
$h6-font-size--small: 1.3em !default;
$h6-font-size--large: 1.5em !default;
$h6-font-size--huge: 1.6em !default;
$h6-font-variant: normal !default;
$h6-font-weight: 400 !default;
$h6-letter-spacing: 0 !default;
$h6-text-transform: none !default;

// Abbreviation
$abbr-border-color: feedback-color('info') !default;

// Mark
$mark-background-color: base-color('yellow', 'lighten-1') !default;
$mark-border-radius--top-left: 0 !default;
$mark-border-radius--top-right: 0 !default;
$mark-border-radius--bottom-right: 0 !default;
$mark-border-radius--bottom-left: 0 !default;
$mark-font-color: font-color() !default;
$mark-font-size: $font-size !default;
$mark-font-size--small: $font-size--small !default;
$mark-font-size--large: $font-size--large !default;
$mark-font-size--huge: $font-size--huge !default;
$mark-padding: 4px !default;

// Code
$code-font-color: base-color('red') !default;
$code-font-size: $font-size !default;
$code-font-size--small: $font-size--small !default;
$code-font-size--large: $font-size--large !default;
$code-font-size--huge: $font-size--huge !default;

// Keyboard
$kbd-background-color: base-color('charcoal') !default;
$kbd-border-radius--top-left: 0 !default;
$kbd-border-radius--top-right: 0 !default;
$kbd-border-radius--bottom-right: 0 !default;
$kbd-border-radius--bottom-left: 0 !default;
$kbd-font-color: base-color('white') !default;
$kbd-font-size: $font-size !default;
$kbd-font-size--small: $font-size--small !default;
$kbd-font-size--large: $font-size--large !default;
$kbd-font-size--huge: $font-size--huge !default;
$kbd-padding: 4px !default;

// Preformatted
$pre-background-color: base-color('white') !default;
$pre-border-color: base-color('white', 'darken-3') !default;
$pre-border-radius--top-left: $border-radius--top-left !default;
$pre-border-radius--top-right: $border-radius--top-right !default;
$pre-border-radius--bottom-right: $border-radius--bottom-right !default;
$pre-border-radius--bottom-left: $border-radius--bottom-left !default;
$pre-border-style: $border-style !default;
$pre-border-width--top: $border-width--top !default;
$pre-border-width--right: $border-width--right !default;
$pre-border-width--bottom: $border-width--bottom !default;
$pre-border-width--left: $border-width--left !default;
$pre-content-spacing: $content-spacing !default;
$pre-content-spacing--small: $content-spacing--small !default;
$pre-content-spacing--large: $content-spacing--large !default;
$pre-content-spacing--huge: $content-spacing--huge !default;
$pre-element-spacing: $element-spacing !default;
$pre-element-spacing--small: $element-spacing--small !default;
$pre-element-spacing--large: $element-spacing--large !default;
$pre-element-spacing--huge: $element-spacing--huge !default;
$pre-font-color: base-color('silver', 'darken-5') !default;
$pre-font-size: $font-size !default;
$pre-font-size--small: $font-size--small !default;
$pre-font-size--large: $font-size--large !default;
$pre-font-size--huge: $font-size--huge !default;

// Sample
$samp-font-size: $font-size !default;
$samp-font-size--small: $font-size--small !default;
$samp-font-size--large: $font-size--large !default;
$samp-font-size--huge: $font-size--huge !default;

// Variable
$var-font-size: $font-size !default;
$var-font-size--small: $font-size--small !default;
$var-font-size--large: $font-size--large !default;
$var-font-size--huge: $font-size--huge !default;

// Blockquote
$blockquote-background-color: base-color('white') !default;
$blockquote-border-color: base-color('white', 'darken-3') !default;
$blockquote-border-color--hover: base-color('primary') !default;
$blockquote-border-radius--top-left: 0 !default;
$blockquote-border-radius--top-right: $border-radius--top-right !default;
$blockquote-border-radius--bottom-right: $border-radius--bottom-right !default;
$blockquote-border-radius--bottom-left: 0 !default;
$blockquote-border-style: $border-style !default;
$blockquote-border-width: 5px !default;
$blockquote-cite-font-size: $font-size - 0.2em !default;
$blockquote-cite-font-size--small: $font-size--small - 0.2em !default;
$blockquote-cite-font-size--large: $font-size--large - 0.2em !default;
$blockquote-cite-font-size--huge: $font-size--huge - 0.2em !default;
$blockquote-content-spacing: $content-spacing !default;
$blockquote-content-spacing--small: $content-spacing--small !default;
$blockquote-content-spacing--large: $content-spacing--large !default;
$blockquote-content-spacing--huge: $content-spacing--huge !default;
$blockquote-element-spacing: $element-spacing !default;
$blockquote-element-spacing--small: $element-spacing--small !default;
$blockquote-element-spacing--large: $element-spacing--large !default;
$blockquote-element-spacing--huge: $element-spacing--huge !default;
$blockquote-font-color: base-color('silver', 'darken-5') !default;
$blockquote-font-size: $font-size !default;
$blockquote-font-size--small: $font-size--small !default;
$blockquote-font-size--large: $font-size--large !default;
$blockquote-font-size--huge: $font-size--huge !default;


/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> ELEMENTS -> TYPOGRAPHY
   ============================================================================================= */

// Html
html {
    font-size: 62.5%;
}

// Body
body {
    color: $body-font-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    letter-spacing: $body-letter-spacing;
    line-height: $body-line-height;
}

// Paragraph
p {
    font-size: $p-font-size;
    margin: 0;
    margin-bottom: $p-element-spacing;

    // Modifiers: Size
    &.is-small {
        font-size: $p-font-size--small;
        margin-bottom: $p-element-spacing--small;
    }

    &.is-large {
        font-size: $p-font-size--large;
        margin-bottom: $p-element-spacing--large;
    }

    &.is-huge {
        font-size: $p-font-size--huge;
        margin-bottom: $p-element-spacing--huge;
    }
}

// Horizontal rule
hr {
    clear: both;
    border: none;
    border-bottom: $hr-border-width $hr-border-style $hr-border-color;
    margin: 0;
    margin-bottom: $hr-element-spacing;

    // Modifiers: Size
    &.is-small {
        margin-bottom: $hr-element-spacing--small;
    }

    &.is-large {
        margin-bottom: $hr-element-spacing--large;
    }

    &.is-huge {
        margin-bottom: $hr-element-spacing--huge;
    }
}

// Link
a {
    color: $link-color;
    font-weight: inherit;
    text-decoration: none;

    // Pseudo classes
    &:hover,
    &:focus {
        text-decoration: underline;
        outline: none;
    }

    &:hover {
        color: $link-color--hover;
    }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    margin: 0;
    margin-bottom: $heading-element-spacing;
    padding: 0;
    position: relative;

    // Modifiers: Size
    &.is-small {
        margin-bottom: $heading-element-spacing--small;
    }

    &.is-large {
        margin-bottom: $heading-element-spacing--large;
    }

    &.is-huge {
        margin-bottom: $heading-element-spacing--huge;
    }
}

// Heading 1
h1 {
    color: $h1-font-color;
    font-family: $h1-font-family;
    font-size: $h1-font-size;
    font-variant: $h1-font-variant;
    font-weight: $h1-font-weight;
    letter-spacing: $h1-letter-spacing;
    text-transform: $h1-text-transform;

    // Modifiers: Size
    &.is-small {
        font-size: $h1-font-size--small;
    }

    &.is-large {
        font-size: $h1-font-size--large;
    }

    &.is-huge {
        font-size: $h1-font-size--huge;
    }
}

// Heading 2
h2 {
    color: $h2-font-color;
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    font-variant: $h2-font-variant;
    font-weight: $h2-font-weight;
    letter-spacing: $h2-letter-spacing;
    text-transform: $h2-text-transform;

    // Modifiers: Size
    &.is-small {
        font-size: $h2-font-size--small;
    }

    &.is-large {
        font-size: $h2-font-size--large;
    }

    &.is-huge {
        font-size: $h2-font-size--huge;
    }
}

// Heading 3
h3 {
    color: $h3-font-color;
    font-family: $h3-font-family;
    font-size: $h3-font-size;
    font-variant: $h3-font-variant;
    font-weight: $h3-font-weight;
    letter-spacing: $h3-letter-spacing;
    text-transform: $h3-text-transform;

    // Modifiers: Size
    &.is-small {
        font-size: $h3-font-size--small;
    }

    &.is-large {
        font-size: $h3-font-size--large;
    }

    &.is-huge {
        font-size: $h3-font-size--huge;
    }
}

// Heading 4
h4 {
    color: $h4-font-color;
    font-family: $h4-font-family;
    font-size: $h4-font-size;
    font-variant: $h4-font-variant;
    font-weight: $h4-font-weight;
    letter-spacing: $h4-letter-spacing;
    text-transform: $h4-text-transform;

    // Modifiers: Size
    &.is-small {
        font-size: $h4-font-size--small;
    }

    &.is-large {
        font-size: $h4-font-size--large;
    }

    &.is-huge {
        font-size: $h4-font-size--huge;
    }
}

// Heading 5
h5 {
    color: $h5-font-color;
    font-family: $h5-font-family;
    font-size: $h5-font-size;
    font-variant: $h5-font-variant;
    font-weight: $h5-font-weight;
    letter-spacing: $h5-letter-spacing;
    text-transform: $h5-text-transform;

    // Modifiers: Size
    &.is-small {
        font-size: $h5-font-size--small;
    }

    &.is-large {
        font-size: $h5-font-size--large;
    }

    &.is-huge {
        font-size: $h5-font-size--huge;
    }
}

// Heading 6
h6 {
    color: $h6-font-color;
    font-family: $h6-font-family;
    font-size: $h6-font-size;
    font-variant: $h6-font-variant;
    font-weight: $h6-font-weight;
    letter-spacing: $h6-letter-spacing;
    text-transform: $h6-text-transform;

    // Modifiers: Size
    &.is-small {
        font-size: $h6-font-size--small;
    }

    &.is-large {
        font-size: $h6-font-size--large;
    }

    &.is-huge {
        font-size: $h6-font-size--huge;
    }
}

// Strong
b,
strong {
    font-weight: 700;
}

// Abbreviation
abbr {
    text-decoration: none !important;

    // Modifiers
    &[title] {
        border-bottom: 1px dotted $abbr-border-color;
        cursor: help;
    }
}

// Mark
mark {
    background-color: $mark-background-color;
    border-radius: $mark-border-radius--top-left
                   $mark-border-radius--top-right
                   $mark-border-radius--bottom-right
                   $mark-border-radius--bottom-left;
    color: $mark-font-color;
    font-size: $mark-font-size;
    padding: $mark-padding;

    // Modifiers: Size
    &.is-small {
        font-size: $mark-font-size--small;
    }

    &.is-large {
        font-size: $mark-font-size--large;
    }

    &.is-huge {
        font-size: $mark-font-size--huge;
    }
}

// Monospace
code,
kbd,
pre,
samp,
var {
    font-family: $monoface-typeface;
}

// Code
code {
    color: $code-font-color;
    font-size: $code-font-size;

    // Modifiers: Size
    &.is-small {
        font-size: $code-font-size--small;
    }

    &.is-large {
        font-size: $code-font-size--large;
    }

    &.is-huge {
        font-size: $code-font-size--huge;
    }
}

// Keyboard
kbd {
    background-color: $kbd-background-color;
    border: none;
    border-radius: $kbd-border-radius--top-left
                   $kbd-border-radius--top-right
                   $kbd-border-radius--bottom-right
                   $kbd-border-radius--bottom-left;
    color: $kbd-font-color;
    font-size: $kbd-font-size;
    padding: $kbd-padding;

    // Modifiers: Size
    &.is-small {
        font-size: $kbd-font-size--small;
    }

    &.is-large {
        font-size: $kbd-font-size--large;
    }

    &.is-huge {
        font-size: $kbd-font-size--huge;
    }
}

// Preformatted
pre {
    display: block;
    background-color: $pre-background-color;
    border: 0 $pre-border-style $pre-border-color;
    border-radius: $pre-border-radius--top-left
                   $pre-border-radius--top-right
                   $pre-border-radius--bottom-right
                   $pre-border-radius--bottom-left;
    border-width: $pre-border-width--top
                  $pre-border-width--bottom
                  $pre-border-width--right
                  $pre-border-width--left;
    color: $pre-font-color;
    font-size: $pre-font-size;
    margin: 0;
    margin-bottom: $pre-element-spacing;
    padding: $pre-content-spacing;
    overflow-x: auto;
    white-space: pre-wrap;

    // Modifiers: Size
    &.is-small {
        font-size: $pre-font-size--small;
        margin-bottom: $pre-element-spacing--small;
        padding: $pre-content-spacing--small;
    }

    &.is-large {
        font-size: $pre-font-size--large;
        margin-bottom: $pre-element-spacing--large;
        padding: $pre-content-spacing--large;
    }

    &.is-huge {
        font-size: $pre-font-size--huge;
        margin-bottom: $pre-element-spacing--huge;
        padding: $pre-content-spacing--huge;
    }

    // Nested selectors
    code {
        background-color: transparent;
        color: inherit;
        font-size: inherit;
        white-space: nowrap;
    }
}

// Sample
samp {
    font-size: $samp-font-size;

    // Modifiers: Size
    &.is-small {
        font-size: $samp-font-size--small;
    }

    &.is-large {
        font-size: $samp-font-size--large;
    }

    &.is-huge {
        font-size: $samp-font-size--huge;
    }
}

// Variable
var {
    font-size: $var-font-size;
    font-style: italic;

    // Modifiers: Size
    &.is-small {
        font-size: $var-font-size--small;
    }

    &.is-large {
        font-size: $var-font-size--large;
    }

    &.is-huge {
        font-size: $var-font-size--huge;
    }
}

// Blockquote
blockquote {
    display: block;
    background-color: $blockquote-background-color;
    border: none;
    border-left: $blockquote-border-width $blockquote-border-style $blockquote-border-color;
    border-radius: $blockquote-border-radius--top-left
                   $blockquote-border-radius--top-right
                   $blockquote-border-radius--bottom-right
                   $blockquote-border-radius--bottom-left;
    color: $blockquote-font-color;
    font-size: $blockquote-font-size;
    margin: 0;
    margin-bottom: $blockquote-element-spacing;
    padding: $blockquote-content-spacing;
    transition: border 0.15s ease-in-out;

    // Pseudo classes
    &:hover {
        border-color: $blockquote-border-color--hover;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $blockquote-font-size--small;
        margin-bottom: $blockquote-element-spacing--small;
        padding: $blockquote-content-spacing--small;

        // Nested selectors
        cite {
            font-size: $blockquote-cite-font-size--small;
            margin-top: ($blockquote-content-spacing--small / 2);
        }
    }

    &.is-large {
        font-size: $blockquote-font-size--large;
        margin-bottom: $blockquote-element-spacing--large;
        padding: $blockquote-content-spacing--large;

        // Nested selectors
        cite {
            font-size: $blockquote-cite-font-size--large;
            margin-top: ($blockquote-content-spacing--large / 2);
        }
    }

    &.is-huge {
        font-size: $blockquote-font-size--huge;
        margin-bottom: $blockquote-element-spacing--huge;
        padding: $blockquote-content-spacing--huge;

        // Nested selectors
        cite {
            font-size: $blockquote-cite-font-size--huge;
            margin-top: ($blockquote-content-spacing--huge / 2);
        }
    }

    // Modifiers
    &.blockquote--reverse {
        border-left: 0;
        border-radius: $blockquote-border-radius--top-right
                       $blockquote-border-radius--top-left
                       $blockquote-border-radius--bottom-left
                       $blockquote-border-radius--bottom-right;
        border-right: $blockquote-border-width $blockquote-border-style $blockquote-border-color;
        text-align: right;

        // Nested selectors
        cite {
            text-align: right;
        }
    }

    // Nested selectors
    cite {
        display: block;
        color: inherit;
        font-size: $blockquote-cite-font-size;
        margin: 0;
        margin-top: ($blockquote-content-spacing / 2);

        // Pseudo elements
        &::before {
            content: '\2014\00a0\00a0';
        }
    }
}
