@charset 'utf-8';

// Shield maps
$shield-colors: (
    'primary',
    'charcoal'
) !default;

$shield-content-spacing-multipliers: (
    'small': 0.2,
    'medium': 0.4,
    'large': 0.6
) !default;

$shield-font-sizes: (
    'small': (font-size('small') - 0.2em),
    'medium': (font-size() - 0.2em),
    'large': (font-size('large') - 0.2em)
) !default;

$shield-element-height-multipliers: (
    'small': 0.75,
    'medium': 1,
    'large': 1.25
) !default;


// Shield variables
$shield-badge-background-color: base-color('white') !default;
$shield-badge-border-color: base-color('white-darken-3') !default;
$shield-badge-font-color: base-color('white-text') !default;
$shield-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$shield-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$shield-border-radius-top-left: $global-border-radius-top-left !default;
$shield-border-radius-top-right: $global-border-radius-top-right !default;
$shield-border-style: $global-border-style !default;
$shield-border-width-bottom: $global-border-width-bottom !default;
$shield-border-width-divider: $global-border-width-divider !default;
$shield-border-width-left: $global-border-width-left !default;
$shield-border-width-right: $global-border-width-right !default;
$shield-border-width-top: $global-border-width-top !default;
$shield-text-background-color: base-color('charcoal') !default;
$shield-text-border-color: base-color('charcoal-darken-3') !default;
$shield-text-font-color: base-color('charcoal-text') !default;
