@charset "utf-8";

/* =============================================================================================
   JUICE -> FRAMEWORK -> UTILITIES -> COLOR PALETTES -> VARIABLES
   ============================================================================================= */

// Palettes
$base-color-palette: ();
$feedback-color-palette: ();
$font-color-palette: ();


/* =============================================================================================
   JUICE -> FRAMEWORK -> UTILITIES -> COLOR PALETTES -> BASE COLORS
   ============================================================================================= */

// Cycle through all the base colors
@each $name, $color in $base-colors {
    // Create a generated color palette map
    $generated: (
        'lighten-10': lighten($color, ($color-palette-difference * 10)),
        'lighten-9': lighten($color, ($color-palette-difference * 9)),
        'lighten-8': lighten($color, ($color-palette-difference * 8)),
        'lighten-7': lighten($color, ($color-palette-difference * 7)),
        'lighten-6': lighten($color, ($color-palette-difference * 6)),
        'lighten-5': lighten($color, ($color-palette-difference * 5)),
        'lighten-4': lighten($color, ($color-palette-difference * 4)),
        'lighten-3': lighten($color, ($color-palette-difference * 3)),
        'lighten-2': lighten($color, ($color-palette-difference * 2)),
        'lighten-1': lighten($color, ($color-palette-difference * 1)),
        'base': $color,
        'darken-1': darken($color, ($color-palette-difference * 1)),
        'darken-2': darken($color, ($color-palette-difference * 2)),
        'darken-3': darken($color, ($color-palette-difference * 3)),
        'darken-4': darken($color, ($color-palette-difference * 4)),
        'darken-5': darken($color, ($color-palette-difference * 5)),
        'darken-6': darken($color, ($color-palette-difference * 6)),
        'darken-7': darken($color, ($color-palette-difference * 7)),
        'darken-8': darken($color, ($color-palette-difference * 8)),
        'darken-9': darken($color, ($color-palette-difference * 9)),
        'darken-10': darken($color, ($color-palette-difference * 10)),

        'complement': complement($color),
        'grayscale': grayscale($color),
        'invert': set-invert-font-color($color)
    );

    // Merge the generated color palette map with the base color palette map
    $base-color-palette: map-merge($base-color-palette, ($name: $generated));
}


/* =============================================================================================
   JUICE -> FRAMEWORK -> UTILITIES -> COLOR PALETTES -> FONT COLORS
   ============================================================================================= */

// Cycle through all the font colors
@each $name, $color in $font-colors {
    // Create a generated color palette map
    $generated: (
        'lighten-10': lighten($color, ($color-palette-difference * 10)),
        'lighten-9': lighten($color, ($color-palette-difference * 9)),
        'lighten-8': lighten($color, ($color-palette-difference * 8)),
        'lighten-7': lighten($color, ($color-palette-difference * 7)),
        'lighten-6': lighten($color, ($color-palette-difference * 6)),
        'lighten-5': lighten($color, ($color-palette-difference * 5)),
        'lighten-4': lighten($color, ($color-palette-difference * 4)),
        'lighten-3': lighten($color, ($color-palette-difference * 3)),
        'lighten-2': lighten($color, ($color-palette-difference * 2)),
        'lighten-1': lighten($color, ($color-palette-difference * 1)),
        'base': $color,
        'darken-1': darken($color, ($color-palette-difference * 1)),
        'darken-2': darken($color, ($color-palette-difference * 2)),
        'darken-3': darken($color, ($color-palette-difference * 3)),
        'darken-4': darken($color, ($color-palette-difference * 4)),
        'darken-5': darken($color, ($color-palette-difference * 5)),
        'darken-6': darken($color, ($color-palette-difference * 6)),
        'darken-7': darken($color, ($color-palette-difference * 7)),
        'darken-8': darken($color, ($color-palette-difference * 8)),
        'darken-9': darken($color, ($color-palette-difference * 9)),
        'darken-10': darken($color, ($color-palette-difference * 10)),

        'complement': complement($color),
        'grayscale': grayscale($color),
        'invert': set-invert-font-color($color)
    );

    // Merge the generated color palette map with the font color palette map
    $font-color-palette: map-merge($font-color-palette, ($name: $generated));
}


/* =============================================================================================
   JUICE -> FRAMEWORK -> UTILITIES -> COLOR PALETTES -> FEEDBACK COLORS
   ============================================================================================= */

// Cycle through all the feedback colors
@each $name, $color in $feedback-colors {
    // Create a generated color palette map
    $generated: (
        'lighten-10': lighten($color, ($color-palette-difference * 10)),
        'lighten-9': lighten($color, ($color-palette-difference * 9)),
        'lighten-8': lighten($color, ($color-palette-difference * 8)),
        'lighten-7': lighten($color, ($color-palette-difference * 7)),
        'lighten-6': lighten($color, ($color-palette-difference * 6)),
        'lighten-5': lighten($color, ($color-palette-difference * 5)),
        'lighten-4': lighten($color, ($color-palette-difference * 4)),
        'lighten-3': lighten($color, ($color-palette-difference * 3)),
        'lighten-2': lighten($color, ($color-palette-difference * 2)),
        'lighten-1': lighten($color, ($color-palette-difference * 1)),
        'base': $color,
        'darken-1': darken($color, ($color-palette-difference * 1)),
        'darken-2': darken($color, ($color-palette-difference * 2)),
        'darken-3': darken($color, ($color-palette-difference * 3)),
        'darken-4': darken($color, ($color-palette-difference * 4)),
        'darken-5': darken($color, ($color-palette-difference * 5)),
        'darken-6': darken($color, ($color-palette-difference * 6)),
        'darken-7': darken($color, ($color-palette-difference * 7)),
        'darken-8': darken($color, ($color-palette-difference * 8)),
        'darken-9': darken($color, ($color-palette-difference * 9)),
        'darken-10': darken($color, ($color-palette-difference * 10)),

        'complement': complement($color),
        'grayscale': grayscale($color),
        'invert': set-invert-font-color($color)
    );

    // Merge the generated color palette map with the feedback color palette map
    $feedback-color-palette: map-merge($feedback-color-palette, ($name: $generated));
}
