@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> FRAMEWORK -> BASE
    ========================================================================  */

$base-selection-pseudo-elements: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> BUTTON -> BUTTON
    ========================================================================  */

$button-color-modifiers: true !default;
$button-component-modifier: true !default;
$button-feedback-modifiers: true !default;
$button-flat-modifier: true !default;
$button-icon-modifier: true !default;
$button-outline-modifier: true !default;
$button-pill-modifier: true !default;
$button-round-modifier: true !default;
$button-size-modifiers: true !default;
$button-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> BUTTON -> BUTTON GROUP
    ========================================================================  */

$button-group-color-modifiers: true !default;
$button-group-component-modifier: true !default;
$button-group-feedback-modifiers: true !default;
$button-group-flat-modifier: true !default;
$button-group-icon-modifier: true !default;
$button-group-outline-modifier: true !default;
$button-group-pill-modifier: true !default;
$button-group-round-modifier: true !default;
$button-group-size-modifiers: true !default;
$button-group-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> CONTROL
    ========================================================================  */

$form-control-feedback-modifiers: true !default;
$form-control-size-modifiers: true !default;
$form-control-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> CHECKBOX
    ========================================================================  */

$custom-checkbox-size-modifiers: true !default;
$custom-checkbox-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> FILE
    ========================================================================  */

$custom-file-feedback-modifiers: true !default;
$custom-file-size-modifiers: true !default;
$custom-file-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> RADIO
    ========================================================================  */

$custom-radio-size-modifiers: true !default;
$custom-radio-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> INPUT
    ========================================================================  */

$input-feedback-modifiers: true !default;
$input-honeypot-modifier: true !default;
$input-pill-modifier: true !default;
$input-size-modifiers: true !default;
$input-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> LABEL
    ========================================================================  */

$label-feedback-modifiers: true !default;
$label-inline-modifier: true !default;
$label-size-modifiers: true !default;
$label-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> SELECT
    ========================================================================  */

$select-feedback-modifiers: true !default;
$select-pill-modifier: true !default;
$select-size-modifiers: true !default;
$select-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> TEXTAREA
    ========================================================================  */

$textarea-feedback-modifiers: true !default;
$textarea-resize-modifier: true !default;
$textarea-scrollbar-modifier: true !default;
$textarea-size-modifiers: true !default;
$textarea-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> ICON
    ========================================================================  */

$shield-color-modifiers: true !default;
$shield-feedback-modifiers: true !default;
$shield-size-modifiers: true !default;
$shield-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> BOX
    ========================================================================  */

$box-size-modifiers: true !default;
$box-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> HERO
    ========================================================================  */

$hero-color-modifiers: true !default;
$hero-feedback-modifiers: true !default;
$hero-parallax-modifier: true !default;
$hero-viewport-modifiers: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> MEDIA OBJECT
    ========================================================================  */

$media-object-reverse-modifiers: true !default;
$media-object-seamless-modifiers: true !default;
$media-object-size-modifiers: true !default;
$media-object-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> TABLE
    ========================================================================  */

$table-border-modifiers: true !default;
$table-size-modifiers: true !default;
$table-size-modifier-breakpoints: true !default;
$table-stripe-modifier: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> MEDIA -> IMAGE
    ========================================================================  */

$image-alignment-modifiers: true !default;
$image-round-modifier: true !default;
$image-size-modifiers: true !default;
$image-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> NAVIGATION -> BREADCRUMB
    ========================================================================  */

$breadcrumb-alignment-modifiers: true !default;
$breadcrumb-angle-separator-modifier: true !default;
$breadcrumb-arrow-separator-modifier: true !default;
$breadcrumb-bullet-separator-modifier: true !default;
$breadcrumb-slash-separator-modifier: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> NAVIGATION -> PAGINATION
    ========================================================================  */

$pagination-alignment-modifiers: true !default;
$pagination-size-modifiers: true !default;
$pagination-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> AABR
    ========================================================================  */

$abbr-color-modifiers: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> BLOCKQUOTE
    ========================================================================  */

$blockquote-size-modifiers: true !default;
$blockquote-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> HORIZONTAL RULE
    ========================================================================  */

$horizontal-rule-color-modifiers: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> LIST
    ========================================================================  */

$list-clear-modifier: true !default;
$list-size-modifiers: true !default;
$list-size-modifier-breakpoints: true !default;
$list-style-type-modifiers: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> MARK
    ========================================================================  */

$mark-size-modifiers: true !default;
$mark-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> PARAGRAPH
    ========================================================================  */

$paragraph-size-modifiers: true !default;
$paragraph-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> PREFORMATTED
    ========================================================================  */

$code-size-modifiers: true !default;
$code-size-modifier-breakpoints: true !default;
$kbd-size-modifiers: true !default;
$kbd-size-modifier-breakpoints: true !default;
$pre-size-modifiers: true !default;
$pre-size-modifier-breakpoints: true !default;
$samp-size-modifiers: true !default;
$samp-size-modifier-breakpoints: true !default;
$var-size-modifiers: true !default;
$var-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> ACCORDION
    ========================================================================  */

$accordion-color-modifiers: true !default;
$accordion-size-modifiers: true !default;
$accordion-size-modifier-breakpoints: true !default;
$accordion-spaced-modifier: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> CARD
    ========================================================================  */

$card-size-modifiers: true !default;
$card-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> CHIP
    ========================================================================  */

$chip-color-modifiers: true !default;
$chip-feedback-modifiers: true !default;
$chip-pill-modifier: true !default;
$chip-size-modifiers: true !default;
$chip-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> DROPDOWN
    ========================================================================  */

$dropdown-alignment-modifiers: true !default;
$dropdown-megamenu-modifier: true !default;
$dropdown-size-modifiers: true !default;
$dropdown-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> NOTICE
    ========================================================================  */

$notice-feedback-modifiers: true !default;
$notice-size-modifiers: true !default;
$notice-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> PANEL
    ========================================================================  */

$panel-color-modifiers: true !default;
$panel-feedback-modifiers: true !default;
$panel-size-modifiers: true !default;
$panel-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> POPOVER
    ========================================================================  */

$popover-alignment-modifiers: true !default;
$popover-color-modifiers: true !default;
$popover-feedback-modifiers: true !default;
$popover-size-modifiers: true !default;
$popover-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> TOOLTIP
    ========================================================================  */

$tooltip-alignment-modifiers: true !default;
$tooltip-color-modifiers: true !default;
$tooltip-feedback-modifiers: true !default;
$tooltip-size-modifiers: true !default;
$tooltip-size-modifier-breakpoints: true !default;


/*  ========================================================================
    JUICE -> INITIALIZE -> SASS -> SETTINGS -> COLOR VARIATIONS
    ========================================================================  */

// Set the variation amount
$variation_amount: 3%;

// Set the variations
$variations: (
    'lighten-10': $variation_amount * 10,
    'lighten-9': $variation_amount * 9,
    'lighten-8': $variation_amount * 8,
    'lighten-7': $variation_amount * 7,
    'lighten-6': $variation_amount * 6,
    'lighten-5': $variation_amount * 5,
    'lighten-4': $variation_amount * 4,
    'lighten-3': $variation_amount * 3,
    'lighten-2': $variation_amount * 2,
    'lighten-1': $variation_amount * 1,
    'darken-1': $variation_amount * 1,
    'darken-2': $variation_amount * 2,
    'darken-3': $variation_amount * 3,
    'darken-4': $variation_amount * 4,
    'darken-5': $variation_amount * 5,
    'darken-6': $variation_amount * 6,
    'darken-7': $variation_amount * 7,
    'darken-8': $variation_amount * 8,
    'darken-9': $variation_amount * 9,
    'darken-10': $variation_amount * 10
);
