@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> SASS -> SHORTCODES
    ========================================================================  */

// Set the buttons
$button: '
    button,
    .button,
    a.button
' !default;

// Set the custom fieldset elements
$custom-fieldset-element: '
    input,
    select,
    textarea,
    #{button}
' !default;

// Set the headings
$heading: '
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
' !default;
