@charset 'utf-8';

/*  ========================================================================
    JUICE -> HELPERS -> CONTENT SPACING
    ========================================================================  */

.has-no-content-spacing {
    padding: 0 !important;
}

.has-default-content-spacing {
    padding: $default-content-spacing !important;
}

// Cycle through all of the sizes
@each $size in $sizes {
    .has-#{$size}-content-spacing {
        padding: map-get($default-content-spacing-sizes, $size) !important;
    }
}

// Cycle throuhgh all of the breakpoints
@each $breakpoint-name, $breakpoint-value in $breakpoints {
    // Breakpoint
    @include breakpoint($breakpoint-name) {
        .has-no-content-spacing\@#{$breakpoint-name} {
            padding: 0 !important;
        }

        .has-default-content-spacing\@#{$breakpoint-name} {
            padding: $default-content-spacing !important;
        }

        // Cycle through all of the sizes
        @each $size in $sizes {
            .has-#{$size}-content-spacing\@#{$breakpoint-name} {
                padding: map-get($default-content-spacing-sizes, $size) !important;
            }
        }
    }
}
