@charset 'utf-8';

/*  ========================================================================
    JUICE -> HELPERS -> DISPLAY
    ========================================================================  */

.show {
    display: block !important;
}

.show-inline {
    display: inline-block !important;
}

.show-flex {
    display: flex !important;
}

.show-inline-flex {
    display: inline-flex !important;
}

.hide {
    display: none !important;
}

// Cycle throuhgh all of the breakpoints
@each $breakpoint-name, $breakpoint in $breakpoints {
    // Breakpoint
    @include breakpoint($breakpoint-name) {
        .show\@#{$breakpoint-name} {
            display: block !important;
        }

        .show-inline\@#{$breakpoint-name} {
            display: inline-block !important;
        }

        .show-flex\@#{$breakpoint-name} {
            display: flex !important;
        }

        .show-inline-flex\@#{$breakpoint-name} {
            display: inline-flex !important;
        }

        .hide\@#{$breakpoint-name} {
            display: none !important;
        }
    }
}
