@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ZOOM -> ENTRANCE -> ZOOM OUT LEFT
    ========================================================================  */

// Check if the animations with zoom out left should be imported
@if $import-animations and $import-animation-zoom-out-left {
    .has-animation {
        // Nested selectors
        &.zoom-out-left {
            @keyframes zoom-out-left {
                from {
                    opacity: 1;
                    transform: translate3d(0, 0, 0)
                               scale3d(1, 1, 1);
                }

                to {
                    opacity: 0;
                    transform: translate3d((0px - $animation-zoom-out-distance), 0, 0)
                               scale3d($animation-zoom-out-scale, $animation-zoom-out-scale, $animation-zoom-out-scale);
                }
            }

            animation-delay: $animation-zoom-out-delay;
            animation-duration: $animation-zoom-out-duration;
            animation-name: zoom-out-left;
            animation-timing-function: $animation-zoom-out-easing;
        }
    }
}
