@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ZOOM -> ENTRANCE -> ZOOM OUT LEFT
    ========================================================================  */

// Check if the animations with zoom out left should be imported
@if $import-animations and $import-animation-zoom-out-left {
    .has-animation {
        // Nested selectors
        &.zoom-out-left {
            // Variables
            --animation-delay: var(--default-animation-zoom-out-delay);
            --animation-distance: calc(0px - var(--default-animation-zoom-out-distance));
            --animation-duration: var(--default-animation-zoom-out-duration);
            --animation-easing: var(--default-animation-zoom-out-easing);
            --animation-scale: var(--default-animation-zoom-out-scale);

            // Keyframes
            @keyframes zoom-out-left {
                from {
                    opacity: 1;
                    transform: translate3d(0, 0, 0)
                               scale3d(1, 1, 1);
                }

                to {
                    opacity: 0;
                    transform: translate3d(var(--animation-distance), 0, 0)
                               scale3d(var(--animation-scale), var(--animation-scale), var(--animation-scale));
                }
            }

            // Styles
            animation-name: zoom-out-left;
        }
    }
}
