@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ATTRACTORS -> PULSE
    ========================================================================  */

.pulse {
    // Variables
    --animation-delay: var(--default-animation-pulse-delay);
    --animation-duration: var(--default-animation-pulse-duration);
    --animation-easing: var(--default-animation-pulse-easing);
    --animation-iteration-count: var(--default-animation-pulse-iteration-count);

    // Keyframes
    @keyframes pulse {
        from, to {
            transform: scale3d(1, 1, 1);
        }

    	50% {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }

    // Styles
    animation-name: pulse;
}
