@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> ATTRACTORS -> VIBRATE
    ========================================================================  */

.vibrate {
    // Variables
    --animation-delay: var(--default-animation-vibrate-delay);
    --animation-duration: var(--default-animation-vibrate-duration);
    --animation-easing: var(--default-animation-vibrate-easing);
    --animation-iteration-count: var(--default-animation-vibrate-iteration-count);

    // Keyframes
    @keyframes vibrate {
        from, to {
            transform: translate3d(0, 0, 0);
        }

        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }

    // Styles
    animation-name: vibrate;
}
