@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> BOX -> VARIABLES
    ========================================================================  */

$box-background-color: base-color('white') !default;
$box-border-color: base-color('white', $border-color-palette-type) !default;
$box-border-radius-bottom-left: $border-radius-bottom-left !default;
$box-border-radius-bottom-right: $border-radius-bottom-right !default;
$box-border-radius-top-left: $border-radius-top-left !default;
$box-border-radius-top-right: $border-radius-top-right !default;
$box-border-style: $border-style !default;
$box-border-width-bottom: $border-width-bottom !default;
$box-border-width-left: $border-width-left !default;
$box-border-width-right: $border-width-right !default;
$box-border-width-top: $border-width-top !default;
$box-box-shadow: $box-shadow !default;
$box-content-spacing: $content-spacing !default;
$box-content-spacing-small: $content-spacing-small !default;
$box-content-spacing-large: $content-spacing-large !default;
$box-content-spacing-huge: $content-spacing-huge !default;
$box-element-spacing: $element-spacing !default;
$box-element-spacing-small: $element-spacing-small !default;
$box-element-spacing-large: $element-spacing-large !default;
$box-element-spacing-huge: $element-spacing-huge !default;
$box-font-color: base-color('white', 'invert') !default;
$box-font-size: $font-size !default;
$box-font-size-small: $font-size-small !default;
$box-font-size-large: $font-size-large !default;
$box-font-size-huge: $font-size-huge !default;
$box-link-color: $link-color !default;
$box-link-color-active: $link-color-active !default;
$box-link-color-focus: $link-color-focus !default;
$box-link-color-hover: $link-color-hover !default;


/*  ========================================================================
    JUICE -> ELEMENTS -> BOX
    ========================================================================  */

.box {
    background-color: $box-background-color;
    border: 0 $box-border-style $box-border-color;
    border-bottom-left-radius: $box-border-radius-bottom-left;
    border-bottom-right-radius: $box-border-radius-bottom-right;
    border-bottom-width: $box-border-width-bottom;
    border-left-width: $box-border-width-left;
    border-top-left-radius: $box-border-radius-top-left;
    border-top-right-radius: $box-border-radius-top-right;
    border-top-width: $box-border-width-top;
    border-right-width: $box-border-width-right;
    box-shadow: $box-box-shadow;
    color: $box-font-color;
    font-size: $box-font-size;
    margin: 0;
    margin-bottom: $box-element-spacing;
    padding: $box-content-spacing;

    // Modifiers: Sizes
    &.is-small {
        font-size: $box-font-size-small;
        margin-bottom: $box-element-spacing-small;
        padding: $box-content-spacing-small;
    }

    &.is-large {
        font-size: $box-font-size-large;
        margin-bottom: $box-element-spacing-large;
        padding: $box-content-spacing-large;
    }

    &.is-huge {
        font-size: $box-font-size-huge;
        margin-bottom: $box-element-spacing-huge;
        padding: $box-content-spacing-huge;
    }

    // Nested selectors
    a {
        color: $box-link-color;

        // Pseudo classes
        &:focus {
            color: $box-link-color-focus;
        }

        &:hover {
            color: $box-link-color-hover;
        }

        &:active {
            color: $box-link-color-active;
        }
    }
}
