@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> BREADCRUMB
    ========================================================================  */

.breadcrumb {
    // Variables
    --content-spacing: calc(var(--default-content-spacing) / 2);
    --element-spacing: var(--default-element-spacing);
    --font-color: inherit;
    --font-size: var(--default-font-size);

    // Styles
    color: var(--font-color);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: var(--element-spacing);

    // Modifiers
    &.breadcrumb--arrow {
        // Nested selectors
        li {
            // Pseudo elements
            &::before {
                content: '\02192';
                font-size: var(--font-size);
            }
        }
    }

    &.breadcrumb--bullet {
        // Nested selectors
        li {
            // Pseudo elements
            &::before {
                content: '\02022';
                font-size: var(--font-size);
            }
        }
    }

    &.breadcrumb--center {
        justify-content: center;
    }

    &.breadcrumb--right {
        justify-content: flex-end;
    }

    &.breadcrumb--slash {
        // Nested selectors
        li {
            // Pseudo elements
            &::before {
                content: '\0002f';
                font-size: var(--font-size);
            }
        }
    }

    // Nested selectors
    li {
        display: inline-flex;
        position: relative;

        // Pseudo classes
        &:first-child {
            // Pseudo elements
            &::before {
                content: '';
                font-size: var(--font-size);
                padding: 0;
            }
        }

        // Pseudo elements
        &::before {
            content: '\203A';
            padding: 0 var(--content-spacing);
            opacity: 0.5;
        }

        // Nested selectors
        a {
            // Variables
            --font-color: var(--default-link-color);

            // Styles
            color: var(--font-color);

            // Pseudo classes
            &:hover {
                --font-color: var(--default-link-color-hover);
            }

            &:focus {
                --font-color: var(--default-link-color-focus);
            }

            &:active {
                --font-color: var(--default-link-color-active);
            }
        }

        .breadcrumb__icon {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            margin-right: calc(var(--content-spacing) / 2);
        }
    }
}
