@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> HERO
    ========================================================================  */

.hero {
    // Variables
    --background-color: var(--color-charcoal);
    --background-position: center;
    --background-repeat: no-repeat;
    --background-size: cover;
    --content-spacing: calc(var(--default-content-spacing) * 2);
    --element-spacing: var(--default-element-spacing);
    --font-color: var(--color-charcoal-inverted-text);
    --font-size: var(--default-font-size);

    // Styles
    background-color: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    background-size: var(--background-size);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    justify-content: center;
    padding: var(--content-spacing);
    margin-bottom: var(--element-spacing);

    // Modifiers: Colors
    @each $color-name, $color in $colors {
        &.is-#{$color-name} {
            // Variables
            --background-color: var(--color-#{$color-name});
            --font-color: var(--color-#{$color-name}-inverted-text);
        }
    }

    // Modifiers: Feedback colors
    @each $feedback-name, $color in $feedback-colors {
        &.has-#{$feedback-name} {
            // Variables
            --background-color: var(--feedback-color-#{$feedback-name});
            --font-color: var(--feedback-color-#{$feedback-name}-inverted-text);
        }
    }

    // Modifiers
    &.hero--25vh {
        min-height: 25vh;
    }

    &.hero--50vh {
        min-height: 50vh;
    }

    &.hero--75vh {
        min-height: 75vh;
    }

    &.hero--100vh {
        min-height: 100vh;
    }

    &.hero--parallax {
        background-attachment: fixed;
    }

    // Nested selectors
    .hero__head,
    .hero__foot {
        flex: 0 0 auto;
    }

    .hero__body {
        align-items: center;
        display: flex;
        flex: 1 0 auto;
    }

    a {
        // Variables
        --font-color: var(--color-white);

        // Styles
        color: var(--font-color);

        // Pseudo classes
        &:hover {
            --font-color: var(--color-white-darken-2);
        }

        &:focus {
            --font-color: var(--color-white-darken-4);
        }

        &:active {
            --font-color: var(--color-white-darken-6);
        }
    }
}
