@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> LIST
    ========================================================================  */

ul,
ol {
    // Variables
    --element-spacing: var(--default-element-spacing);
    --font-size: var(--default-font-size);
    --indent-spacing: var(--default-content-spacing);

    // Styles
    font-size: var(--font-size);
    margin: 0;
    margin-bottom: var(--element-spacing);
    margin-left: var(--indent-spacing);

    // Modifiers: Sizes
    @each $size in $sizes {
        &.is-#{$size} {
            --font-size: var(--default-font-size-#{$size});
        }
    }

    // Modifiers
    @each $type in $list-style-types {
        &.list--#{$type} {
            list-style-type: $type;
        }
    }

    &.list--clear {
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding: 0;
    }
}
