@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> MEDIA -> IMAGE
    ========================================================================  */

img {
    // Variables
    --element-spacing: var(--default-element-spacing);

    // Styles
    max-width: 100%;

    // Modifiers: State hooks
    &.is-fullwidth {
        display: flex;
        max-width: auto;
        margin-bottom: var(--element-spacing);
        margin-right: 0;
        min-width: 100%;
    }

    // Modifiers: Sizes
    @each $size in $sizes {
        &.is-#{$size} {
            --element-spacing: var(--default-element-spacing-#{$size});
        }
    }

    // Modifiers
    &.image--center {
        display: flex;
        float: none;
        margin: 0 auto var(--element-spacing);
    }

    &.image--left {
        float: left;
        margin: 0;
        margin-right: var(--element-spacing);
    }

    &.image--right {
        float: right;
        margin: 0;
        margin-left: var(--element-spacing);
    }

    &.image--round {
        border-radius: 100%;
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> MEDIA -> OBJECT
    ========================================================================  */

.media-object {
    // Variables
    --badge-image-width: 75px;
    --badge-image-width-small: 50px;
    --badge-image-width-large: 100px;
    --badge-image-width-huge: 125px;
    --content-spacing: var(--default-content-spacing);
    --element-spacing: var(--default-element-spacing);
    --font-size: var(--default-font-size);

    // Styles
    display: flex;
    font-size: var(--font-size);
    margin: 0;
    margin-bottom: var(--element-spacing);
    position: relative;

    // Modifiers: Sizes
    @each $size in $sizes {
        &.is-#{$size} {
            --badge-image-width: var(--badge-image-width-#{$size});
            --content-spacing: var(--default-content-spacing-#{$size});
            --font-size: var(--default-font-size-#{$size});
        }
    }

    // Modifiers
    &.media-object--reverse {
        flex-direction: row-reverse;

        // Nested selectors
        .media-object__badge {
            margin: 0;
            margin-left: var(--element-spacing);
        }
    }

    &.media-object--seamless {
        // Nested selectors
        .media-object__badge {
            margin-right: 0;
        }
    }

    // Nested selectors
    .media-object__badge {
        margin: 0;
        margin-right: var(--content-spacing);
        flex: 0 0 auto;

        // Nested selectors
        img {
            display: block;
            max-width: var(--badge-image-width);
            min-width: var(--badge-image-width);
            width: var(--badge-image-width);
        }
    }

    .media-object__content {
        flex-grow: 1;
    }
}
