@charset "utf-8";

/* =============================================================================================
   JUICE -> COMPONENTS -> NAVIGATION -> VARIABLES
   ============================================================================================= */

$navigation-content-spacing: $content-spacing !default;
$navigation-font-color: inherit !default;
$navigation-font-size: $font-size !default;
$navigation-element-spacing: $element-spacing !default;
$navigation-link-color: $link-color !default;
$navigation-link-color--focus: $link-color--focus !default;
$navigation-link-color--hover: $link-color--hover !default;
$navigation-link-color--active: $link-color--active !default;


/* =============================================================================================
   JUICE -> COMPONENTS -> NAVIGATION
   ============================================================================================= */

.navigation {
    align-items: center;
    color: $navigation-font-color;
    display: flex;
    flex-wrap: wrap;
    font-size: $navigation-font-size;
    position: relative;
    margin: 0;
    margin-bottom: $navigation-element-spacing;

    // Nested selectors
    a {
        color: $navigation-link-color;

        // Pseudo classes
        &:focus {
            color: $navigation-link-color--focus;
        }

        &:hover {
            color: $navigation-link-color--hover;
        }

        &:active {
            color: $navigation-link-color--active;
        }
    }

    .navigation__logo,
    .navigation__links,
    .navigation__search {
        padding: 0 ($navigation-content-spacing / 2);

        // Pseudo classes
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .navigation__logo {
        display: flex;
        flex-basis: 25%;
        flex-grow: 1;

        // Nested selectors
        a {
            display: inline-flex;
        }
    }

    .navigation__links {
        // Nested selectors
        ul,
        ol {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            // Nested selectors
            li {
                flex: 1 0 auto;

                // Nested selectors
                a {
                    display: inline-flex;
                    padding: $navigation-content-spacing;

                    // Pseudo classes
                    &:focus-within + .navigation__sub-nav {
                        display: inline-flex;
                    }
                }
            }
        }

        .navigation__bars {
            display: none;

            // Nested selectors
            #{$button} {
                margin-bottom: 0;
            }
        }
    }

    .navigation__search {
        // Nested selectors
        #{$input} {
            margin-bottom: 0;
        }
    }

    // Breakpoints
    @include breakpoint('touch') {
        // Nested selectors
        .navigation__search {
            flex-basis: 100%;
            padding: 0;
            padding-top: $navigation-content-spacing;
            order: 1;
        }
    }

    @include breakpoint('until-desktop') {
        // Nested selectors
        .navigation__links {
            // Nested selectors
            ul,
            ol {
                display: none;
            }

            .navigation__bars {
                display: block;
            }
        }
    }
}
