@charset "utf-8";

/*  ========================================================================
    JUICE -> ELEMENTS -> NAVIGATION -> VARIABLES
    ========================================================================  */

$navigation-content-spacing: $content-spacing !default;
$navigation-font-color: inherit !default;
$navigation-font-size: $font-size !default;
$navigation-element-spacing: $element-spacing !default;
$navigation-link-color: $link-color !default;
$navigation-link-color-focus: $link-color-focus !default;
$navigation-link-color-hover: $link-color-hover !default;
$navigation-link-color-active: $link-color-active !default;


/*  ========================================================================
    JUICE -> ELEMENTS -> NAVIGATION
    ========================================================================  */

.navigation {
    align-items: center;
    color: $navigation-font-color;
    display: flex;
    flex-wrap: wrap;
    font-size: $navigation-font-size;
    position: relative;
    margin: 0;
    margin-bottom: $navigation-element-spacing;

    // Nested selectors
    a {
        color: $navigation-link-color;

        // Pseudo classes
        &:focus {
            color: $navigation-link-color-focus;
        }

        &:hover {
            color: $navigation-link-color-hover;
        }

        &:active {
            color: $navigation-link-color-active;
        }
    }

    .navigation__logo,
    .navigation__links,
    .navigation__bars {
        padding: 0 ($navigation-content-spacing / 2);

        // Pseudo classes
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .navigation__logo {
        display: flex;
        flex: 1 0 25%;

        // Nested selectors
        a {
            display: inline-flex;
        }
    }

    .navigation__links {
        display: none;

        // Nested selectors
        ul,
        ol {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;

            // Nested selectors
            li {
                flex: 1 0 auto;

                // Nested selectors
                a {
                    display: inline-flex;
                    padding: $navigation-content-spacing;
                }
            }
        }
    }

    .navigation__icons {
        // Nested selectors
        #{$button} {
            margin-bottom: 0;
            margin-right: $navigation-content-spacing / 4;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .navigation__revealer {
        display: none;
        flex: 1 0 100%;
        padding: $navigation-content-spacing;

         // Nested selectors
        ul,
        ol {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;

             // Nested selectors
            li {
                flex: 1 0 auto;

                 // Nested selectors
                a {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    padding: ($navigation-content-spacing / 2) $navigation-content-spacing;
                }
            }
        }
    }

    // Breakpoints
    @include breakpoint('laptop-up') {
        // Nested selectors
        .navigation__links {
            // Nested selectors
            ul,
            ol {
                display: flex;
            }
        }

        .navigation__links {
            display: flex;
        }

        .navigation__icons {
            display: none;
        }

        .navigation__revealer {
            display: none !important;
        }
    }
}
