@charset "utf-8";

/*  =========================================================================
    JUICE -> ELEMENTS -> PAGINATION -> VARIABLES
    ========================================================================= */

$pagination-active-background-color: base-color('primary') !default;
$pagination-active-background-color-active: base-color('primary', $background-color-palette-type-active) !default;
$pagination-active-background-color-focus: base-color('primary', $background-color-palette-type-focus) !default;
$pagination-active-background-color-hover: base-color('primary', $background-color-palette-type-hover) !default;
$pagination-active-border-color: base-color('primary', $border-color-palette-type) !default;
$pagination-active-border-color-active: base-color('primary', $border-color-palette-type-active) !default;
$pagination-active-border-color-focus: base-color('primary', $border-color-palette-type-focus) !default;
$pagination-active-border-color-hover: base-color('primary', $border-color-palette-type-hover) !default;
$pagination-active-link-color: base-color('primary', 'invert') !default;
$pagination-active-link-color-active: base-color('primary', 'invert') !default;
$pagination-active-link-color-focus: base-color('primary', 'invert') !default;
$pagination-active-link-color-hover: base-color('primary', 'invert') !default;
$pagination-background-color: base-color('white') !default;
$pagination-background-color-active: base-color('primary', $background-color-palette-type-active) !default;
$pagination-background-color-focus: base-color('primary', $background-color-palette-type-focus) !default;
$pagination-background-color-hover: base-color('primary', $background-color-palette-type-hover) !default;
$pagination-border-color: base-color('white', $border-color-palette-type) !default;
$pagination-border-color-active: base-color('primary', $border-color-palette-type-active) !default;
$pagination-border-color-focus: base-color('primary', $border-color-palette-type-focus) !default;
$pagination-border-color-hover: base-color('primary', $border-color-palette-type-hover) !default;
$pagination-border-radius-bottom-left: $border-radius-bottom-left !default;
$pagination-border-radius-bottom-right: $border-radius-bottom-right !default;
$pagination-border-radius-top-left: $border-radius-top-left !default;
$pagination-border-radius-top-right: $border-radius-top-right !default;
$pagination-border-style: $border-style !default;
$pagination-border-width-bottom: $border-width-bottom !default;
$pagination-border-width-divider: $border-width-divider !default;
$pagination-border-width-left: $border-width-left !default;
$pagination-border-width-right: $border-width-right !default;
$pagination-border-width-top: $border-width-top !default;
$pagination-box-shadow: $box-shadow !default;
$pagination-content-spacing: $content-spacing / 2 !default;
$pagination-content-spacing-small: $content-spacing-small / 2 !default;
$pagination-content-spacing-large: $content-spacing-large / 2 !default;
$pagination-content-spacing-huge: $content-spacing-huge / 2 !default;
$pagination-element-height: $element-height !default;
$pagination-element-height-small: $element-height-small !default;
$pagination-element-height-large: $element-height-large !default;
$pagination-element-height-huge: $element-height-huge !default;
$pagination-element-spacing: $element-spacing !default;
$pagination-element-spacing-small: $element-spacing-small !default;
$pagination-element-spacing-large: $element-spacing-large !default;
$pagination-element-spacing-huge: $element-spacing-huge !default;
$pagination-link-color: base-color('white', 'invert') !default;
$pagination-link-color-active: base-color('slate', 'invert') !default;
$pagination-link-color-focus: base-color('slate', 'invert') !default;
$pagination-link-color-hover: base-color('slate', 'invert') !default;
$pagination-font-size: $font-size !default;
$pagination-font-size-small: $font-size-small !default;
$pagination-font-size-large: $font-size-large !default;
$pagination-font-size-huge: $font-size-huge !default;


/*  =========================================================================
    JUICE -> ELEMENTS -> PAGINATION
    ========================================================================= */

.pagination {
    display: flex;
    font-size: $pagination-font-size;
    justify-content: space-between;
    margin-bottom: $pagination-element-spacing;

    // Modifiers
    &.pagination-left {
        justify-content: flex-start;
    }

    &.pagination--center {
        justify-content: center;
    }

    &.pagination-right {
        justify-content: flex-end;
    }

    // Modifiers: Sizes
    &.is-small {
        font-size: $pagination-font-size-small;
        margin-bottom: $pagination-element-spacing-small;

        // Breakpoints
        @include breakpoint('touch') {
            // Nested selectors
            .pagination__pager,
            .pagination__list {
                margin-bottom: $pagination-element-spacing-small;

                // Pseudo classes
                &:first-child {
                    margin-right: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }

        // Nested selectors
        .pagination__pager,
        .pagination__list {
            // Pseudo classes
            &:first-child {
                margin-right: $pagination-content-spacing-small;
            }

            &:last-child {
                margin-left: $pagination-content-spacing-small;
            }

            // Nested selectors
            li {
                // Nested selectors
                a,
                .pagination__ellipsis {
                    height: $pagination-element-height-small;
                    padding: 0 $pagination-content-spacing-small;
                }
            }
        }
    }

    &.is-large {
        font-size: $pagination-font-size-large;
        margin-bottom: $pagination-element-spacing-large;

        // Breakpoints
        @include breakpoint('touch') {
            // Nested selectors
            .pagination__pager,
            .pagination__list {
                margin-bottom: $pagination-element-spacing-large;

                // Pseudo classes
                &:first-child {
                    margin-right: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }

        // Nested selectors
        .pagination__pager,
        .pagination__list {
            // Pseudo classes
            &:first-child {
                margin-right: $pagination-content-spacing-large;
            }

            &:last-child {
                margin-left: $pagination-content-spacing-large;
            }

            // Nested selectors
            li {
                // Nested selectors
                a,
                .pagination__ellipsis {
                    height: $pagination-element-height-large;
                    padding: 0 $pagination-content-spacing-large;
                }
            }
        }
    }

    &.is-huge {
        font-size: $pagination-font-size-huge;
        margin-bottom: $pagination-element-spacing-huge;

        // Breakpoints
        @include breakpoint('touch') {
            // Nested selectors
            .pagination__pager,
            .pagination__list {
                margin-bottom: $pagination-element-spacing-huge;

                // Pseudo classes
                &:first-child {
                    margin-right: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }

        // Nested selectors
        .pagination__pager,
        .pagination__list {
            // Pseudo classes
            &:first-child {
                margin-right: $pagination-content-spacing-huge;
            }

            &:last-child {
                margin-left: $pagination-content-spacing-huge;
            }

            // Nested selectors
            li {
                // Nested selectors
                a,
                .pagination__ellipsis {
                    height: $pagination-element-height-huge;
                    padding: 0 $pagination-content-spacing-huge;
                }
            }
        }
    }

    // Breakpoints
    @include breakpoint('touch') {
        flex-direction: column;

        // Modifiers
        &.pagination-left,
        &.pagination--center,
        &.pagination-right {
            justify-content: center;
        }

        // Nested selectors
        .pagination__pager,
        .pagination__list {
            justify-content: center;
            margin-bottom: $pagination-element-spacing;

            // Pseudo classes
            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-bottom: 0;
                margin-left: 0;
            }

            // Nested selectors
            li {
                flex: 1 0 0;
            }
        }
    }

    // Nested selectors
    .pagination__pager,
    .pagination__list {
        box-shadow: $pagination-box-shadow;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        // Pseudo classes
        &:first-child {
            margin-right: $pagination-content-spacing;
        }

        &:last-child {
            margin-left: $pagination-content-spacing;
        }

        &:only-child {
            margin: 0;
        }

        // Nested selectors
        li {
            margin-right: -$pagination-border-width-divider;

            // Pseudo classes
            &:first-child {
                // Nested selectors
                a,
                .pagination__ellipsis {
                    border-bottom-left-radius: $pagination-border-radius-bottom-left;
                    border-left-width: $pagination-border-width-left;
                    border-top-left-radius: $pagination-border-radius-top-left;
                }
            }

            &:last-child {
                // Nested selectors
                a,
                .pagination__ellipsis {
                    border-bottom-right-radius: $pagination-border-radius-bottom-right;
                    border-right-width: $pagination-border-width-right;
                    border-top-right-radius: $pagination-border-radius-top-right;
                }
            }

            // Nested selectors
            a,
            .pagination__ellipsis {
                align-items: center;
                background-color: $pagination-background-color;
                border: 0 $pagination-border-style $pagination-border-color;
                border-bottom-width: $pagination-border-width-bottom;
                border-left-width: $pagination-border-width-divider;
                border-right-width: $pagination-border-width-divider;
                border-top-width: $pagination-border-width-top;
                color: $pagination-link-color;
                display: inline-flex;
                height: $pagination-element-height;
                justify-content: center;
                padding: 0 $pagination-content-spacing;
                width: 100%;
            }

            a {
                position: relative;
                text-decoration: none;
                z-index: get-stack-index('default');

                // Pseudo classes
                &:hover {
                    background-color: $pagination-background-color-hover;
                    border-color: $pagination-border-color-hover;
                    color: $pagination-link-color-hover;
                    z-index: get-stack-index('hover');
                }

                &:focus {
                    background-color: $pagination-background-color-focus;
                    border-color: $pagination-border-color-focus;
                    box-shadow: set-focus-box-shadow($pagination-background-color-hover);
                    color: $pagination-link-color-focus;
                    z-index: get-stack-index('focus');
                }

                &:active {
                    background-color: $pagination-background-color-active;
                    border-color: $pagination-border-color-active;
                    color: $pagination-link-color-active;
                    z-index: get-stack-index('active');
                }

                // Modifiers: State hooks
                &.is-active {
                    background-color: $pagination-active-background-color;
                    border-color: $pagination-active-border-color;
                    color: $pagination-active-link-color;
                    z-index: get-stack-index('is-active');

                    &:hover {
                        background-color: $pagination-active-background-color-hover;
                        border-color: $pagination-active-border-color-hover;
                        color: $pagination-active-link-color-hover;
                    }

                    // Pseudo classes
                    &:focus {
                        background-color: $pagination-active-background-color-focus;
                        border-color: $pagination-active-border-color-focus;
                        color: $pagination-active-link-color-focus;
                    }

                    &:active {
                        background-color: $pagination-active-background-color-active;
                        border-color: $pagination-active-border-color-active;
                        color: $pagination-active-link-color-active;
                    }

                    // Modifiers
                    &[disabled],
                    &.is-disabled {
                        background-color: $pagination-active-background-color !important;
                        border-color: $pagination-active-border-color !important;
                        color: $pagination-active-link-color !important;
                    }
                }

                &[disabled],
                &.is-disabled {
                    @include disabled();
                    background-color: $pagination-background-color !important;
                    border-color: $pagination-border-color !important;
                    color: $pagination-link-color !important;
                }
            }
        }
    }
}
