@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> VARIABLES
    ========================================================================  */

$spinner-base-animation-duration: 1000ms !default;
$spinner-color: base-color('charcoal') !default;
$spinner-color-alpha: 0.3 !default;
$spinner-element-size: 40px !default;


/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER
    ========================================================================  */

.spinner {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
}


/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> DIAL
    ========================================================================  */

@keyframes spinner-dial {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--dial {
        animation-duration: $spinner-base-animation-duration;
        animation-iteration-count: infinite;
        animation-name: spinner-dial;
        animation-timing-function: linear;
        border: 2px solid $spinner-color;
        border-radius: 100%;
        display: inline-flex;
        height: $spinner-element-size;
        width: $spinner-element-size;

        // Pseudo classes
        &::before {
            animation: none;
            background-color: $spinner-color;
            border-radius: 100%;
            content: '';
            height: 4px;
            position: absolute;
            top: 4px;
            width: 4px;
        }

        // Modifiers: Base colors
        @each $name, $color in $base-colors {
            &.is-#{$name} {
                border-color: base-color($name);

                // Pseudo classes
                &::before {
                    background-color: base-color($name);
                }
            }
        }
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> RING
    ========================================================================  */

@keyframes spinner-ring {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--ring {
        animation-duration: $spinner-base-animation-duration;
        animation-iteration-count: infinite;
        animation-name: spinner-ring;
        animation-timing-function: linear;
        border: 5px solid rgba($spinner-color, $spinner-color-alpha);
        border-radius: 100%;
        display: inline-flex;
        height: $spinner-element-size;
        width: $spinner-element-size;

        // Pseudo classes
        &::before {
            animation: none;
            background: $spinner-color;
            border-radius: 100%;
            content: '';
            height: 5px;
            position: absolute;
            top: -5px;
            width: 5px;
        }

        // Modifiers: Base colors
        @each $name, $color in $base-colors {
            &.is-#{$name} {
                border-color: rgba(base-color($name), $spinner-color-alpha);

                // Pseudo classes
                &::before {
                    background-color: base-color($name);
                }
            }
        }
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> SPIRAL
    ========================================================================  */

@keyframes spinner-spiral {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--spiral,
    &.spinner--spiral-x2,
    &.spinner--spiral-x3 {
        animation-duration: $spinner-base-animation-duration;
        animation-iteration-count: infinite;
        animation-name: spinner-spiral;
        animation-timing-function: linear;
        border: 1px solid rgba($spinner-color, $spinner-color-alpha);
        border-radius: 100%;
        border-top-color: $spinner-color;
        display: inline-flex;
        height: $spinner-element-size;
        width: $spinner-element-size;

        // Modifiers: Base colors
        @each $name, $color in $base-colors {
            &.is-#{$name} {
                border-color: rgba(base-color($name), $spinner-color-alpha);
                border-top-color: base-color($name);

                // Pseudo classes
                &::before,
                &::after {
                    border-color: rgba(base-color($name), $spinner-color-alpha);
                    border-top-color: base-color($name);
                }
            }
        }
    }

    &.spinner--spiral {
        border-width: 2px;
    }

    &.spinner--spiral-x2 {
        // Pseudo classes
        &::before {
            animation-duration: $spinner-base-animation-duration * 3;
            animation-iteration-count: infinite;
            animation-name: spinner-spiral;
            animation-timing-function: linear;
            border: 1px solid rgba($spinner-color, $spinner-color-alpha);
            border-radius: 100%;
            border-top-color: $spinner-color;
            content: '';
            height: $spinner-element-size - 8px;
            position: absolute;
            width: $spinner-element-size - 8px;
        }
    }

    &.spinner--spiral-x3 {
        // Pseudo classes
        &::before,
        &::after {
            animation-iteration-count: infinite;
            animation-name: spinner-spiral;
            animation-timing-function: linear;
            border: 1px solid rgba($spinner-color, $spinner-color-alpha);
            border-radius: 100%;
            border-top-color: $spinner-color;
            content: '';
            position: absolute;
        }

        &::before {
            animation-duration: $spinner-base-animation-duration * 3;
            height: $spinner-element-size - 8px;
            width: $spinner-element-size - 8px;
        }

        &::after {
            animation-duration: $spinner-base-animation-duration * 1.5;
            height: $spinner-element-size - 16px;
            width: $spinner-element-size - 16px;
        }
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> SWOOSH
    ========================================================================  */

@keyframes spinner-swoosh {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--swoosh {
        animation-duration: $spinner-base-animation-duration;
        animation-iteration-count: infinite;
        animation-name: spinner-swoosh;
        animation-timing-function: linear;
        border: 0 solid $spinner-color;
        border-top-width: 2px;
        border-radius: 100%;
        display: inline-flex;
        height: $spinner-element-size;
        width: $spinner-element-size;

        // Modifiers: Base colors
        @each $name, $color in $base-colors {
            &.is-#{$name} {
                border-color: base-color($name);
            }
        }
    }
}


/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> TARGET
    ========================================================================  */

@keyframes spinner-target {
    100% {
        transform: rotate(1440deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--target,
    &.spinner--target-x2,
    &.spinner--target-x3 {
        animation-direction: alternate;
        animation-duration: ($spinner-base-animation-duration * 4);
        animation-iteration-count: infinite;
        animation-name: spinner-target;
        animation-timing-function: ease-in-out;
        border: 1px solid rgba($spinner-color, $spinner-color-alpha);
        border-bottom-color: $spinner-color;
        border-radius: 100%;
        border-top-color: $spinner-color;
        display: inline-flex;
        height: $spinner-element-size;
        width: $spinner-element-size;

        // Modifiers: Base colors
        @each $name, $color in $base-colors {
            &.is-#{$name} {
                border: 1px solid rgba(base-color($name), $spinner-color-alpha);
                border-bottom-color: base-color($name);
                border-top-color: base-color($name);

                // Pseudo classes
                &::before,
                &::after {
                    border: 1px solid rgba(base-color($name), $spinner-color-alpha);
                    border-bottom-color: base-color($name);
                    border-top-color: base-color($name);
                }
            }
        }
    }

    &.spinner--target {
        border-width: 2px;
    }

    &.spinner--target-x2 {
        // Pseudo classes
        &::before {
            animation-duration: ($spinner-base-animation-duration * 4) * 3;
            animation-iteration-count: infinite;
            animation-name: spinner-target;
            animation-timing-function: ease-in-out;
            border: 1px solid rgba($spinner-color, $spinner-color-alpha);
            border-bottom-color: $spinner-color;
            border-radius: 100%;
            border-top-color: $spinner-color;
            content: '';
            height: $spinner-element-size - 8px;
            position: absolute;
            width: $spinner-element-size - 8px;
        }
    }

    &.spinner--target-x3 {
        // Pseudo classes
        &::before,
        &::after {
            animation-iteration-count: infinite;
            animation-name: spinner-target;
            animation-timing-function: ease-in-out;
            border: 1px solid rgba($spinner-color, $spinner-color-alpha);
            border-bottom-color: $spinner-color;
            border-radius: 100%;
            border-top-color: $spinner-color;
            content: '';
            position: absolute;
        }

        &::before {
            animation-duration: ($spinner-base-animation-duration * 4) * 3;
            height: $spinner-element-size - 8px;
            width: $spinner-element-size - 8px;
        }

        &::after {
            animation-duration: ($spinner-base-animation-duration * 4) * 1.5;
            height: $spinner-element-size - 16px;
            width: $spinner-element-size - 16px;
        }
    }
}
