@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> TABLE
    ========================================================================  */

table {
    // Variables
    --border-style: var(--default-border-style);
    --content-spacing: var(--default-content-spacing);
    --element-spacing: var(--default-element-spacing);
    --font-size: var(--default-font-size);

    // Styles
    font-size: var(--font-size);
    margin: 0;
    margin-bottom: var(--element-spacing);
    max-width: 100%;
    width: 100%;

    // Modifiers: Sizes
    @each $size in $sizes {
        &.is-#{$size} {
            --content-spacing: var(--default-content-spacing-#{$size});
            --font-size: var(--default-font-size-#{$size});
        }
    }

    // Modifiers
    &.table--border {
        // Nested selectors
        tbody {
            // Nested selectors
            tr {
                border-bottom: var(--border-width-divider) var(--border-style) var(--border-color);

                // Nested selectors
                td {
                    border-left: var(--border-width-left) var(--border-style) var(--border-color);
                    border-right: var(--border-width-right) var(--border-style) var(--border-color);

                    // Pseudo classes
                    &:first-child {
                        border-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
    }

    &.table--border-horizontal {
        // Nested selectors
        tbody {
            // Nested selectors
            tr {
                border-bottom: var(--border-width-divider) var(--border-style) var(--border-color);
            }
        }
    }

    &.table--border-vertical {
        // Nested selectors
        tbody {
            // Nested selectors
            tr {
                // Nested selectors
                td {
                    border-left: var(--border-width-left) var(--border-style) var(--border-color);
                    border-right: var(--border-width-right) var(--border-style) var(--border-color);

                    // Pseudo classes
                    &:first-child {
                        border-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
    }

    // Nested selectors
    caption {
        padding: var(--content-spacing);
        text-align: inherit;
    }

    thead {
        // Variables
        --background-color: var(--color-charcoal);
        --border-color: var(--color-charcoal-darken-3);
        --border-width-bottom: calc(var(--default-border-width-bottom) * 2);
        --border-width-left: var(--default-border-width-left);
        --border-width-right: var(--default-border-width-right);
        --border-width-top: var(--default-border-width-top);
        --font-color: var(--color-charcoal-inverted-text);

        // Styles
        background-color: var(--background-color);
        border: 0 var(--border-style) var(--border-color);
        border-bottom-width: var(--border-width-bottom);
        border-left-width: var(--border-width-left);
        border-right-width: var(--border-width-right);
        border-top-width: var(--border-width-top);
        color: var(--font-color);
    }

    tbody {
        // Variables
        --background-color: var(--color-white);
        --border-color: var(--color-white-darken-3);
        --border-width-bottom: var(--default-border-width-bottom);
        --border-width-left: var(--default-border-width-left);
        --border-width-right: var(--default-border-width-right);
        --border-width-top: var(--default-border-width-top);
        --border-width-divider: var(--default-border-width-divider);
        --font-color: var(--font-color-default);

        // Styles
        background-color: var(--background-color);
        border: 0 var(--border-style) var(--border-color);
        border-bottom-width: var(--border-width-bottom);
        border-left-width: var(--border-width-left);
        border-right-width: var(--border-width-right);
        border-top-width: var(--border-width-top);
        color: var(--font-color);
    }

    thead,
    tbody {
        // Nested selectors
        tr {
            // Nested selectors
            th,
            td {
                padding: var(--content-spacing);
                vertical-align: middle;
            }
        }
    }
}
