@charset "utf-8";

/* =============================================================================================
   JUICE -> ELEMENTS -> TYPOGRAPHY -> VARIABLES
   ============================================================================================= */

// Body
$body-font-color: font-color() !default;
$body-font-family: $primary-typeface !default;
$body-font-size: $root-font-size !default;
$body-font-weight: 400 !default;
$body-letter-spacing: 0 !default;
$body-line-height: 1.8 !default;

// Paragraph
$p-element-spacing: $element-spacing !default;
$p-element-spacing--small: $element-spacing--small !default;
$p-element-spacing--large: $element-spacing--large !default;
$p-element-spacing--huge: $element-spacing--huge !default;
$p-font-size: $font-size !default;
$p-font-size--small: $font-size--small !default;
$p-font-size--large: $font-size--large !default;
$p-font-size--huge: $font-size--huge !default;

// Horizontal rule
$hr-border-color: hsla(0, 0, 50%, .15) !default;
$hr-border-style: $border-style !default;
$hr-border-width: 1px !default;
$hr-element-spacing: $element-spacing !default;
$hr-element-spacing--small: $element-spacing--small !default;
$hr-element-spacing--large: $element-spacing--large !default;
$hr-element-spacing--huge: $element-spacing--huge !default;

// Link
$link-color: base-color('primary', $pseudo-link-color-type) !default;
$link-color--focus: base-color('primary', $pseudo-link-color-type--focus) !default;
$link-color--hover: base-color('primary', $pseudo-link-color-type--hover) !default;
$link-color--active: base-color('primary', $pseudo-link-color-type--active) !default;

// Headings
$heading-element-spacing: $element-spacing !default;
$heading-element-spacing--small: $element-spacing--small !default;
$heading-element-spacing--large: $element-spacing--large !default;
$heading-element-spacing--huge: $element-spacing--huge !default;

// Heading 1
$h1-font-color: inherit !default;
$h1-font-family: $secondary-typeface !default;
$h1-font-size: 3.0em !default;
$h1-font-size--small: 2.9em !default;
$h1-font-size--large: 3.1em !default;
$h1-font-size--huge: 3.2em !default;
$h1-font-variant: normal !default;
$h1-font-weight: 400 !default;
$h1-letter-spacing: 0 !default;
$h1-text-transform: none !default;

// Heading 2
$h2-font-color: inherit !default;
$h2-font-family: $secondary-typeface !default;
$h2-font-size: 2.6em !default;
$h2-font-size--small: 2.5em !default;
$h2-font-size--large: 2.7em !default;
$h2-font-size--huge: 2.8em !default;
$h2-font-variant: normal !default;
$h2-font-weight: 400 !default;
$h2-letter-spacing: 0 !default;
$h2-text-transform: none !default;

// Heading 3
$h3-font-color: inherit !default;
$h3-font-family: $secondary-typeface !default;
$h3-font-size: 2.2em !default;
$h3-font-size--small: 2.1em !default;
$h3-font-size--large: 2.3em !default;
$h3-font-size--huge: 2.4em !default;
$h3-font-variant: normal !default;
$h3-font-weight: 400 !default;
$h3-letter-spacing: 0 !default;
$h3-text-transform: none !default;

// Heading 4
$h4-font-color: inherit !default;
$h4-font-family: $secondary-typeface !default;
$h4-font-size: 1.8em !default;
$h4-font-size--small: 1.7em !default;
$h4-font-size--large: 1.9em !default;
$h4-font-size--huge: 2.0em !default;
$h4-font-variant: normal !default;
$h4-font-weight: 400 !default;
$h4-letter-spacing: 0 !default;
$h4-text-transform: none !default;

// Heading 5
$h5-font-color: inherit !default;
$h5-font-family: $secondary-typeface !default;
$h5-font-size: 1.6em !default;
$h5-font-size--small: 1.5em !default;
$h5-font-size--large: 1.7em !default;
$h5-font-size--huge: 1.8em !default;
$h5-font-variant: normal !default;
$h5-font-weight: 400 !default;
$h5-letter-spacing: 0 !default;
$h5-text-transform: none !default;

// Heading 6
$h6-font-color: inherit !default;
$h6-font-family: $secondary-typeface !default;
$h6-font-size: 1.4em !default;
$h6-font-size--small: 1.3em !default;
$h6-font-size--large: 1.5em !default;
$h6-font-size--huge: 1.6em !default;
$h6-font-variant: normal !default;
$h6-font-weight: 400 !default;
$h6-letter-spacing: 0 !default;
$h6-text-transform: none !default;

// Abbreviation
$abbr-border-color: feedback-color('info', $pseudo-border-color-type) !default;

// Mark
$mark-background-color: base-color('yellow', 'lighten-4') !default;
$mark-border-color: transparent !default;
$mark-border-radius--top-left: 0 !default;
$mark-border-radius--top-right: 0 !default;
$mark-border-radius--bottom-right: 0 !default;
$mark-border-radius--bottom-left: 0 !default;
$mark-border-style: $border-style !default;
$mark-border-width--top: 0 !default;
$mark-border-width--right: 0 !default;
$mark-border-width--bottom: 0 !default;
$mark-border-width--left: 0 !default;
$mark-font-color: font-color() !default;
$mark-font-size: $font-size !default;
$mark-font-size--small: $font-size--small !default;
$mark-font-size--large: $font-size--large !default;
$mark-font-size--huge: $font-size--huge !default;
$mark-padding: 4px !default;

// Code
$code-background-color: base-color('white') !default;
$code-border-color: base-color('white', $pseudo-border-color-type) !default;
$code-border-radius--top-left: $border-radius--top-left !default;
$code-border-radius--top-right: $border-radius--top-right !default;
$code-border-radius--bottom-right: $border-radius--bottom-right !default;
$code-border-radius--bottom-left: $border-radius--bottom-left !default;
$code-border-style: $border-style !default;
$code-border-width--top: $border-width--top !default;
$code-border-width--right: $border-width--right !default;
$code-border-width--bottom: $border-width--bottom !default;
$code-border-width--left: $border-width--left !default;
$code-font-color: base-color('red') !default;
$code-font-size: $font-size !default;
$code-font-size--small: $font-size--small !default;
$code-font-size--large: $font-size--large !default;
$code-font-size--huge: $font-size--huge !default;
$code-padding: 4px !default;

// Keyboard
$kbd-background-color: base-color('charcoal') !default;
$kbd-border-color: base-color('charcoal', $pseudo-border-color-type) !default;
$kbd-border-radius--top-left: $border-radius--top-left !default;
$kbd-border-radius--top-right: $border-radius--top-right !default;
$kbd-border-radius--bottom-right: $border-radius--bottom-right !default;
$kbd-border-radius--bottom-left: $border-radius--bottom-left !default;
$kbd-border-style: $border-style !default;
$kbd-border-width--top: $border-width--top !default;
$kbd-border-width--right: $border-width--right !default;
$kbd-border-width--bottom: $border-width--bottom !default;
$kbd-border-width--left: $border-width--left !default;
$kbd-font-color: base-color('charcoal', 'invert') !default;
$kbd-font-size: $font-size !default;
$kbd-font-size--small: $font-size--small !default;
$kbd-font-size--large: $font-size--large !default;
$kbd-font-size--huge: $font-size--huge !default;
$kbd-padding: 4px !default;

// Preformatted
$pre-background-color: base-color('charcoal') !default;
$pre-border-color: base-color('charcoal', $pseudo-border-color-type) !default;
$pre-border-radius--top-left: $border-radius--top-left !default;
$pre-border-radius--top-right: $border-radius--top-right !default;
$pre-border-radius--bottom-right: $border-radius--bottom-right !default;
$pre-border-radius--bottom-left: $border-radius--bottom-left !default;
$pre-border-style: $border-style !default;
$pre-border-width--top: $border-width--top !default;
$pre-border-width--right: $border-width--right !default;
$pre-border-width--bottom: $border-width--bottom !default;
$pre-border-width--left: $border-width--left !default;
$pre-box-shadow: none !default;
$pre-content-spacing: $content-spacing !default;
$pre-content-spacing--small: $content-spacing--small !default;
$pre-content-spacing--large: $content-spacing--large !default;
$pre-content-spacing--huge: $content-spacing--huge !default;
$pre-element-spacing: $element-spacing !default;
$pre-element-spacing--small: $element-spacing--small !default;
$pre-element-spacing--large: $element-spacing--large !default;
$pre-element-spacing--huge: $element-spacing--huge !default;
$pre-font-color: base-color('charcoal', 'invert') !default;
$pre-font-size: $font-size !default;
$pre-font-size--small: $font-size--small !default;
$pre-font-size--large: $font-size--large !default;
$pre-font-size--huge: $font-size--huge !default;

// Sample
$samp-background-color: transparent !default;
$samp-border-color: transparent !default;
$samp-border-radius--top-left: 0 !default;
$samp-border-radius--top-right: 0 !default;
$samp-border-radius--bottom-right: 0 !default;
$samp-border-radius--bottom-left: 0 !default;
$samp-border-style: $border-style !default;
$samp-border-width--top: 0 !default;
$samp-border-width--right: 0 !default;
$samp-border-width--bottom: 0 !default;
$samp-border-width--left: 0 !default;
$samp-font-color: inherit !default;
$samp-font-size: $font-size !default;
$samp-font-size--small: $font-size--small !default;
$samp-font-size--large: $font-size--large !default;
$samp-font-size--huge: $font-size--huge !default;
$samp-padding: 0 !default;

// Variable
$var-background-color: transparent !default;
$var-border-color: transparent !default;
$var-border-radius--top-left: 0 !default;
$var-border-radius--top-right: 0 !default;
$var-border-radius--bottom-right: 0 !default;
$var-border-radius--bottom-left: 0 !default;
$var-border-style: $border-style !default;
$var-border-width--top: 0 !default;
$var-border-width--right: 0 !default;
$var-border-width--bottom: 0 !default;
$var-border-width--left: 0 !default;
$var-font-color: inherit !default;
$var-font-size: $font-size !default;
$var-font-size--small: $font-size--small !default;
$var-font-size--large: $font-size--large !default;
$var-font-size--huge: $font-size--huge !default;
$var-padding: 0 !default;

// Blockquote
$blockquote-background-color: base-color('silver') !default;
$blockquote-border-color: base-color('silver', $pseudo-border-color-type) !default;
$blockquote-border-color--hover: base-color('primary') !default;
$blockquote-border-radius--top-left: 0 !default;
$blockquote-border-radius--top-right: $border-radius--top-right !default;
$blockquote-border-radius--bottom-right: $border-radius--bottom-right !default;
$blockquote-border-radius--bottom-left: 0 !default;
$blockquote-border-style: $border-style !default;
$blockquote-border-width--top: 0 !default;
$blockquote-border-width--right: 0 !default;
$blockquote-border-width--bottom: 0 !default;
$blockquote-border-width--left: 5px !default;
$blockquote-content-spacing: $content-spacing !default;
$blockquote-content-spacing--small: $content-spacing--small !default;
$blockquote-content-spacing--large: $content-spacing--large !default;
$blockquote-content-spacing--huge: $content-spacing--huge !default;
$blockquote-element-spacing: $element-spacing !default;
$blockquote-element-spacing--small: $element-spacing--small !default;
$blockquote-element-spacing--large: $element-spacing--large !default;
$blockquote-element-spacing--huge: $element-spacing--huge !default;
$blockquote-font-color: base-color('silver', 'invert') !default;
$blockquote-font-size: $font-size + 0.4em !default;
$blockquote-font-size--small: $font-size--small + 0.4em !default;
$blockquote-font-size--large: $font-size--large + 0.4em !default;
$blockquote-font-size--huge: $font-size--huge + 0.4em !default;


/* =============================================================================================
   JUICE -> ELEMENTS -> TYPOGRAPHY
   ============================================================================================= */

// Html
html {
    font-size: 62.5%;
}

// Body
body {
    color: $body-font-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    letter-spacing: $body-letter-spacing;
    line-height: $body-line-height;
}

// Paragraph
p {
    font-size: $p-font-size;
    margin: 0;
    margin-bottom: $p-element-spacing;

    // Modifiers: Sizes
    &.is-small {
        font-size: $p-font-size--small;
        margin-bottom: $p-element-spacing--small;
    }

    &.is-large {
        font-size: $p-font-size--large;
        margin-bottom: $p-element-spacing--large;
    }

    &.is-huge {
        font-size: $p-font-size--huge;
        margin-bottom: $p-element-spacing--huge;
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            color: base-color($name);
        }
    }
}

// Horizontal rule
hr {
    border: none;
    border-bottom: $hr-border-width $hr-border-style $hr-border-color;
    clear: both;
    margin: 0;
    margin-bottom: $hr-element-spacing;

    // Modifiers: Sizes
    &.is-small {
        margin-bottom: $hr-element-spacing--small;
    }

    &.is-large {
        margin-bottom: $hr-element-spacing--large;
    }

    &.is-huge {
        margin-bottom: $hr-element-spacing--huge;
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            border-color: base-color($name);
        }
    }
}

// Link
a {
    color: $link-color;
    font-weight: inherit;
    text-decoration: none;

    // Pseudo classes
    &:hover {
        color: $link-color--hover;
    }

    &:focus {
        color: $link-color--focus;
    }

    &:active {
        color: $link-color--active;
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            color: base-color($name, $pseudo-link-color-type);

            // Pseudo classes
            &:hover {
                color: base-color($name, $pseudo-link-color-type--hover);
            }

            &:focus {
                color: base-color($name, $pseudo-link-color-type--focus);
            }

            &:active {
                color: base-color($name, $pseudo-link-color-type--active);
            }
        }
    }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    margin: 0;
    margin-bottom: $heading-element-spacing;
    padding: 0;
    position: relative;

    // Modifiers: Sizes
    &.is-small {
        margin-bottom: $heading-element-spacing--small;
    }

    &.is-large {
        margin-bottom: $heading-element-spacing--large;
    }

    &.is-huge {
        margin-bottom: $heading-element-spacing--huge;
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            color: base-color($name);
        }
    }
}

// Heading 1
h1 {
    color: $h1-font-color;
    font-family: $h1-font-family;
    font-size: $h1-font-size;
    font-variant: $h1-font-variant;
    font-weight: $h1-font-weight;
    letter-spacing: $h1-letter-spacing;
    text-transform: $h1-text-transform;

    // Modifiers: Sizes
    &.is-small {
        font-size: $h1-font-size--small;
    }

    &.is-large {
        font-size: $h1-font-size--large;
    }

    &.is-huge {
        font-size: $h1-font-size--huge;
    }
}

// Heading 2
h2 {
    color: $h2-font-color;
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    font-variant: $h2-font-variant;
    font-weight: $h2-font-weight;
    letter-spacing: $h2-letter-spacing;
    text-transform: $h2-text-transform;

    // Modifiers: Sizes
    &.is-small {
        font-size: $h2-font-size--small;
    }

    &.is-large {
        font-size: $h2-font-size--large;
    }

    &.is-huge {
        font-size: $h2-font-size--huge;
    }
}

// Heading 3
h3 {
    color: $h3-font-color;
    font-family: $h3-font-family;
    font-size: $h3-font-size;
    font-variant: $h3-font-variant;
    font-weight: $h3-font-weight;
    letter-spacing: $h3-letter-spacing;
    text-transform: $h3-text-transform;

    // Modifiers: Sizes
    &.is-small {
        font-size: $h3-font-size--small;
    }

    &.is-large {
        font-size: $h3-font-size--large;
    }

    &.is-huge {
        font-size: $h3-font-size--huge;
    }
}

// Heading 4
h4 {
    color: $h4-font-color;
    font-family: $h4-font-family;
    font-size: $h4-font-size;
    font-variant: $h4-font-variant;
    font-weight: $h4-font-weight;
    letter-spacing: $h4-letter-spacing;
    text-transform: $h4-text-transform;

    // Modifiers: Sizes
    &.is-small {
        font-size: $h4-font-size--small;
    }

    &.is-large {
        font-size: $h4-font-size--large;
    }

    &.is-huge {
        font-size: $h4-font-size--huge;
    }
}

// Heading 5
h5 {
    color: $h5-font-color;
    font-family: $h5-font-family;
    font-size: $h5-font-size;
    font-variant: $h5-font-variant;
    font-weight: $h5-font-weight;
    letter-spacing: $h5-letter-spacing;
    text-transform: $h5-text-transform;

    // Modifiers: Sizes
    &.is-small {
        font-size: $h5-font-size--small;
    }

    &.is-large {
        font-size: $h5-font-size--large;
    }

    &.is-huge {
        font-size: $h5-font-size--huge;
    }
}

// Heading 6
h6 {
    color: $h6-font-color;
    font-family: $h6-font-family;
    font-size: $h6-font-size;
    font-variant: $h6-font-variant;
    font-weight: $h6-font-weight;
    letter-spacing: $h6-letter-spacing;
    text-transform: $h6-text-transform;

    // Modifiers: Sizes
    &.is-small {
        font-size: $h6-font-size--small;
    }

    &.is-large {
        font-size: $h6-font-size--large;
    }

    &.is-huge {
        font-size: $h6-font-size--huge;
    }
}

// Strong
b,
strong {
    font-weight: 700;
}

// Abbreviation
abbr {
    text-decoration: none !important;

    // Modifiers
    &[title] {
        border-bottom: 1px dotted $abbr-border-color;
        cursor: help;
    }

    // Modifiers: Base colors
    @each $name, $color in $base-colors {
        &.is-#{$name} {
            // Modifiers
            &[title] {
                border-color: base-color($name);
            }
        }
    }
}

// Mark
mark {
    background-color: $mark-background-color;
    border: 0 $mark-border-style $mark-border-color;
    border-bottom-left-radius: $mark-border-radius--bottom-left;
    border-bottom-right-radius: $mark-border-radius--bottom-right;
    border-bottom-width: $mark-border-width--bottom;
    border-left-width: $mark-border-width--left;
    border-right-width: $mark-border-width--right;
    border-top-left-radius: $mark-border-radius--top-left;
    border-top-right-radius: $mark-border-radius--top-right;
    border-top-width: $mark-border-width--top;
    color: $mark-font-color;
    font-size: $mark-font-size;
    padding: $mark-padding;

    // Modifiers: Sizes
    &.is-small {
        font-size: $mark-font-size--small;
    }

    &.is-large {
        font-size: $mark-font-size--large;
    }

    &.is-huge {
        font-size: $mark-font-size--huge;
    }
}

// Monospace
code,
kbd,
pre,
samp,
var {
    font-family: $monoface-typeface;
}

// Code
code {
    background-color: $code-background-color;
    border: 0 $code-border-style $code-border-color;
    border-bottom-left-radius: $code-border-radius--bottom-left;
    border-bottom-right-radius: $code-border-radius--bottom-right;
    border-bottom-width: $code-border-width--bottom;
    border-left-width: $code-border-width--left;
    border-right-width: $code-border-width--right;
    border-top-left-radius: $code-border-radius--top-left;
    border-top-right-radius: $code-border-radius--top-right;
    border-top-width: $code-border-width--top;
    color: $code-font-color;
    font-size: $code-font-size;
    padding: $code-padding;

    // Modifiers: Sizes
    &.is-small {
        font-size: $code-font-size--small;
    }

    &.is-large {
        font-size: $code-font-size--large;
    }

    &.is-huge {
        font-size: $code-font-size--huge;
    }
}

// Keyboard
kbd {
    background-color: $kbd-background-color;
    border: 0 $kbd-border-style $kbd-border-color;
    border-bottom-left-radius: $kbd-border-radius--bottom-left;
    border-bottom-right-radius: $kbd-border-radius--bottom-right;
    border-bottom-width: $kbd-border-width--bottom;
    border-left-width: $kbd-border-width--left;
    border-right-width: $kbd-border-width--right;
    border-top-left-radius: $kbd-border-radius--top-left;
    border-top-right-radius: $kbd-border-radius--top-right;
    border-top-width: $kbd-border-width--top;
    color: $kbd-font-color;
    font-size: $kbd-font-size;
    padding: $kbd-padding;

    // Modifiers: Sizes
    &.is-small {
        font-size: $kbd-font-size--small;
    }

    &.is-large {
        font-size: $kbd-font-size--large;
    }

    &.is-huge {
        font-size: $kbd-font-size--huge;
    }
}

// Preformatted
pre {
    display: block;
    background-color: $pre-background-color;
    border: 0 $pre-border-style $pre-border-color;
    border-bottom-left-radius: $pre-border-radius--bottom-left;
    border-bottom-right-radius: $pre-border-radius--bottom-right;
    border-bottom-width: $pre-border-width--bottom;
    border-left-width: $pre-border-width--left;
    border-top-left-radius: $pre-border-radius--top-left;
    border-top-right-radius: $pre-border-radius--top-right;
    border-top-width: $pre-border-width--top;
    border-right-width: $pre-border-width--right;
    box-shadow: none;
    color: $pre-font-color;
    font-size: $pre-font-size;
    margin: 0;
    margin-bottom: $pre-element-spacing;
    padding: $pre-content-spacing;
    position: relative;
    overflow-x: auto;
    white-space: pre-wrap;

    // Pseudo elements
    &::after {
        display: block;
        content: attr(data-language);
        font-family: $primary-typeface;
        font-size: 75%;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
    }

    // Nested selectors
    code {
        background-color: transparent;
        color: inherit;
        font-size: inherit;
        white-space: nowrap;
    }

    // Modifiers: Sizes
    &.is-small {
        font-size: $pre-font-size--small;
        margin-bottom: $pre-element-spacing--small;
        padding: $pre-content-spacing--small;
    }

    &.is-large {
        font-size: $pre-font-size--large;
        margin-bottom: $pre-element-spacing--large;
        padding: $pre-content-spacing--large;
    }

    &.is-huge {
        font-size: $pre-font-size--huge;
        margin-bottom: $pre-element-spacing--huge;
        padding: $pre-content-spacing--huge;
    }
}

// Sample
samp {
    background-color: $samp-background-color;
    border: 0 $samp-border-style $samp-border-color;
    border-bottom-left-radius: $samp-border-radius--bottom-left;
    border-bottom-right-radius: $samp-border-radius--bottom-right;
    border-bottom-width: $samp-border-width--bottom;
    border-left-width: $samp-border-width--left;
    border-right-width: $samp-border-width--right;
    border-top-left-radius: $samp-border-radius--top-left;
    border-top-right-radius: $samp-border-radius--top-right;
    border-top-width: $samp-border-width--top;
    color: $samp-font-color;
    font-size: $samp-font-size;
    padding: $samp-padding;

    // Modifiers: Sizes
    &.is-small {
        font-size: $samp-font-size--small;
    }

    &.is-large {
        font-size: $samp-font-size--large;
    }

    &.is-huge {
        font-size: $samp-font-size--huge;
    }
}

// Variable
var {
    background-color: $var-background-color;
    border: 0 $var-border-style $var-border-color;
    border-bottom-left-radius: $var-border-radius--bottom-left;
    border-bottom-right-radius: $var-border-radius--bottom-right;
    border-bottom-width: $var-border-width--bottom;
    border-left-width: $var-border-width--left;
    border-right-width: $var-border-width--right;
    border-top-left-radius: $var-border-radius--top-left;
    border-top-right-radius: $var-border-radius--top-right;
    border-top-width: $var-border-width--top;
    color: $var-font-color;
    font-size: $var-font-size;
    font-style: italic;
    padding: $var-padding;

    // Modifiers: Sizes
    &.is-small {
        font-size: $var-font-size--small;
    }

    &.is-large {
        font-size: $var-font-size--large;
    }

    &.is-huge {
        font-size: $var-font-size--huge;
    }
}

// Blockquote
blockquote {
    display: block;
    background-color: $blockquote-background-color;
    border: 0 $blockquote-border-style $blockquote-border-color;
    border-bottom-left-radius: $blockquote-border-radius--bottom-left;
    border-bottom-right-radius: $blockquote-border-radius--bottom-right;
    border-bottom-width: $blockquote-border-width--bottom;
    border-left-width: $blockquote-border-width--left;
    border-top-left-radius: $blockquote-border-radius--top-left;
    border-top-right-radius: $blockquote-border-radius--top-right;
    border-top-width: $blockquote-border-width--top;
    border-right-width: $blockquote-border-width--right;
    color: $blockquote-font-color;
    font-size: $blockquote-font-size;
    margin: 0;
    margin-bottom: $blockquote-element-spacing;
    padding: $blockquote-content-spacing * 2;
    position: relative;

    // Pseudo classes
    &:hover {
        border-color: $blockquote-border-color--hover;
    }

    // Nested selectors
    cite {
        color: inherit;
        display: block;
        font-size: 75%;
        margin: 0;
        margin-left: $blockquote-content-spacing;
        margin-top: $blockquote-content-spacing / 2;

        // Pseudo elements
        &::before {
            content: '\2014\00a0\00a0';
        }
    }

    // Modifiers: Sizes
    &.is-small {
        font-size: $blockquote-font-size--small;
        margin-bottom: $blockquote-element-spacing--small;
        padding: $blockquote-content-spacing--small * 2;
    }

    &.is-large {
        font-size: $blockquote-font-size--large;
        margin-bottom: $blockquote-element-spacing--large;
        padding: $blockquote-content-spacing--large * 2;
    }

    &.is-huge {
        font-size: $blockquote-font-size--huge;
        margin-bottom: $blockquote-element-spacing--huge;
        padding: $blockquote-content-spacing--huge * 2;
    }
}
