@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> FORMS -> BASE
    ========================================================================  */

// Form
form {
    border: none;
    margin: 0;
    padding: 0;
}

// Fieldset
fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}
