@charset "utf-8";

/*  =========================================================================
    JUICE -> ELEMENTS -> FORMS -> LABEL -> VARIABLES
    ========================================================================= */

$label-element-spacing: $element-spacing / 2 !default;
$label-element-spacing-small: $element-spacing-small / 2 !default;
$label-element-spacing-large: $element-spacing-large / 2 !default;
$label-element-spacing-huge: $element-spacing-huge / 2 !default;
$label-font-color: inherit !default;
$label-font-family: $primary-typeface !default;
$label-font-size: $font-size !default;
$label-font-size-small: $font-size-small !default;
$label-font-size-large: $font-size-large !default;
$label-font-size-huge: $font-size-huge !default;


/*  =========================================================================
    JUICE -> ELEMENTS -> FORMS -> LABEL
    ========================================================================= */

label {
    color: $label-font-color;
    cursor: pointer;
    display: block;
    font-family: $label-font-family;
    font-size: $label-font-size;
    margin: 0;
    margin-bottom: $label-element-spacing;
    padding: 0;
    user-select: none;

    // Modifiers: State hooks
    &[disabled],
    &.is-disabled {
        @include disabled();
    }

    // Modifiers: Sizes
    &.is-small {
        font-size: $label-font-size-small;
        margin-bottom: $label-element-spacing-small;
    }

    &.is-large {
        font-size: $label-font-size-large;
        margin-bottom: $label-element-spacing-large;
    }

    &.is-huge {
        font-size: $label-font-size-huge;
        margin-bottom: $label-element-spacing-huge;
    }

    // Modifiers: Feedback colors
    @each $name, $color in $feedback-colors {
        &.has-#{$name} {
            color: feedback-color($name);
        }
    }

    // Modifiers
    &.label--inline {
        display: inline-block;
    }
}
