@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> FORMS -> LABEL
    ========================================================================  */

label {
    // Variables
    --element-spacing: var(--default-element-spacing) / 2;
    --font-color: inherit;
    --font-family: var(--primary-typeface);
    --font-size: var(--default-font-size);

    // Styles
    color: var(--font-color);
    cursor: pointer;
    display: block;
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    margin-bottom: var(--element-spacing);
    padding: 0;
    user-select: none;

    // Modifiers: Sizes
    @each $size in $sizes {
        &.is-#{$size} {
            --font-size: var(--default-font-size-#{$size});
        }
    }

    // Modifiers: Feedback colors
    @each $feedback-name, $color in $feedback-colors {
        &.has-#{$feedback-name} {
            color: feedback-color($feedback-name);
        }
    }

    // Modifiers: Props
    &[disabled] {
        @include disabled();
    }

    // Modifiers
    &.label--inline {
        display: inline-block;
    }
}
