@charset "utf-8";

/*  =========================================================================
    JUICE -> INITIALIZE -> VARIABLES
    ========================================================================= */

// Typeface
$primary-typeface: 'Montserrat', Tahoma, sans-serif !default;
$secondary-typeface: 'Oswald', Verdana, sans-serif !default;
$monoface-typeface: 'Courier New', Courier, monospace !default;

// Root font size
$root-font-size: 1.3rem !default;
$root-font-size-small: 1.2rem !default;
$root-font-size-large: 1.4rem !default;
$root-font-size-huge: 1.5rem !default;

// Font size
$font-size: 1em !default;
$font-size-small: $font-size - 0.1em !default;
$font-size-large: $font-size + 0.1em !default;
$font-size-huge: $font-size + 0.2em !default;

// Content spacing
$content-spacing: 20px !default;
$content-spacing-small: 10px !default;
$content-spacing-large: 30px !default;
$content-spacing-huge: 40px !default;

// Element spacing
$element-spacing: 20px !default;
$element-spacing-small: 10px !default;
$element-spacing-large: 30px !default;
$element-spacing-huge: 40px !default;

// Element height
$element-height: 40px !default;
$element-height-small: 30px !default;
$element-height-large: 50px !default;
$element-height-huge: 60px !default;

// Borders
$border-radius-top-left: 5px !default;
$border-radius-top-right: 5px !default;
$border-radius-bottom-right: 5px !default;
$border-radius-bottom-left: 5px !default;
$border-style: solid !default;
$border-width-top: 1px !default;
$border-width-right: 1px !default;
$border-width-bottom: 1px !default;
$border-width-left: 1px !default;
$border-width-divider: 1px !default;

// Box shadow
$box-shadow: 1px 4px 21px 0 hsla(0, 0, 0, 0.05) !default;

// Stack index
$stack-index: (
    'default': 100,
    'hover': 200,
    'focus': 300,
    'active': 400,
    'is-active': 500,
    'overlay': 600,
    'dropdown': 700,
    'popover': 800,
    'tooltip': 800
) !default;
