<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Alert</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../public/css/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header><p>&nbsp;</p></header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Alert</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Alert</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <button class="button--block is-huge is-fullwidth js-trigger-dialog-alert">Alert</button>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="scroll-to-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../public/scripts/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var $alert = document.querySelector('.js-trigger-dialog-alert');

        $alert.addEventListener('click', function() {
            var alert = new Alert({
                heading: '<h3>Alert</h3>',
                text: 'Please press continue to close the alert.',
                callbackContinue: function() {
                    alert.close();
                }
            });
        });
    </script>
</body>
</html>
