<!doctype html>
<html class="has-no-js has-no-touch has-smooth-scroll" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Chip</title>

    <!-- Device icons: https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/site.webmanifest">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.2.0/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header><p>&nbsp;</p></header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Chip</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Chip</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="is-center-aligned">
                <div class="grid is-center-aligned">
                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Standard</h6>
                        <div class="chip is-small">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip is-large">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip is-huge">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Pill</h6>
                        <div class="chip chip--pill is-small">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-large">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-huge">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Color</h6>
                        <div class="chip chip--pill is-small is-charcoal">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-emerald">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-large is-teal">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-huge is-slate">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Feedback</h6>
                        <div class="chip chip--pill is-small has-info">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill has-success">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-large has-warning">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-huge has-error">
                            <div class="chip__image"><img src="https://avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__button">
                                <button class="js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid--around is-center-aligned hide">
                <div class="grid__item grid__item--span-8 grid__item--span-12@touch">
                    <h3>Group</h3>

                    <div class="chip-group">
                        <div class="chip">
                            <div class="chip__text">Lorem Ipsum</div>
                            <button class="chip__button js-chip-remove"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="chip">
                            <div class="chip__text">Lorem Ipsum</div>
                            <button class="chip__button js-chip-remove"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="chip">
                            <div class="chip__text">Lorem Ipsum</div>
                            <button class="chip__button js-chip-remove"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="chip">
                            <div class="chip__text">Lorem Ipsum</div>
                            <button class="chip__button js-chip-remove"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="chip">
                            <div class="chip__text">Lorem Ipsum</div>
                            <button class="chip__button js-chip-remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="scroll-to-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/aos@2.3.2/dist/aos.js" type="text/javascript"></script>
    <script src="../../dist/juice.min.js" type="text/javascript"></script>

    <!-- Juice components -->
    <script>
        $('.accordion').accordion();
        $('.card').card();
        $('.chip').chip();
        $('.notice').notice();
        $('.panel').panel();
        $('.has-dropdown').dropdown();
        $('.has-modal').modal();
        $('.has-password-reveal').passwordReveal();
        $('.has-popover').popover();
        $('.has-toggable').toggler();
        $('.has-tooltip').tooltip();
    </script>
</body>
</html>
