<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Chip</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../public/css/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Chip</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Chip</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="is-center-aligned">
                <div class="grid is-center-aligned">
                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Standard</h6>
                        <div class="chip is-small">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip is-large">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip is-huge">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Pill</h6>
                        <div class="chip chip--pill is-small">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-large">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-huge">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Color</h6>
                        <div class="chip chip--pill is-small is-charcoal">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-emerald">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-large is-charcoal">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-huge is-emerald">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid__item grid__item--span-12 grid__item--span-6@laptop grid__item--span-3@desktop-up">
                        <h6>Feedback</h6>
                        <div class="chip chip--pill is-small has-info">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill has-success">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-large has-warning">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <br />

                        <div class="chip chip--pill is-huge has-error">
                            <div class="chip__media"><img src="//avatars1.githubusercontent.com/u/5093255?s=100" /></div>
                            <div class="chip__text">Lorem Ipsum</div>
                            <div class="chip__action">
                                <button type="button" class="button--component js-chip-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../public/css/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
        var chip = new Chip('.chip');
    </script>
</body>
</html>
