<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Dropdown</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../public/css/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Dropdown</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Dropdown</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid is-center-aligned">
                <div class="grid__item grid__item--span-12 grid__item--span-3@tablet-up">
                    <div class="has-dropdown">
                        <button class="js-dropdown-trigger has-no-element-spacing">Left Aligned</button>

                        <div class="dropdown">
                            <div class="dropdown__content">
                                <div class="dropdown__item">Lorem ipsum, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor...</div>
                                <div class="dropdown__divider"></div>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 1</a>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 2</a>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 3</a>
                                <div class="dropdown__divider"></div>
                                <a href="#" class="dropdown__item js-prevent-default">More...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-3@tablet-up">
                    <div class="has-dropdown">
                        <button class="js-dropdown-trigger has-no-element-spacing">Center Aligned</button>

                        <div class="dropdown dropdown--center">
                            <div class="dropdown__content">
                                <div class="dropdown__item">Lorem ipsum, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor...</div>
                                <div class="dropdown__divider"></div>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 1</a>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 2</a>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 3</a>
                                <div class="dropdown__divider"></div>
                                <a href="#" class="dropdown__item js-prevent-default">More...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-3@tablet-up">
                    <div class="has-dropdown">
                        <button class="js-dropdown-trigger has-no-element-spacing">Right Aligned</button>

                        <div class="dropdown dropdown--right">
                            <div class="dropdown__content">
                                <div class="dropdown__item">Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit...</div>
                                <div class="dropdown__divider"></div>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 1</a>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 2</a>
                                <a href="#" class="dropdown__item js-prevent-default">Dropdown item 3</a>
                                <div class="dropdown__divider"></div>
                                <a href="#" class="dropdown__item js-prevent-default">More...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-3@tablet-up">
                    <div class="has-dropdown has-dropdown--megamenu">
                        <button class="js-dropdown-trigger has-no-element-spacing">Megamenu</button>

                        <div class="dropdown dropdown--megamenu">
                            <div class="dropdown__content">
                                <div class="grid">
                                    <div class="grid__item">
                                        <h6>Column</h6>
                                        <hr />
                                        <a>Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit...
                                    </div>
                                    <div class="grid__item">
                                        <h6>Column</h6>
                                        <hr />
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                                    </div>
                                    <div class="grid__item">
                                        <h6>Column</h6>
                                        <hr />
                                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                    </div>
                                    <div class="grid__item">
                                        <h6>Column</h6>
                                        <hr />
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../public/scripts/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
        var dropdown = new Dropdown('.has-dropdown');
    </script>
</body>
</html>
