<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Components</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li>Components</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="accordion.html" class="button button--block is-huge">Accordion</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="card.html" class="button button--block is-huge">Card</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="chip.html" class="button button--block is-huge">Chip</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="dropdown.html" class="button button--block is-huge">Dropdown</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="notice.html" class="button button--block is-huge">Notice</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="panel.html" class="button button--block is-huge">Panel</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="popover.html" class="button button--block is-huge">Popover</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="toggler.html" class="button button--block is-huge">Toggler</a>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-4@laptop-up">
                    <a href="tooltip.html" class="button button--block is-huge">Tooltip</a>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="scroll-to-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/velocity-animate@1.5.2/velocity.min.js"></script>
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../dist/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll();
    </script>
</body>
</html>
