<!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Notice</title>

    <!-- Device icons: https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/site.webmanifest">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.2.0/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header><p>&nbsp;</p></header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Notice</h1>
            <hr />
            <p><a href="../../index.html">Juice</a> &nbsp;&bull;&nbsp; <a href="../components/index.html">Components</a> &nbsp;&bull;&nbsp; Notice</p>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-6 grid__item--span-12@touch">
                    <div class="notice with-info">
                        <div class="notice__feedback">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--text button--round js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-6 grid__item--span-12@touch">
                    <div class="notice with-success">
                        <div class="notice__feedback">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--text button--round js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-6 grid__item--span-12@touch">
                    <div class="notice with-warning">
                        <div class="notice__feedback">
                            <i class="fas fa-question"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--text button--round js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-6 grid__item--span-12@touch">
                    <div class="notice with-error">
                        <div class="notice__feedback">
                            <i class="fas fa-exclamation"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--text button--round js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer><p>&nbsp;</p></footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/aos@2.3.2/dist/aos.js" type="text/javascript"></script>
    <script src="../../dist/juice.js" type="text/javascript"></script>

    <!-- Juice notice component -->
    <script>
        $('.notice').notice();
    </script>
</body>
</html>
