<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Notice</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//unpkg.com/aos@2.2.0/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Notice</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Notice</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="notice has-info">
                        <div class="notice__feedback">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--round has-no-element-spacing js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="notice has-success">
                        <div class="notice__feedback">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--round has-no-element-spacing js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="notice has-warning">
                        <div class="notice__feedback">
                            <i class="fas fa-question"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--round has-no-element-spacing js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="notice has-error">
                        <div class="notice__feedback">
                            <i class="fas fa-exclamation"></i>
                        </div>
                        <div class="notice__body">
                            <div class="notice__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>

                            <div class="notice__icons">
                                <button class="button--icon button--round has-no-element-spacing js-notice-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="scroll-to-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/velocity-animate@1.5.2/velocity.min.js"></script>
    <script src="//unpkg.com/aos@2.3.2/dist/aos.js"></script>
    <script src="../../dist/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll();
        var notice = new Notice('.notice');
    </script>
</body>
</html>
