<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Notice</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../public/css/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Notice</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Notice</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="flex">
                <div class="flex__item flex__item--span-12 flex__item--span-6@tablet flex__item--span-6@desktop">
                    <div class="notice has-info">
                        <div class="notice__feedback">
                            <i class="fas fa-info fa-fw"></i>
                        </div>

                        <div class="notice__text">
                            Lorem ipsum dolor sit amet...
                        </div>

                        <div class="notice__action">
                            <button type="button" class="button--component js-notice-remove"><i class="fas fa-times fa-fw"></i></button>
                        </div>
                    </div>
                </div>

                <div class="flex__item flex__item--span-12 flex__item--span-6@tablet flex__item--span-6@desktop">
                    <div class="notice has-success">
                        <div class="notice__feedback">
                            <i class="fas fa-check fa-fw"></i>
                        </div>

                        <div class="notice__text">
                            Lorem ipsum dolor sit amet...
                        </div>

                        <div class="notice__action">
                            <button type="button" class="button--component js-notice-remove"><i class="fas fa-times fa-fw"></i></button>
                        </div>
                    </div>
                </div>

                <div class="flex__item flex__item--span-12 flex__item--span-6@tablet flex__item--span-6@desktop">
                    <div class="notice has-warning">
                        <div class="notice__feedback">
                            <i class="fas fa-question fa-fw"></i>
                        </div>

                        <div class="notice__text">
                            Lorem ipsum dolor sit amet...
                        </div>

                        <div class="notice__action">
                            <button type="button" class="button--component js-notice-remove"><i class="fas fa-times fa-fw"></i></button>
                        </div>
                    </div>
                </div>

                <div class="flex__item flex__item--span-12 flex__item--span-6@tablet flex__item--span-6@desktop">
                    <div class="notice has-error">
                        <div class="notice__feedback">
                            <i class="fas fa-exclamation fa-fw"></i>
                        </div>

                        <div class="notice__text">
                            Lorem ipsum dolor sit amet...
                        </div>

                        <div class="notice__action">
                            <button type="button" class="button--component js-notice-remove"><i class="fas fa-times fa-fw"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../public/scripts/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
        var notice = new Notice('.notice');
    </script>
</body>
</html>
