<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Panel</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Panel</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Panel</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="panel">
                        <div class="panel__head">
                            <div class="panel__headings">
                                <h4>Heading</h4>
                            </div>

                            <div class="panel__icons">
                                <button class="button--icon button--round has-no-element-spacing js-panel-toggle">
                                    <i class="panel__icon--expanded fas fa-chevron-down"></i>
                                    <i class="panel__icon--collapsed fas fa-chevron-up"></i>
                                </button>
                                <button class="button--icon button--round has-no-element-spacing js-panel-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <div class="panel__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="panel is-charcoal">
                        <div class="panel__head">
                            <div class="panel__headings">
                                <h4>Heading</h4>
                            </div>

                            <div class="panel__icons">
                                <button class="button--icon button--round has-no-element-spacing js-panel-toggle">
                                    <i class="panel__icon--expanded fas fa-chevron-down"></i>
                                    <i class="panel__icon--collapsed fas fa-chevron-up"></i>
                                </button>
                                <button class="button--icon button--round has-no-element-spacing js-panel-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <div class="panel__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="panel has-info">
                        <div class="panel__head">
                            <div class="panel__headings">
                                <h4>Heading</h4>
                            </div>

                            <div class="panel__icons">
                                <button class="button--icon button--round has-no-element-spacing js-panel-toggle">
                                    <i class="panel__icon--expanded fas fa-chevron-down"></i>
                                    <i class="panel__icon--collapsed fas fa-chevron-up"></i>
                                </button>
                                <button class="button--icon button--round has-no-element-spacing js-panel-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <div class="panel__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="panel has-success">
                        <div class="panel__head">
                            <div class="panel__headings">
                                <h4>Heading</h4>
                            </div>

                            <div class="panel__icons">
                                <button class="button--icon button--round has-no-element-spacing js-panel-toggle">
                                    <i class="panel__icon--expanded fas fa-chevron-down"></i>
                                    <i class="panel__icon--collapsed fas fa-chevron-up"></i>
                                </button>
                                <button class="button--icon button--round has-no-element-spacing js-panel-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <div class="panel__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="panel has-warning">
                        <div class="panel__head">
                            <div class="panel__headings">
                                <h4>Heading</h4>
                            </div>

                            <div class="panel__icons">
                                <button class="button--icon button--round has-no-element-spacing js-panel-toggle">
                                    <i class="panel__icon--expanded fas fa-chevron-down"></i>
                                    <i class="panel__icon--collapsed fas fa-chevron-up"></i>
                                </button>
                                <button class="button--icon button--round has-no-element-spacing js-panel-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <div class="panel__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="panel has-error">
                        <div class="panel__head">
                            <div class="panel__headings">
                                <h4>Heading</h4>
                            </div>

                            <div class="panel__icons">
                                <button class="button--icon button--round has-no-element-spacing js-panel-toggle">
                                    <i class="panel__icon--expanded fas fa-chevron-down"></i>
                                    <i class="panel__icon--collapsed fas fa-chevron-up"></i>
                                </button>
                                <button class="button--icon button--round has-no-element-spacing js-panel-remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>

                        <div class="panel__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="scroll-to-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/velocity-animate@1.5.2/velocity.min.js"></script>
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../dist/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll();
        var panel = new Panel('.panel');
    </script>
</body>
</html>
