<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Popover</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Popover</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Popover</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>POSITION</h6>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="left">Left</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="top">Top</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="bottom">Bottom</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="right">Right</button>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>SIZE</h6>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-size="small">Small</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">Standard</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-size="large">Large</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-size="huge">Huge</button>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>COLOR</h6>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-color="charcoal">Charcoal</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-color="emerald">Emerald</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-color="teal">Teal</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-color="slate">Slate</button>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@laptop-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>FEEDBACK</h6>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="info">Info</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="success">Success</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="warning">Warning</button>
                        <button class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="error">Error</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../dist/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
        var popover = new Popover('.has-popover');
    </script>
</body>
</html>
