<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Popover</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../public/css/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Popover</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Popover</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-12 grid__item--span-6@tablet-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>POSITION</h6>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="left" data-popover-group="group-one" data-popover-group-order="1">Left</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="top" data-popover-group="group-one" data-popover-group-order="2">Top</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="bottom" data-popover-group="group-one" data-popover-group-order="3">Bottom</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-position="right" data-popover-group="group-one" data-popover-group-order="4">Right</button>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@tablet-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>SIZE</h6>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-size="small" data-popover-group="group-two" data-popover-group-order="1">Small</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-group="group-two" data-popover-group-order="2">Standard</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-size="large" data-popover-group="group-two" data-popover-group-order="3">Large</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-size="huge" data-popover-group="group-two" data-popover-group-order="4">Huge</button>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@tablet-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>COLOR</h6>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-color="charcoal" data-popover-group="group-three" data-popover-group-order="1">Charcoal</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-color="emerald" data-popover-group="group-three" data-popover-group-order="2">Emerald</button>
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@tablet-up">
                    <div class="is-center-aligned has-huge-element-spacing">
                        <h6>FEEDBACK</h6>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="info" data-popover-group="group-four" data-popover-group-order="1">Info</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="success" data-popover-group="group-four" data-popover-group-order="2">Success</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="warning" data-popover-group="group-four" data-popover-group-order="3">Warning</button>
                        <button type="button" class="has-popover" data-popover-title="Title" data-popover-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-popover-feedback="error" data-popover-group="group-four" data-popover-group-order="4">Error</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../public/scripts/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
        var popover = new Popover('.has-popover');
    </script>
</body>
</html>
