<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Remover</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../dist/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Remover</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Remover</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <div class="grid">
                <div class="grid__item grid__item--span-12 grid__item--span-6@tablet-up">
                    <button class="button--block has-removable" data-remover-targets="#removable-item-1">
                        Animated Remove
                    </button>

                    <div id="removable-item-1" class="box">
                        <h6>Heading</h6>
                        <hr />
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>

                <div class="grid__item grid__item--span-12 grid__item--span-6@tablet-up">
                    <button class="button--block has-removable" data-remover-targets="#removable-item-2" data-remover-slide="true">
                        Slide Remove
                    </button>

                    <div id="removable-item-2" class="box">
                        <h6>Heading</h6>
                        <hr />
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../dist/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
        var remover = new Remover('.has-removable');
    </script>
</body>
</html>
