<!doctype html>
<html class="has-no-js has-no-touch" lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Page title -->
    <title>Juice - Components: Smooth Scroll</title>

    <!-- Webfonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../../public/css/juice.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <p>&nbsp;</p>
    </header>

    <!-- Main -->
    <main>
        <div class="container">
            <h1>Scrolling</h1>
            <hr />
            <ul class="breadcrumb">
                <li><a href="../../index.html">Juice</a></li>
                <li><a href="../components/index.html">Components</a></li>
                <li>Smooth Scroll</li>
            </ul>
            <hr class="has-huge-element-spacing" />

            <p class="is-center-aligned">
                <a href="#" class="js-smooth-scroll-bottom">Bottom</a>
            </p>

            <a href="#scroll-to-anchor" class="button is-fullwidth" style="margin-bottom: 100vh">Scroll To Anchor</a>
            <div id="scroll-to-anchor" class="box is-center-aligned">
                Scrolled into view...
            </div>

            <a href="#" class="button is-fullwidth js-smooth-scroll-element" data-smooth-scroll-target="#scroll-to-element" style="margin-bottom: 100vh">Scroll To Element</a>
            <div id="scroll-to-element" class="box is-center-aligned">
                <a href="#" class="js-smooth-scroll-top" data-smooth-scroll-container="#container">Container Top</a> |
                <a href="#find-me-anchor" data-smooth-scroll-container="#container">Find Me Anchor</a> |
                <a href="#" class="js-smooth-scroll-element" data-smooth-scroll-target="#find-me-element">Find Me Element</a> |
                <a href="#" class="js-smooth-scroll-bottom" data-smooth-scroll-container="#container">Container Bottom</a>
            </div>

            <div id="container" class="has-content-spacing has-element-spacing" style="border: 1px solid hsla(0, 0%, 50%, 1); height: 200px; overflow-y: scroll;x">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h1 id="find-me-anchor">I'm an anchor, you found me!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h1 id="find-me-element">I'm an element, you found me!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p class="is-center-aligned"><a href="#" class="js-smooth-scroll-top">Top</a></p>
    </footer>

    <!-- Scripts -->
    <script src="//unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="../../public/css/juice.min.js"></script>

    <!-- Juice components -->
    <script>
        var smooth_scroll = new SmoothScroll;
    </script>
</body>
</html>
