@charset "utf-8";

/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> ELEMENTS -> FORMS
   ============================================================================================= */

// Form
form {
    border: none;
    margin: 0;
    padding: 0;
}

// Fieldset
fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}

// Import
@import 'label';
@import 'input';
@import 'select';
@import 'textarea';
