@charset "utf-8";

/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> ELEMENTS -> FORMS
   ============================================================================================= */

// Forms
form {
    border: none;
    margin: 0;
    padding: 0;
}

// Fieldsets
fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}

// Import
@import 'labels';
@import 'inputs';
@import 'selects';
@import 'textareas';
