@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> LOADING -> SPINNER
    ========================================================================  */

// Variables
$spinner-animation-duration: 1000ms !default;
$spinner-color: base-color('charcoal') !default;
$spinner-color-variation: 'lighten-10' !default;
$spinner-color-alt: base-color('charcoal-#{$spinner-color-variation}') !default;
$spinner-element-size: $default-element-height !default;
