@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> DIAL
    ========================================================================  */

// Set the keyframe
@keyframes spinner-dial {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--dial {
        animation-duration: var(--animation-duration);
        animation-iteration-count: infinite;
        animation-name: spinner-dial;
        animation-timing-function: linear;
        border: 2px solid var(--color);
        border-radius: 100%;
        display: inline-flex;
        height: var(--element-size);
        width: var(--element-size);

        // Pseudo elements
        &::before {
            animation: none;
            background-color: var(--color);
            border-radius: 100%;
            content: '';
            height: 4px;
            position: absolute;
            top: 4px;
            width: 4px;
        }

        // Cycle through all of the colors
        @each $color-name, $color in $colors {
            // Modifiers: Colors
            &.is-#{$color-name} {
                // Variables
                --color: var(--color-#{$color-name});
            }
        }
    }
}
