@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> SWOOSH
    ========================================================================  */

// Set the keyframe
@keyframes spinner-swoosh {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--swoosh {
        animation-duration: var(--animation-duration);
        animation-iteration-count: infinite;
        animation-name: spinner-swoosh;
        animation-timing-function: linear;
        border: 0 solid var(--color);
        border-top-width: 2px;
        border-radius: 100%;
        display: inline-flex;
        height: var(--element-size);
        width: var(--element-size);

        // Modifiers: Colors
        @each $color-name, $color in $colors {
            &.is-#{$color-name} {
                --color: var(--color-#{$color-name});
            }
        }
    }
}
