@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> SPINNER -> TARGET
    ========================================================================  */

// Set the keyframe
@keyframes spinner-target {
    100% {
        transform: rotate(1440deg);
    }
}

.spinner {
    // Modifiers
    &.spinner--target,
    &.spinner--target-x2,
    &.spinner--target-x3 {
        animation-direction: alternate;
        animation-duration: calc(var(--animation-duration) * 4);
        animation-iteration-count: infinite;
        animation-name: spinner-target;
        animation-timing-function: ease-in-out;
        border: 1px solid var(--color-alt);
        border-bottom-color: var(--color);
        border-radius: 100%;
        border-top-color: var(--color);
        display: inline-flex;
        height: var(--element-size);
        width: var(--element-size);

        // Modifiers: Colors
        @each $color-name, $color in $colors {
            &.is-#{$color-name} {
                --color: var(--color-#{$color-name});
                --color-alt: var(--color-#{$color-name}-lighten-10);
            }
        }
    }

    &.spinner--target {
        border-width: 2px;
    }

    &.spinner--target-x2 {
        // Pseudo elements
        &::before {
            animation-duration: calc(calc(var(--animation-duration) * 4) * 3);
            animation-iteration-count: infinite;
            animation-name: spinner-target;
            animation-timing-function: ease-in-out;
            border: 1px solid var(--color-alt);
            border-bottom-color: var(--color);
            border-radius: 100%;
            border-top-color: var(--color);
            content: '';
            height: calc(var(--element-size) - 8px);
            position: absolute;
            width: calc(var(--element-size) - 8px);
        }
    }

    &.spinner--target-x3 {
        // Pseudo elements
        &::before,
        &::after {
            animation-iteration-count: infinite;
            animation-name: spinner-target;
            animation-timing-function: ease-in-out;
            border: 1px solid var(--color-alt);
            border-bottom-color: var(--color);
            border-radius: 100%;
            border-top-color: var(--color);
            content: '';
            position: absolute;
        }

        &::before {
            animation-duration: calc(calc(var(--animation-duration) * 4) * 3);
            height: calc(var(--element-size) - 8px);
            width: calc(var(--element-size) - 8px);
        }

        &::after {
            animation-duration: calc(calc(var(--animation-duration) * 4) * 1.5);
            height: calc(var(--element-size) - 16px);
            width: calc(var(--element-size) - 16px);
        }
    }
}
