@charset 'utf-8';

/*  ========================================================================
    JUICE -> ELEMENTS -> FORM -> TEXTAREA
    ========================================================================  */

// Check if the elements with textarea should be imported
@if $import-elements and $import-element-textarea {
    textarea {
        appearance: none;
        background-color: $textarea-background-color;
        border: 0 $textarea-border-style $textarea-border-color;
        border-bottom-left-radius: $textarea-border-radius-bottom-left;
        border-bottom-right-radius: $textarea-border-radius-bottom-right;
        border-bottom-width: $textarea-border-width-bottom;
        border-top-left-radius: $textarea-border-radius-top-left;
        border-top-right-radius: $textarea-border-radius-top-right;
        border-left-width: $textarea-border-width-left;
        border-right-width: $textarea-border-width-right;
        border-top-width: $textarea-border-width-top;
        color: $textarea-font-color;
        display: flex;
        font-family: $textarea-font-family;
        min-width: 100%;
        outline: none;
        resize: none;
        width: 100%;
        z-index: stack-index('default');

        // Cycle through all of the breakpoints
        @each $breakpoint-name, $breakpoint-value in $breakpoints {
            // Breakpoints
            @include breakpoint($breakpoint-name) {
                @include vertical-rhythm($breakpoint-name, map-get($textarea-font-sizes, 'md'));
                margin-bottom: element-spacing($breakpoint-name);
                padding: (content-spacing($breakpoint-name) * map-get($textarea-content-spacing-multipliers, 'md'));
            }
        }

        // Pseudo classes
        &:hover {
            background-color: $select-background-color-hover;
            border-color: $select-border-color-hover;
            color: $select-font-color-hover;
            z-index: stack-index('hover');
        }

        &:focus {
            background-color: $select-background-color-focus;
            border-color: $select-border-color-focus;
            box-shadow: 0 0 0 $input-accessibility-focus-width $input-accessibility-focus-color;
            color: $select-font-color-focus;
            z-index: stack-index('focus');
        }

        &:active {
            background-color: $select-background-color-active;
            border-color: $select-border-color-active;
            color: $select-font-color-active;
            z-index: stack-index('active');
        }

        // Pseudo elements
        &::placeholder {
            color: $textarea-placeholder-color;
        }

        // Modifiers: Props
        &[disabled] {
            // Styles
            @include disabled();
        }

        // Check if the textarea size modifiers should be declared
        @if $textarea-size-modifiers {
            // Cycle through all of the sizes
            @each $size in $sizes {
                // Cycle through all of the breakpoints
                @each $breakpoint-name, $breakpoint-value in $breakpoints {
                    // Breakpoints
                    @include breakpoint($breakpoint-name) {
                        // Modifiers: Sizes
                        &.is-#{$size} {
                            @include vertical-rhythm($breakpoint-name, map-get($textarea-font-sizes, $size));
                            padding: (content-spacing($breakpoint-name) * map-get($textarea-content-spacing-multipliers, $size));
                        }

                        // Check if the textarea size modifiers with breakpoints should be declared
                        @if $textarea-size-modifiers-with-breakpoints {
                            // Modifiers: Sizes
                            &.is-#{$size}\@#{$breakpoint-name} {
                                @include vertical-rhythm($breakpoint-name, map-get($textarea-font-sizes, $size));
                                padding: (content-spacing($breakpoint-name) * map-get($textarea-content-spacing-multipliers, $size));
                            }
                        }
                    }
                }
            }
        }

        // Check if the textarea feedback modifiers should be declared
        @if $textarea-feedback-modifiers {
            // Cycle through all of the feedback colors
            @each $feedback-name, $feedback-value in $feedback-colors {
                // Modifiers: Feedback colors
                &.has-#{$feedback-name} {
                    border-color: feedback-color($feedback-name);

                    // Pseudo classes
                    &:focus,
                    &:active {
                        box-shadow: 0 0 0 $input-accessibility-focus-width feedback-color('#{$feedback-name}-accessibility-focus');
                    }

                    // Modifiers: Props
                    &[disabled] {
                        border-color: feedback-color($feedback-name) !important;
                    }
                }
            }
        }

        // Check if the textarea resize modifiers should be declared
        @if $textarea-resize-modifiers {
            // Modifiers
            &.textarea--resize {
                resize: both;
            }

            &.textarea--resize-horizontal {
                resize: horizontal;
            }

            &.textarea--resize-vertical {
                resize: vertical;
            }
        }

        // Check if the textarea scrollbar modifier should be declared
        @if $textarea-scrollbar-modifier {
            // Modifiers
            &.textarea--scrollbar {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                overflow-y: scroll;
            }
        }
    }
}
