@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> FRAMEWORK -> BODY
    ========================================================================  */

// Variables
$body-background-color: hsla(0, 0%, 99%, 1) !default;
$body-font-color: font-color() !default;
$body-font-family: $global-primary-typeface !default;
$body-font-weight: $global-font-weight !default;
$body-letter-spacing: $global-letter-spacing !default;
$body-selection-background-color: base-color('primary') !default;
$body-selection-font-color: base-color('white') !default;
$body-selection-text-shadow: 1px 1px base-color('black') !default;
