@charset 'utf-8';

/*  ========================================================================
    JUICE -> HELPERS -> DISPLAY
    ========================================================================  */

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.flex {
    display: flex !important;
}

.inline-flex {
    display: inline-flex !important;
}

.hide {
    display: none !important;
}

// Cycle throuhgh all of the breakpoints
@each $breakpoint-name, $breakpoint-value in $breakpoints {
    // Breakpoint
    @include breakpoint($breakpoint-name) {
        .block\@#{$breakpoint-name} {
            display: block !important;
        }

        .inline\@#{$breakpoint-name} {
            display: inline-block !important;
        }

        .flex\@#{$breakpoint-name} {
            display: flex !important;
        }

        .inline-flex\@#{$breakpoint-name} {
            display: inline-flex !important;
        }

        .hide\@#{$breakpoint-name} {
            display: none !important;
        }
    }
}
