@charset 'utf-8';

/*  ========================================================================
    JUICE -> HELPERS -> FLOATS
    ========================================================================  */

.is-pulled-left {
    float: left !important;
}

.is-pulled-right {
    float: right !important;
}

.is-not-pulled {
    float: none !important;
}

// Cycle throuhgh all of the breakpoints
@each $breakpoint-name, $breakpoint-value in $breakpoints {
    // Breakpoint
    @include breakpoint($breakpoint-name) {
        .is-pulled-left\@#{$breakpoint-name} {
            float: left !important;
        }

        .is-pulled-right\@#{$breakpoint-name} {
            float: right !important;
        }

        .is-not-pulled\@#{$breakpoint-name} {
            float: none !important;
        }
    }
}
