@charset 'utf-8';

/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> ACCORDION
    ========================================================================  */

// Variables
$accordion-color-modifiers: true !default;
$accordion-size-modifiers: true !default;
$accordion-size-modifiers-with-breakpoints: true !default;
$accordion-spaced-modifier: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> ALERT
    ========================================================================  */

// Variables
$alert-alignment-modifier: true !default;
$alert-color-modifiers: true !default;
$alert-feedback-modifiers: true !default;
$alert-size-modifiers: true !default;
$alert-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> CARD
    ========================================================================  */

// Variables
$card-size-modifiers: true !default;
$card-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> CHIP
    ========================================================================  */

// Variables
$chip-color-modifiers: true !default;
$chip-feedback-modifiers: true !default;
$chip-pill-modifier: true !default;
$chip-size-modifiers: true !default;
$chip-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> CONFIRM
    ========================================================================  */

// Variables
$confirm-alignment-modifier: true !default;
$confirm-color-modifiers: true !default;
$confirm-feedback-modifiers: true !default;
$confirm-size-modifiers: true !default;
$confirm-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> DROPDOWN
    ========================================================================  */

// Variables
$dropdown-alignment-modifiers: true !default;
$dropdown-megamenu-modifier: true !default;
$dropdown-size-modifiers: true !default;
$dropdown-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> MODAL
    ========================================================================  */

// Variables
$modal-alignment-modifier: true !default;
$modal-card-color-modifiers: true !default;
$modal-card-feedback-modifiers: true !default;
$modal-card-size-modifiers: true !default;
$modal-card-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> NOTICE
    ========================================================================  */

// Variables
$notice-feedback-modifiers: true !default;
$notice-size-modifiers: true !default;
$notice-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> PANEL
    ========================================================================  */

// Variables
$panel-color-modifiers: true !default;
$panel-feedback-modifiers: true !default;
$panel-size-modifiers: true !default;
$panel-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> POPOVER
    ========================================================================  */

// Variables
$popover-alignment-modifiers: true !default;
$popover-color-modifiers: true !default;
$popover-feedback-modifiers: true !default;
$popover-size-modifiers: true !default;
$popover-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> PROMPT
    ========================================================================  */

// Variables
$prompt-alignment-modifier: true !default;
$prompt-color-modifiers: true !default;
$prompt-feedback-modifiers: true !default;
$prompt-size-modifiers: true !default;
$prompt-size-modifiers-with-breakpoints: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> TOAST
    ========================================================================  */

// Variables
$toast-alignment-modifiers: true !default;
$toast-feedback-modifiers: true !default;


/*  ========================================================================
    JUICE -> SETTINGS -> COMPONENTS -> TOOLTIP
    ========================================================================  */

// Variables
$tooltip-alignment-modifiers: true !default;
$tooltip-color-modifiers: true !default;
$tooltip-feedback-modifiers: true !default;
$tooltip-size-modifiers: true !default;
$tooltip-size-modifiers-with-breakpoints: true !default;
