@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FLIP -> EXIT -> FLIP OUT LEFT
    ========================================================================  */

// Check if the animations with flip out left should be imported
@if $import-animations and $import-animation-flip-out-left {
    .has-animation {
        // Nested selectors
        &.flip-out-left {
            // Variables
            --animation-delay: var(--default-animation-flip-out-delay);
            --animation-duration: var(--default-animation-flip-out-duration);
            --animation-easing: var(--default-animation-flip-out-easing);
            --animation-perspective: var(--default-animation-flip-in-perspective);

            // Keyframes
            @keyframes flip-out-left {
                from {
                    transform: perspective(var(--animation-perspective)) rotate3d(0, 1, 0, 0deg);
                }

                to {
                    transform: perspective(var(--animation-perspective)) rotate3d(0, 1, 0, -90deg);
                }
            }

            // Styles
            animation-name: flip-out-left;
        }
    }
}
