@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> EXIT -> FADE OUT
    ========================================================================  */

// Check if the animations with fade out should be imported
@if $import-animations and $import-animation-fade-out {
    .has-animation {
        // Nested selectors
        &.fade-out {
            // Variables
            --animation-delay: var(--default-animation-fade-out-delay);
            --animation-duration: var(--default-animation-fade-out-duration);
            --animation-easing: var(--default-animation-fade-out-easing);

            // Keframes
            @keyframes fade-out {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }

            // Styles
            animation-name: fade-out;
        }
    }
}
