@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> FADE -> EXIT
    ========================================================================  */

// Import
@import 'fade-out';
@import 'fade-out-down';
@import 'fade-out-left';
@import 'fade-out-right';
@import 'fade-out-up';
