@charset 'utf-8';

/*  ========================================================================
    JUICE -> VARIABLES -> ELEMENTS -> LAYOUT -> BOX
    ========================================================================  */

// Maps
$box-content-spacing-multipliers: (
    'sm': 0.5,
    'md': 1,
    'lg': 1.5
) !default;

// Variables
$box-background-color: base-color('white') !default;
$box-border-color: base-color('white-darken-3') !default;
$box-border-radius-bottom-left: $global-border-radius-bottom-left !default;
$box-border-radius-bottom-right: $global-border-radius-bottom-right !default;
$box-border-radius-top-left: $global-border-radius-top-left !default;
$box-border-radius-top-right: $global-border-radius-top-right !default;
$box-border-style: $global-border-style !default;
$box-border-width-bottom: $global-border-width-bottom !default;
$box-border-width-left: $global-border-width-left !default;
$box-border-width-right: $global-border-width-right !default;
$box-border-width-top: $global-border-width-top !default;
$box-box-shadow: $global-box-shadow !default;
$box-font-color: font-color() !default;
$box-link-color: $global-link-color !default;
$box-link-color-hover: $global-link-color-hover !default;
$box-link-color-focus: $global-link-color-focus !default;
$box-link-color-active: $global-link-color-active !default;
