@charset "utf-8";

/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> VARIABLES
   ============================================================================================= */

// Labels
$label-element-spacing: $element-spacing !default;
$label-element-spacing--small: $element-spacing--small !default;
$label-element-spacing--large: $element-spacing--large !default;
$label-element-spacing--huge: $element-spacing--huge !default;
$label-font-color: font-color() !default;
$label-font-family: $primary-typeface !default;
$label-font-size: $font-size !default;
$label-font-size--small: $font-size--small !default;
$label-font-size--large: $font-size--large !default;
$label-font-size--huge: $font-size--huge !default;
$label-height: $element-height !default;
$label-height--small: $element-height--small !default;
$label-height--large: $element-height--large !default;
$label-height--huge: $element-height--huge !default;

// Inputs
$inputs: "
    input[type=checkbox],
    input[type=radio],
    input[type=color],
    input[type=email],
    input[type=file],
    input[type=number],
    input[type=password],
    input[type=range],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    input[type=date],
    input[type=datetime-local],
    input[type=month],
    input[type=week],
    input[type=time]
" !default;
$input-background-color: base-color('white') !default;
$input-border-color: base-color('white', 'darken-3') !default;
$input-border-color--hover: base-color('white', 'darken-5') !default;
$input-border-color--focus: feedback-color('info') !default;
$input-border-width--separator: $border-width--separator !default;
$input-border-width--top: $border-width--top !default;
$input-border-width--right: $border-width--right !default;
$input-border-width--bottom: $border-width--bottom !default;
$input-border-width--left: $border-width--left !default;
$input-border-radius--top-left: $border-radius--top-left !default;
$input-border-radius--top-right: $border-radius--top-right !default;
$input-border-radius--bottom-right: $border-radius--bottom-right !default;
$input-border-radius--bottom-left: $border-radius--bottom-left !default;
$input-border-style: $border-style !default;
$input-box-shadow-color--focus: feedback-color('info', 'lighten-5') !default;
$input-element-spacing: $element-spacing !default;
$input-element-spacing--small: $element-spacing--small !default;
$input-element-spacing--large: $element-spacing--large !default;
$input-element-spacing--huge: $element-spacing--huge !default;
$input-font-color: font-color() !default;
$input-font-color--placeholder: base-color('white', 'darken-5') !default;
$input-font-family: $primary-typeface !default;
$input-font-size: $font-size !default;
$input-font-size--small: $font-size--small !default;
$input-font-size--large: $font-size--large !default;
$input-font-size--huge: $font-size--huge !default;
$input-height: $element-height !default;
$input-height--small: $element-height--small !default;
$input-height--large: $element-height--large !default;
$input-height--huge: $element-height--huge !default;
$input-padding: 0 10px !default;
$input-range-thumb-background-color: $input-background-color !default;
$input-range-thumb-width: 20px !default;
$input-range-track-color: $input-border-color !default;
$input-range-track-color--filled: base-color('blue') !default;

// Selects
$select-background-color: $input-background-color !default;
$select-border-color: $input-border-color !default;
$select-border-color--hover: $input-border-color--hover !default;
$select-border-color--focus: $input-border-color--focus !default;
$select-border-width--top: $input-border-width--top !default;
$select-border-width--right: $input-border-width--right !default;
$select-border-width--bottom: $input-border-width--bottom !default;
$select-border-width--left: $input-border-width--left !default;
$select-border-radius--top-left: $input-border-radius--top-left !default;
$select-border-radius--top-right: $input-border-radius--top-right !default;
$select-border-radius--bottom-right: $input-border-radius--bottom-right !default;
$select-border-radius--bottom-left: $input-border-radius--bottom-left !default;
$select-border-style: $input-border-style !default;
$select-box-shadow-color--focus: $input-box-shadow-color--focus !default;
$select-element-spacing: $input-element-spacing !default;
$select-element-spacing--small: $input-element-spacing--small !default;
$select-element-spacing--large: $input-element-spacing--large !default;
$select-element-spacing--huge: $input-element-spacing--huge !default;
$select-font-color: $input-font-color !default;
$select-font-color--placeholder: $input-font-color--placeholder !default;
$select-font-family: $input-font-family !default;
$select-font-size: $input-font-size !default;
$select-font-size--small: $input-font-size--small !default;
$select-font-size--large: $input-font-size--large !default;
$select-font-size--huge: $input-font-size--huge !default;
$select-height: $input-height !default;
$select-height--small: $input-height--small !default;
$select-height--large: $input-height--large !default;
$select-height--huge: $input-height--huge !default;

// Textareas
$textarea-background-color: $input-background-color !default;
$textarea-border-color: $input-border-color !default;
$textarea-border-color--hover: $input-border-color--hover !default;
$textarea-border-color--focus: $input-border-color--focus !default;
$textarea-border-width--top: $input-border-width--top !default;
$textarea-border-width--right: $input-border-width--right !default;
$textarea-border-width--bottom: $input-border-width--bottom !default;
$textarea-border-width--left: $input-border-width--left !default;
$textarea-border-radius--top-left: $input-border-radius--top-left !default;
$textarea-border-radius--top-right: $input-border-radius--top-right !default;
$textarea-border-radius--bottom-right: $input-border-radius--bottom-right !default;
$textarea-border-radius--bottom-left: $input-border-radius--bottom-left !default;
$textarea-border-style: $input-border-style !default;
$textarea-box-shadow-color--focus: $input-box-shadow-color--focus !default;
$textarea-element-spacing: $input-element-spacing !default;
$textarea-element-spacing--small: $input-element-spacing--small !default;
$textarea-element-spacing--large: $input-element-spacing--large !default;
$textarea-element-spacing--huge: $input-element-spacing--huge !default;
$textarea-font-color: $input-font-color !default;
$textarea-font-color--placeholder: $input-font-color--placeholder !default;
$textarea-font-family: $input-font-family !default;
$textarea-font-size: $input-font-size !default;
$textarea-font-size--small: $input-font-size--small !default;
$textarea-font-size--large: $input-font-size--large !default;
$textarea-font-size--huge: $input-font-size--huge !default;


/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> MIXINS
   ============================================================================================= */

// Input
@mixin input() {
    -webkit-appearance: none;
    background-color: $input-background-color;
    border: 0 $input-border-style $input-border-color;
    border-radius: $input-border-radius--top-left
                   $input-border-radius--top-right
                   $input-border-radius--bottom-right
                   $input-border-radius--bottom-left;
    border-width: $input-border-width--top
                  $input-border-width--right
                  $input-border-width--bottom
                  $input-border-width--left;
    color: $input-font-color;
    display: block;
    font-family: $input-font-family;
    font-size: $input-font-size;
    height: $input-height;
    line-height: normal;
    margin: 0;
    margin-bottom: $input-element-spacing;
    max-width: 100%;
    padding: $input-padding;
    position: relative;
    transition: border 0.15s linear,
                box-shadow 0.15s linear;
    width: 100%;
}

// Input range track
@mixin input-range-track() {
    height: 100%;
    background-color: $input-range-track-color;
    border: none;
    color: transparent;
    height: 100%;
}

// Input range thumb
@mixin input-range-thumb() {
    -webkit-appearance: none;
    background-color: $input-range-thumb-background-color;
    border: none;
    border-radius: 0;
    box-shadow: -100vw 0 0 100vw $input-range-track-color--filled;
    box-sizing: border-box;
    height: 100%;
    width: $input-range-thumb-width;
}

// Input focus box shadow
@mixin input-focus-box-shadow($color) {
    box-shadow: 0 0 20px -2px $color;
}

/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> RESET
   ============================================================================================= */

// Forms
form {
    border: none;
    margin: 0;
    padding: 0;
}

// Fieldsets
fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}


/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> LABELS
   ============================================================================================= */

// Labels
label {
    color: $label-font-color;
    cursor: pointer;
    display: block;
    font-family: $label-font-family;
    font-size: $label-font-size;
    height: $label-height;
    line-height: $label-height;
    margin: 0;
    margin-bottom: $label-element-spacing;
    padding: 0;
    user-select: none;

    // Modifiers
    &.label--inline {
        display: inline-block;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $label-font-size--small;
        height: $label-height--small;
        line-height: $label-height--small;
        margin-bottom: $label-element-spacing--small;
    }

    &.is-large {
        font-size: $label-font-size--large;
        height: $label-height--large;
        line-height: $label-height--large;
        margin-bottom: $label-element-spacing--large;
    }

    &.is-huge {
        font-size: $label-font-size--huge;
        height: $label-height--huge;
        line-height: $label-height--huge;
        margin-bottom: $label-element-spacing--huge;
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            color: feedback-color($name);
        }
    }
}


/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> INPUTS
   ============================================================================================= */

// Inputs
#{$inputs} {
    @include input();

    // Pseudo classes
    &:hover {
        border-color: $input-border-color--hover;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:active {
        @include input-focus-box-shadow($input-box-shadow-color--focus);
        border-color: $input-border-color--focus;
    }

    // Psuedo elements
    &::placeholder {
        color: $input-font-color--placeholder;
        opacity: 1;
    }

    &::-ms-clear {
        color: $input-font-color;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: $input-height / 2;
    }

    &::-ms-reveal {
        background-color: transparent;
        color: $input-font-color;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: $input-height / 2;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $input-font-size--small;
        height: $input-height--small;
        margin-bottom: $input-element-spacing--small;

        // Pseudo elements
        &::-ms-clear {
            width: $input-height--small / 2;
        }

        &::-ms-reveal {
            width: $input-height--small / 2;
        }
    }

    &.is-large {
        font-size: $input-font-size--large;
        height: $input-height--large;
        margin-bottom: $input-element-spacing--large;

        // Pseudo elements
        &::-ms-clear {
            width: $input-height--large / 2;
        }

        &::-ms-reveal {
            width: $input-height--large / 2;
        }
    }

    &.is-huge {
        font-size: $input-font-size--huge;
        height: $input-height--huge;
        margin-bottom: $input-element-spacing--huge;

        // Pseudo elements
        &::-ms-clear {
            width: $input-height--huge / 2;
        }

        &::-ms-reveal {
            width: $input-height--huge / 2;
        }
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            border-color: feedback-color($name);

            // Pseudo classes
            &:hover {
                border-color: feedback-color($name, 'darken-1');
            }

            &:focus {
                @include input-focus-box-shadow(feedback-color($name, 'lighten-5'));
                border-color: feedback-color($name, 'darken-2');
            }
        }
    }
}

// Checkbox and radio inputs
input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    top: 2px;
    width: auto;

    // Pseudo classes
    &:focus {
        outline: 1px $input-border-style $input-border-color--focus;
        outline-offset: 3px;
    }
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

input[type=radio] {
    -webkit-appearance: radio;
    border-radius: 100%;
}

// Color inputs
input[type=color] {
    cursor: pointer;
    display: inline-block;
    max-width: 60px;
    min-width: 60px;
    padding: 5px;

    // Pseudo elements
    &::-webkit-color-swatch-wrapper {
        background-color: $input-background-color;
        border-radius: $input-border-radius--top-left
                       $input-border-radius--top-right
                       $input-border-radius--bottom-right
                       $input-border-radius--bottom-left;
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: $input-border-radius--top-left
                       $input-border-radius--top-right
                       $input-border-radius--bottom-right
                       $input-border-radius--bottom-left;
    }
}

// File inputs
input[type=file] {
    cursor: pointer;
    display: block;
    padding: 0;
    width: auto;

    // Pseudo classes
    &:hover {
        // Pseudo elements
        &::-webkit-file-upload-button {
            border-color: $input-border-color--hover;
        }

        &::-ms-browse {
            border-color: $input-border-color--hover;
        }
    }

    &:focus {
        // Pseudo elements
        &::-webkit-file-upload-button {
            border-color: $input-border-color--focus;
        }

        &::-ms-browse {
            border-color: $input-border-color--focus;
        }
    }

    // Pseudo elements
    &::-webkit-file-upload-button {
        @include input();
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-width: 0;
        border-right-width: $input-border-width--separator;
        cursor: pointer;
        height: $input-height - ($input-border-width--top + $input-border-width--bottom);
        margin: 0;
        outline: none;
        width: auto;
    }

    &::-ms-value {
        @include input();
        border: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin: 0;
    }

    &::-ms-browse {
        @include input();
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-width: 0;
        border-left-width: $input-border-width--separator;
        margin: 0;
        width: auto;
    }

    // Modifiers: Size
    &.is-small {
        // Pseudo elements
        &::-webkit-file-upload-button {
            height: $input-height--small - ($input-border-width--top + $input-border-width--bottom);
        }

        &::-ms-value {
            height: $input-height--small;
        }

        &::-ms-browse {
            height: $input-height--small;
        }
    }

    &.is-large {
        // Pseudo elements
        &::-webkit-file-upload-button {
            height: $input-height--large - ($input-border-width--top + $input-border-width--bottom);
        }

        &::-ms-value {
            height: $input-height--large;
        }

        &::-ms-browse {
            height: $input-height--large;
        }
    }

    &.is-huge {
        // Pseudo elements
        &::-webkit-file-upload-button {
            height: $input-height--huge - ($input-border-width--top + $input-border-width--bottom);
        }

        &::-ms-value {
            height: $input-height--huge;
        }

        &::-ms-browse {
            height: $input-height--huge;
        }
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            // Pseudo classes
            &:hover {
                // Pseudo elements
                &::-webkit-file-upload-button {
                    border-color: feedback-color($name, 'darken-1');
                }

                &::-ms-browse {
                    border-color: feedback-color($name, 'darken-1');
                }
            }

            &:focus {
                // Pseudo elements
                &::-webkit-file-upload-button {
                    border-color: feedback-color($name, 'darken-2');
                }

                &::-ms-browse {
                    border-color: feedback-color($name, 'darken-2');
                }
            }

            // Pseudo elements
            &::-webkit-file-upload-button {
                border-color: feedback-color($name);
            }

            &::-ms-browse {
                border-color: feedback-color($name);
            }
        }
    }
}

// Number inputs
input[type=number] {
    -moz-appearance: textfield;

    // Pseudo elements
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

// Range inputs
input[type=range] {
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    padding: 0;

    // Pseudo elements
    &::-webkit-slider-runnable-track {
        @include input-range-track();
    }

    &::-webkit-slider-thumb {
        @include input-range-thumb();
    }

    &::-moz-range-track {
        @include input-range-track();
    }

    &::-moz-range-thumb {
        @include input-range-thumb();
    }

    &::-ms-track {
        @include input-range-track();
    }

    &::-ms-thumb {
        display: none;
    }

    &::-ms-fill-lower {
        background-color: $input-range-track-color--filled;
        border-right: $input-range-thumb-width solid $input-range-thumb-background-color;
    }

    &::-ms-ticks-after {
        display: none;
    }

    &::-ms-ticks-before {
        display: none;
    }
}


// Search inputs
input[type=search] {
    // Pseudo elements
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    &::-webkit-search-results-button {
        -webkit-appearance: none;
    }
}

// Date and time inputs
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=time] {
    cursor: text;
    line-height: $input-height;

    // Pseudo classes
    &:hover {
        // Pseudo elements
        &::-webkit-calendar-picker-indicator {
            opacity: 0.8;
        }
    }

    // Pseudo elements
    &::-webkit-clear-button {
        display: none;
    }

    &::-webkit-inner-spin-button {
        display: none;
    }

    &::-webkit-calendar-picker-indicator {
        background-color: transparent;
        color: $input-font-color;
        cursor: pointer;
        margin: 0;
        opacity: 0.5;

        // Pseudo classes
        &:hover {
            background-color: transparent;
            opacity: 1;
        }
    }

    // Modifiers: Size
    &.is-small {
        line-height: $input-height--small;
    }

    &.is-large {
        line-height: $input-height--large;
    }

    &.is-huge {
        line-height: $input-height--huge;
    }
}


/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> SELECTS
   ============================================================================================= */

// Selects
select {
    -webkit-appearance: none;
    background-color: $select-background-color;
    border: 0 $select-border-style $select-border-color;
    border-radius: $select-border-radius--top-left
                   $select-border-radius--top-right
                   $select-border-radius--bottom-right
                   $select-border-radius--bottom-left;
    border-width: $select-border-width--top
                  $select-border-width--right
                  $select-border-width--bottom
                  $select-border-width--left;
    color: $select-font-color;
    cursor: pointer;
    display: block;
    font-family: $select-font-family;
    font-size: $select-font-size;
    height: $select-height;
    margin: 0;
    margin-bottom: $select-element-spacing;
    padding: 0 10px;
    transition: border 0.15s linear,
                box-shadow 0.15s linear;
    width: 100%;

    // Pseudo classes
    &:hover {
        border-color: $select-border-color--hover;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:active {
        @include input-focus-box-shadow($select-box-shadow-color--focus);
        background-color: $select-background-color;
        border-color: $select-border-color--focus;
    }

    // Modifiers
    &[multiple] {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: initial;
        padding: 10px;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $select-font-size--small;
        height: $select-height--small;
        margin-bottom: $select-element-spacing--small;

        // Modifiers
        &[multiple] {
            height: initial;
        }
    }

    &.is-large {
        font-size: $select-font-size--large;
        height: $select-height--large;
        margin-bottom: $select-element-spacing--large;

        // Modifiers
        &[multiple] {
            height: initial;
        }
    }

    &.is-huge {
        font-size: $select-font-size--huge;
        height: $select-height--huge;
        margin-bottom: $select-element-spacing--huge;

        // Modifiers
        &[multiple] {
            height: initial;
        }
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            border-color: feedback-color($name);

            // Pseudo classes
            &:hover {
                border-color: feedback-color($name, 'darken-1');
            }

            &:focus {
                @include input-focus-box-shadow(feedback-color($name, 'lighten-5'));
                border-color: feedback-color($name, 'darken-2');
            }
        }
    }
}


/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> TEXTAREAS
   ============================================================================================= */

// Textareas
textarea {
    -webkit-appearance: none;
    background-color: $textarea-background-color;
    border: 0 $textarea-border-style $textarea-border-color;
    border-radius: $textarea-border-radius--top-left
                   $textarea-border-radius--top-right
                   $textarea-border-radius--bottom-right
                   $textarea-border-radius--bottom-left;
    border-width: $textarea-border-width--top
                  $textarea-border-width--right
                  $textarea-border-width--bottom
                  $textarea-border-width--left;
    color: $textarea-font-color;
    display: block;
    font-family: $textarea-font-family;
    font-size: $textarea-font-size;
    line-height: 1.5;
    margin: 0;
    margin-bottom: $textarea-element-spacing;
    min-width: 100%;
    padding: 10px;
    resize: none;
    transition: border-color 0.15s linear,
                box-shadow 0.15s linear;
    width: 100%;

    // Pseudo classes
    &:hover {
        border-color: $textarea-border-color--hover;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:active {
        @include input-focus-box-shadow($textarea-box-shadow-color--focus);
        border-color: $textarea-border-color--focus;
    }

    // Psuedo elements
    &::placeholder {
        color: $textarea-font-color--placeholder;
    }

    // Modifiers
    &.textarea--resize {
        resize: vertical;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $textarea-font-size--small;
        line-height: 1.4;
        margin-bottom: $textarea-element-spacing--small;
    }

    &.is-large {
        font-size: $textarea-font-size--large;
        line-height: 1.6;
        margin-bottom: $textarea-element-spacing--large;
    }

    &.is-huge {
        font-size: $textarea-font-size--huge;
        line-height: 1.7;
        margin-bottom: $textarea-element-spacing--huge;
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            border-color: feedback-color($name);

            // Pseudo classes
            &:hover {
                border-color: feedback-color($name, 'darken-1');
            }

            &:focus {
                @include input-focus-box-shadow(feedback-color($name, 'lighten-5'));
                border-color: feedback-color($name, 'darken-2');
            }
        }
    }
}
