@charset "utf-8";

/* =============================================================================================
   RUCKSACK -> FRAMEWORK -> FORMS -> VARIABLES
   ============================================================================================= */

// Labels
$label-element-spacing: $element-spacing;
$label-element-spacing--small: $element-spacing--small;
$label-element-spacing--large: $element-spacing--large;
$label-element-spacing--huge: $element-spacing--huge;
$label-font-color: font-color();
$label-font-family: $primary-typeface;
$label-font-size: $font-size;
$label-font-size--small: $font-size--small;
$label-font-size--large: $font-size--large;
$label-font-size--huge: $font-size--huge;
$label-height: $element-height;
$label-height--small: $element-height--small;
$label-height--large: $element-height--large;
$label-height--huge: $element-height--huge;

// Inputs
$inputs: "
    input[type=checkbox],
    input[type=radio],
    input[type=color],
    input[type=email],
    input[type=file],
    input[type=number],
    input[type=password],
    input[type=range],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    input[type=date],
    input[type=datetime-local],
    input[type=month],
    input[type=week],
    input[type=time]
";
$input-background-color: base-color('white');
$input-border-color: base-color('white', 'darken-3');
$input-border-color--hover: base-color('white', 'darken-5');
$input-border-color--focus: feedback-color('info');
$input-border-width--separator: $border-width--separator;
$input-border-width--top: $border-width--top;
$input-border-width--right: $border-width--right;
$input-border-width--bottom: $border-width--bottom;
$input-border-width--left: $border-width--left;
$input-border-radius--top-left: $border-radius--top-left;
$input-border-radius--top-right: $border-radius--top-right;
$input-border-radius--bottom-right: $border-radius--bottom-right;
$input-border-radius--bottom-left: $border-radius--bottom-left;
$input-border-style: $border-style;
$input-box-shadow-color--focus: feedback-color('info', 'lighten-5');
$input-element-spacing: $element-spacing;
$input-element-spacing--small: $element-spacing--small;
$input-element-spacing--large: $element-spacing--large;
$input-element-spacing--huge: $element-spacing--huge;
$input-font-color: font-color();
$input-font-color--placeholder: base-color('white', 'darken-5');
$input-font-family: $primary-typeface;
$input-font-size: $font-size;
$input-font-size--small: $font-size--small;
$input-font-size--large: $font-size--large;
$input-font-size--huge: $font-size--huge;
$input-height: $element-height;
$input-height--small: $element-height--small;
$input-height--large: $element-height--large;
$input-height--huge: $element-height--huge;
$input-padding: 0 10px;
$input-range-thumb-background-color: $input-background-color;
$input-range-thumb-width: 20px;
$input-range-track-color: $input-border-color;
$input-range-track-color--filled: base-color('blue');

// Selects
$select-background-color: $input-background-color;
$select-border-color: $input-border-color;
$select-border-color--hover: $input-border-color--hover;
$select-border-color--focus: $input-border-color--focus;
$select-border-width--top: $input-border-width--top;
$select-border-width--right: $input-border-width--right;
$select-border-width--bottom: $input-border-width--bottom;
$select-border-width--left: $input-border-width--left;
$select-border-radius--top-left: $input-border-radius--top-left;
$select-border-radius--top-right: $input-border-radius--top-right;
$select-border-radius--bottom-right: $input-border-radius--bottom-right;
$select-border-radius--bottom-left: $input-border-radius--bottom-left;
$select-border-style: $input-border-style;
$select-box-shadow-color--focus: $input-box-shadow-color--focus;
$select-element-spacing: $input-element-spacing;
$select-element-spacing--small: $input-element-spacing--small;
$select-element-spacing--large: $input-element-spacing--large;
$select-element-spacing--huge: $input-element-spacing--huge;
$select-font-color: $input-font-color;
$select-font-color--placeholder: $input-font-color--placeholder;
$select-font-family: $input-font-family;
$select-font-size: $input-font-size;
$select-font-size--small: $input-font-size--small;
$select-font-size--large: $input-font-size--large;
$select-font-size--huge: $input-font-size--huge;
$select-height: $input-height;
$select-height--small: $input-height--small;
$select-height--large: $input-height--large;
$select-height--huge: $input-height--huge;

// Textareas
$textarea-background-color: $input-background-color;
$textarea-border-color: $input-border-color;
$textarea-border-color--hover: $input-border-color--hover;
$textarea-border-color--focus: $input-border-color--focus;
$textarea-border-width--top: $input-border-width--top;
$textarea-border-width--right: $input-border-width--right;
$textarea-border-width--bottom: $input-border-width--bottom;
$textarea-border-width--left: $input-border-width--left;
$textarea-border-radius--top-left: $input-border-radius--top-left;
$textarea-border-radius--top-right: $input-border-radius--top-right;
$textarea-border-radius--bottom-right: $input-border-radius--bottom-right;
$textarea-border-radius--bottom-left: $input-border-radius--bottom-left;
$textarea-border-style: $input-border-style;
$textarea-box-shadow-color--focus: $input-box-shadow-color--focus;
$textarea-element-spacing: $input-element-spacing;
$textarea-element-spacing--small: $input-element-spacing--small;
$textarea-element-spacing--large: $input-element-spacing--large;
$textarea-element-spacing--huge: $input-element-spacing--huge;
$textarea-font-color: $input-font-color;
$textarea-font-color--placeholder: $input-font-color--placeholder;
$textarea-font-family: $input-font-family;
$textarea-font-size: $input-font-size;
$textarea-font-size--small: $input-font-size--small;
$textarea-font-size--large: $input-font-size--large;
$textarea-font-size--huge: $input-font-size--huge;

// Buttons
$buttons: "
    button,
    .button,
    a.button,
    input[type=submit],
    input[type=reset],
    input[type=button]
";
$button-background-color: base-color('white');
$button-background-color--hover: base-color('white', 'lighten-1');
$button-background-color--focus: base-color('white', 'lighten-1');
$button-background-color--active: base-color('white');
$button-background-color-primary: base-color('brand');
$button-background-color-primary--hover: base-color('brand', 'lighten-1');
$button-background-color-primary--focus: base-color('brand', 'lighten-1');
$button-background-color-primary--active: base-color('brand');
$button-background-color-secondary: base-color('charcoal');
$button-background-color-secondary--hover: base-color('charcoal', 'lighten-1');
$button-background-color-secondary--focus: base-color('charcoal', 'lighten-1');
$button-background-color-secondary--active: base-color('charcoal');
$button-border-color: base-color('white', 'darken-3');
$button-border-color--hover: base-color('white', 'darken-5');
$button-border-color--focus: base-color('white', 'darken-6');
$button-border-color--active: base-color('white', 'darken-6');
$button-border-color-primary: base-color('brand', 'darken-3');
$button-border-color-primary--hover: base-color('brand', 'darken-5');
$button-border-color-primary--focus: base-color('brand', 'darken-6');
$button-border-color-primary--active: base-color('brand', 'darken-6');
$button-border-color-secondary: base-color('charcoal', 'darken-3');
$button-border-color-secondary--hover: base-color('charcoal', 'darken-5');
$button-border-color-secondary--focus: base-color('charcoal', 'darken-6');
$button-border-color-secondary--active: base-color('charcoal', 'darken-6');
$button-border-radius--top-left: $border-radius--top-left;
$button-border-radius--top-right: $border-radius--top-right;
$button-border-radius--bottom-right: $border-radius--bottom-right;
$button-border-radius--bottom-left: $border-radius--bottom-left;
$button-border-style: $border-style;
$button-border-width--top: $input-border-width--top;
$button-border-width--right: $input-border-width--right;
$button-border-width--bottom: $input-border-width--bottom;
$button-border-width--left: $input-border-width--left;
$button-border-width--separator: $input-border-width--separator;
$button-content-spacing: $content-spacing;
$button-content-spacing--small: $content-spacing--small;
$button-content-spacing--large: $content-spacing--large;
$button-content-spacing--huge: $content-spacing--huge;
$button-element-spacing: $element-spacing;
$button-element-spacing--small: $element-spacing--small;
$button-element-spacing--large: $element-spacing--large;
$button-element-spacing--huge: $element-spacing--huge;
$button-font-color: font-color();
$button-font-color--hover: font-color();
$button-font-color--focus: font-color();
$button-font-color--active: font-color();
$button-font-color-primary: base-color('white');
$button-font-color-primary--hover: base-color('white');
$button-font-color-primary--focus: base-color('white');
$button-font-color-primary--active: base-color('white');
$button-font-color-secondary: base-color('white');
$button-font-color-secondary--hover: base-color('white');
$button-font-color-secondary--focus: base-color('white');
$button-font-color-secondary--active: base-color('white');
$button-font-family: $secondary-typeface;
$button-font-size: $font-size;
$button-font-size--small: $font-size--small;
$button-font-size--large: $font-size--large;
$button-font-size--huge: $font-size--huge;
$button-font-variant: normal;
$button-font-weight: 300;
$button-height: $input-height;
$button-height--small: $input-height--small;
$button-height--large: $input-height--large;
$button-height--huge: $input-height--huge;
$button-letter-spacing: 0;
$button-text-transform: uppercase;


/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> MIXINS
   ============================================================================================= */

// Input
@mixin input() {
    -webkit-appearance: none;
    background-color: $input-background-color;
    border: 0 $input-border-style $input-border-color;
    border-radius: $input-border-radius--top-left
                   $input-border-radius--top-right
                   $input-border-radius--bottom-right
                   $input-border-radius--bottom-left;
    border-width: $input-border-width--top
                  $input-border-width--right
                  $input-border-width--bottom
                  $input-border-width--left;
    color: $input-font-color;
    display: block;
    font-family: $input-font-family;
    font-size: $input-font-size;
    height: $input-height;
    line-height: normal;
    margin: 0;
    margin-bottom: $input-element-spacing;
    max-width: 100%;
    padding: $input-padding;
    position: relative;
    transition: border 0.15s linear,
                box-shadow 0.15s linear;
    width: 100%;
}

// Input range track
@mixin input-range-track() {
    height: 100%;
    background-color: $input-range-track-color;
    border: none;
    color: transparent;
    height: 100%;
}

// Input range thumb
@mixin input-range-thumb() {
    -webkit-appearance: none;
    background-color: $input-range-thumb-background-color;
    border: none;
    border-radius: 0;
    box-shadow: -100vw 0 0 100vw $input-range-track-color--filled;
    box-sizing: border-box;
    height: 100%;
    width: $input-range-thumb-width;
}

// Input focus box shadow
@mixin input-focus-box-shadow($color) {
    box-shadow: 0 0 20px -2px $color;
}

// Button click inset shadow
@mixin button-click-inset-shadow() {
    box-shadow: inset 0 2px 7px 0px rgba(0, 0, 0, 0.1);
}

// Small buttons
@mixin button-size--small() {
    font-size: $button-font-size--small;
    height: $button-height--small;
    line-height: $button-height--small - ($button-border-width--top + $button-border-width--bottom);
    margin-bottom: $button-element-spacing--small;
    padding: 0 $button-content-spacing--small;
}

// Large buttons
@mixin button-size--large() {
    font-size: $button-font-size--large;
    height: $button-height--large;
    line-height: $button-height--large - ($button-border-width--top + $button-border-width--bottom);
    margin-bottom: $button-element-spacing--large;
    padding: 0 $button-content-spacing--large;
}

// Huge buttons
@mixin button-size--huge() {
    font-size: $button-font-size--huge;
    height: $button-height--huge;
    line-height: $button-height--huge - ($button-border-width--top + $button-border-width--bottom);
    margin-bottom: $button-element-spacing--huge;
    padding: 0 $button-content-spacing--huge;
}

/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> RESET
   ============================================================================================= */

// Forms
form {
    border: none;
    margin: 0;
    padding: 0;
}

// Fieldsets
fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}


/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> LABELS
   ============================================================================================= */

// Labels
label {
    color: $label-font-color;
    cursor: pointer;
    display: block;
    font-family: $label-font-family;
    font-size: $label-font-size;
    height: $label-height;
    line-height: $label-height;
    margin: 0;
    margin-bottom: $label-element-spacing;
    padding: 0;
    user-select: none;

    // Modifiers
    &.label--inline {
        display: inline-block;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $label-font-size--small;
        height: $label-height--small;
        line-height: $label-height--small;
        margin-bottom: $label-element-spacing--small;
    }

    &.is-large {
        font-size: $label-font-size--large;
        height: $label-height--large;
        line-height: $label-height--large;
        margin-bottom: $label-element-spacing--large;
    }

    &.is-huge {
        font-size: $label-font-size--huge;
        height: $label-height--huge;
        line-height: $label-height--huge;
        margin-bottom: $label-element-spacing--huge;
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            color: feedback-color($name);
        }
    }
}


/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> INPUTS
   ============================================================================================= */

// Inputs
#{$inputs} {
    @include input();

    // Pseudo classes
    &:hover {
        border-color: $input-border-color--hover;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:active {
        @include input-focus-box-shadow($input-box-shadow-color--focus);
        border-color: $input-border-color--focus;
    }

    // Psuedo elements
    &::placeholder {
        color: $input-font-color--placeholder;
        opacity: 1;
    }

    &::-ms-clear {
        color: $input-font-color;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: $input-height / 2;
    }

    &::-ms-reveal {
        background-color: transparent;
        color: $input-font-color;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: $input-height / 2;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $input-font-size--small;
        height: $input-height--small;
        margin-bottom: $input-element-spacing--small;

        // Pseudo elements
        &::-ms-clear {
            width: $input-height--small / 2;
        }

        &::-ms-reveal {
            width: $input-height--small / 2;
        }
    }

    &.is-large {
        font-size: $input-font-size--large;
        height: $input-height--large;
        margin-bottom: $input-element-spacing--large;

        // Pseudo elements
        &::-ms-clear {
            width: $input-height--large / 2;
        }

        &::-ms-reveal {
            width: $input-height--large / 2;
        }
    }

    &.is-huge {
        font-size: $input-font-size--huge;
        height: $input-height--huge;
        margin-bottom: $input-element-spacing--huge;

        // Pseudo elements
        &::-ms-clear {
            width: $input-height--huge / 2;
        }

        &::-ms-reveal {
            width: $input-height--huge / 2;
        }
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            border-color: feedback-color($name);

            // Pseudo classes
            &:hover {
                border-color: feedback-color($name, 'darken-1');
            }

            &:focus {
                @include input-focus-box-shadow(feedback-color($name, 'lighten-5'));
                border-color: feedback-color($name, 'darken-2');
            }
        }
    }
}

// Checkbox and radio inputs
input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    top: 2px;
    width: auto;

    // Pseudo classes
    &:focus {
        outline: 1px $input-border-style $input-border-color--focus;
        outline-offset: 3px;
    }
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

input[type=radio] {
    -webkit-appearance: radio;
    border-radius: 100%;
}

// Color inputs
input[type=color] {
    cursor: pointer;
    display: inline-block;
    max-width: 60px;
    min-width: 60px;
    padding: 5px;

    // Pseudo elements
    &::-webkit-color-swatch-wrapper {
        background-color: $input-background-color;
        border-radius: $input-border-radius--top-left
                       $input-border-radius--top-right
                       $input-border-radius--bottom-right
                       $input-border-radius--bottom-left;
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: $input-border-radius--top-left
                       $input-border-radius--top-right
                       $input-border-radius--bottom-right
                       $input-border-radius--bottom-left;
    }
}

// File inputs
input[type=file] {
    cursor: pointer;
    display: block;
    padding: 0;
    width: auto;

    // Pseudo classes
    &:hover {
        // Pseudo elements
        &::-webkit-file-upload-button {
            border-color: $input-border-color--hover;
        }

        &::-ms-browse {
            border-color: $input-border-color--hover;
        }
    }

    &:focus {
        // Pseudo elements
        &::-webkit-file-upload-button {
            border-color: $input-border-color--focus;
        }

        &::-ms-browse {
            border-color: $input-border-color--focus;
        }
    }

    // Pseudo elements
    &::-webkit-file-upload-button {
        @include input();
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-width: 0;
        border-right-width: $input-border-width--separator;
        cursor: pointer;
        height: $input-height - ($input-border-width--top + $input-border-width--bottom);
        margin: 0;
        outline: none;
        width: auto;
    }

    &::-ms-value {
        @include input();
        border: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin: 0;
    }

    &::-ms-browse {
        @include input();
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-width: 0;
        border-left-width: $input-border-width--separator;
        margin: 0;
        width: auto;
    }

    // Modifiers: Size
    &.is-small {
        // Pseudo elements
        &::-webkit-file-upload-button {
            height: $input-height--small - ($input-border-width--top + $input-border-width--bottom);
        }

        &::-ms-value {
            height: $input-height--small;
        }

        &::-ms-browse {
            height: $input-height--small;
        }
    }

    &.is-large {
        // Pseudo elements
        &::-webkit-file-upload-button {
            height: $input-height--large - ($input-border-width--top + $input-border-width--bottom);
        }

        &::-ms-value {
            height: $input-height--large;
        }

        &::-ms-browse {
            height: $input-height--large;
        }
    }

    &.is-huge {
        // Pseudo elements
        &::-webkit-file-upload-button {
            height: $input-height--huge - ($input-border-width--top + $input-border-width--bottom);
        }

        &::-ms-value {
            height: $input-height--huge;
        }

        &::-ms-browse {
            height: $input-height--huge;
        }
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            // Pseudo classes
            &:hover {
                // Pseudo elements
                &::-webkit-file-upload-button {
                    border-color: feedback-color($name, 'darken-1');
                }

                &::-ms-browse {
                    border-color: feedback-color($name, 'darken-1');
                }
            }

            &:focus {
                // Pseudo elements
                &::-webkit-file-upload-button {
                    border-color: feedback-color($name, 'darken-2');
                }

                &::-ms-browse {
                    border-color: feedback-color($name, 'darken-2');
                }
            }

            // Pseudo elements
            &::-webkit-file-upload-button {
                border-color: feedback-color($name);
            }

            &::-ms-browse {
                border-color: feedback-color($name);
            }
        }
    }
}

// Number inputs
input[type=number] {
    -moz-appearance: textfield;

    // Pseudo elements
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

// Range inputs
input[type=range] {
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    padding: 0;

    // Pseudo elements
    &::-webkit-slider-runnable-track {
        @include input-range-track();
    }

    &::-webkit-slider-thumb {
        @include input-range-thumb();
    }

    &::-moz-range-track {
        @include input-range-track();
    }

    &::-moz-range-thumb {
        @include input-range-thumb();
    }

    &::-ms-track {
        @include input-range-track();
    }

    &::-ms-thumb {
        display: none;
    }

    &::-ms-fill-lower {
        background-color: $input-range-track-color--filled;
        border-right: $input-range-thumb-width solid $input-range-thumb-background-color;
    }

    &::-ms-ticks-after {
        display: none;
    }

    &::-ms-ticks-before {
        display: none;
    }
}


// Search inputs
input[type=search] {
    // Pseudo elements
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    &::-webkit-search-results-button {
        -webkit-appearance: none;
    }
}

// Date and time inputs
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=time] {
    cursor: text;
    line-height: $input-height;

    // Pseudo classes
    &:hover {
        // Pseudo elements
        &::-webkit-calendar-picker-indicator {
            opacity: 0.8;
        }
    }

    // Pseudo elements
    &::-webkit-clear-button {
        display: none;
    }

    &::-webkit-inner-spin-button {
        display: none;
    }

    &::-webkit-calendar-picker-indicator {
        background-color: transparent;
        color: $input-font-color;
        cursor: pointer;
        margin: 0;
        opacity: 0.5;

        // Pseudo classes
        &:hover {
            background-color: transparent;
            opacity: 1;
        }
    }

    // Modifiers: Size
    &.is-small {
        line-height: $input-height--small;
    }

    &.is-large {
        line-height: $input-height--large;
    }

    &.is-huge {
        line-height: $input-height--huge;
    }
}


/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> SELECTS
   ============================================================================================= */

// Selects
select {
    -webkit-appearance: none;
    background-color: $select-background-color;
    border: 0 $select-border-style $select-border-color;
    border-radius: $select-border-radius--top-left
                   $select-border-radius--top-right
                   $select-border-radius--bottom-right
                   $select-border-radius--bottom-left;
    border-width: $select-border-width--top
                  $select-border-width--right
                  $select-border-width--bottom
                  $select-border-width--left;
    color: $select-font-color;
    cursor: pointer;
    display: block;
    font-family: $select-font-family;
    font-size: $select-font-size;
    height: $select-height;
    margin: 0;
    margin-bottom: $select-element-spacing;
    padding: 0 10px;
    transition: border 0.15s linear,
                box-shadow 0.15s linear;
    width: 100%;

    // Pseudo classes
    &:hover {
        border-color: $select-border-color--hover;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:active {
        @include input-focus-box-shadow($select-box-shadow-color--focus);
        background-color: $select-background-color;
        border-color: $select-border-color--focus;
    }

    // Modifiers
    &[multiple] {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: initial;
        padding: 10px;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $select-font-size--small;
        height: $select-height--small;
        margin-bottom: $select-element-spacing--small;

        // Modifiers
        &[multiple] {
            height: initial;
        }
    }

    &.is-large {
        font-size: $select-font-size--large;
        height: $select-height--large;
        margin-bottom: $select-element-spacing--large;

        // Modifiers
        &[multiple] {
            height: initial;
        }
    }

    &.is-huge {
        font-size: $select-font-size--huge;
        height: $select-height--huge;
        margin-bottom: $select-element-spacing--huge;

        // Modifiers
        &[multiple] {
            height: initial;
        }
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            border-color: feedback-color($name);

            // Pseudo classes
            &:hover {
                border-color: feedback-color($name, 'darken-1');
            }

            &:focus {
                @include input-focus-box-shadow(feedback-color($name, 'lighten-5'));
                border-color: feedback-color($name, 'darken-2');
            }
        }
    }
}


/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> TEXTAREAS
   ============================================================================================= */

// Textareas
textarea {
    -webkit-appearance: none;
    background-color: $textarea-background-color;
    border: 0 $textarea-border-style $textarea-border-color;
    border-radius: $textarea-border-radius--top-left
                   $textarea-border-radius--top-right
                   $textarea-border-radius--bottom-right
                   $textarea-border-radius--bottom-left;
    border-width: $textarea-border-width--top
                  $textarea-border-width--right
                  $textarea-border-width--bottom
                  $textarea-border-width--left;
    color: $textarea-font-color;
    display: block;
    font-family: $textarea-font-family;
    font-size: $textarea-font-size;
    line-height: 1.5;
    margin: 0;
    margin-bottom: $textarea-element-spacing;
    min-width: 100%;
    padding: 10px;
    resize: none;
    transition: border-color 0.15s linear,
                box-shadow 0.15s linear;
    width: 100%;

    // Pseudo classes
    &:hover {
        border-color: $textarea-border-color--hover;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:active {
        @include input-focus-box-shadow($textarea-box-shadow-color--focus);
        border-color: $textarea-border-color--focus;
    }

    // Psuedo elements
    &::placeholder {
        color: $textarea-font-color--placeholder;
    }

    // Modifiers
    &.textarea--resize {
        resize: vertical;
    }

    // Modifiers: Size
    &.is-small {
        font-size: $textarea-font-size--small;
        line-height: 1.4;
        margin-bottom: $textarea-element-spacing--small;
    }

    &.is-large {
        font-size: $textarea-font-size--large;
        line-height: 1.6;
        margin-bottom: $textarea-element-spacing--large;
    }

    &.is-huge {
        font-size: $textarea-font-size--huge;
        line-height: 1.7;
        margin-bottom: $textarea-element-spacing--huge;
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            border-color: feedback-color($name);

            // Pseudo classes
            &:hover {
                border-color: feedback-color($name, 'darken-1');
            }

            &:focus {
                @include input-focus-box-shadow(feedback-color($name, 'lighten-5'));
                border-color: feedback-color($name, 'darken-2');
            }
        }
    }
}


/* =============================================================================================
   RUCKSACK -> FOUNDATION -> FORMS -> BUTTONS
   ============================================================================================= */

// Buttons
#{$buttons} {
    background-color: $button-background-color;
    border: 0 $button-border-style $button-border-color;
    border-width: $button-border-width--top
                  $button-border-width--right
                  $button-border-width--bottom
                  $button-border-width--left;
    border-radius: $button-border-radius--top-left
                   $button-border-radius--top-right
                   $button-border-radius--bottom-right
                   $button-border-radius--bottom-left;
    color: $button-font-color;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-variant: $button-font-variant;
    font-weight: $button-font-weight;
    height: $button-height;
    letter-spacing: $button-letter-spacing;
    line-height: $button-height - ($button-border-width--top + $button-border-width--bottom);
    margin: 0;
    margin-bottom: $button-element-spacing;
    max-width: 100%;
    padding: 0 $button-content-spacing;
    text-align: center;
    text-transform: $button-text-transform;
    user-select: none;

    // Psuedo classes
    &:hover {
        background-color: $button-background-color--hover;
        border-color: $button-border-color--hover;
        color: $button-font-color--hover;
    }

    &:focus {
        background-color: $button-background-color--focus;
        border-color: $button-border-color--focus;
        color: $button-font-color--focus;
        outline: none;
    }

    &:active {
        @include button-click-inset-shadow();
        background-color: $button-background-color--active;
        border-color: $button-border-color--active;
        color: $button-font-color--active;
    }

    // Modifiers
    &.button--block {
        display: block;
        width: 100%;
    }

    &.button--primary {
        background-color: $button-background-color-primary;
        border-color: $button-border-color-primary;
        color: $button-font-color-primary;

        // Psuedo classes
        &:hover {
            background-color: $button-background-color-primary--hover;
            border-color: $button-border-color-primary--hover;
            color: $button-font-color-primary--hover;
        }

        &:focus {
            background-color: $button-background-color-primary--focus;
            border-color: $button-border-color-primary--focus;
            color: $button-font-color-primary--focus;
        }

        &:active {
            background-color: $button-background-color-primary--active;
            border-color: $button-border-color-primary--active;
            color: $button-font-color-primary--active;
        }
    }

    &.button--secondary {
        background-color: $button-background-color-secondary;
        border-color: $button-border-color-secondary;
        color: $button-font-color-secondary;

        // Psuedo classes
        &:hover {
            background-color: $button-background-color-secondary--hover;
            border-color: $button-border-color-secondary--hover;
            color: $button-font-color-secondary--hover;
        }

        &:focus {
            background-color: $button-background-color-secondary--focus;
            border-color: $button-border-color-secondary--focus;
            color: $button-font-color-secondary--focus;
        }

        &:active {
            background-color: $button-background-color-secondary--active;
            border-color: $button-border-color-secondary--active;
            color: $button-font-color-secondary--active;
        }
    }

    &.button--link,
    &.button--text {
        background-color: transparent;
        border-color: transparent;
        color: inherit;

        // Pseudo classes
        &:hover,
        &:focus {
            background-color: hsla(0, 0%, 0%, 0.04);
        }

        &:active {
            box-shadow: none;
        }
    }

    &.button--link {
        color: $link-color;

        // Pseudo classes
        &:hover,
        &:focus {
            background-color: hsla(0, 0%, 0%, 0.04);
        }

        &:hover {
            color: $link-color--hover;
        }
    }

    // Modifiers: Size
    &.is-small {
        @include button-size--small();
    }

    &.is-large {
        @include button-size--large();
    }

    &.is-huge {
        @include button-size--huge();
    }

    // Modifiers: Feedback
    @each $name, $color in $feedback-colors {
        &.with-#{$name} {
            background-color: feedback-color($name);
            border-color: feedback-color($name, 'darken-3');
            color: base-color('white');

            // Pseudo classes
            &:hover {
                background-color: feedback-color($name, 'lighten-1');
                border-color: feedback-color($name, 'darken-5');
            }

            &:focus {
                background-color: feedback-color($name, 'lighten-1');
                border-color: feedback-color($name, 'darken-5');
            }

            &:active {
                background-color: feedback-color($name);
                border-color: feedback-color($name, 'darken-3');
            }
        }
    }
}

a.button {
    text-decoration: none;
}
