@charset 'utf-8';

/*  ========================================================================
    JUICE -> UTILITIES -> MIXINS -> CLEARFIX
    ========================================================================  */

/**
 * Clear floating elements.
 */
@mixin clearfix() {
    clear: both;
    content: '';
    display: block;
}
