@charset 'utf-8';

/*  ========================================================================
    JUICE -> UTILITIES -> MIXINS -> DISABLED
    ========================================================================  */

/**
 * Set an element to display disabled attributes.
 */
@mixin disabled() {
    box-shadow: none !important;
    cursor: not-allowed !important;
    opacity: 0.75 !important;
    pointer-events: none;
}
