@charset 'utf-8';

/*  ========================================================================
    JUICE -> UTILITIES -> MIXINS -> ZERO POSITIONING
    ========================================================================  */

/**
 * Set an element to be positioned absolutely and fill the containing element.
 */
@mixin zero-positioning() {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
