@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> BOUNCE -> EXIT -> BOUNCE OUT
    ========================================================================  */

// Check if the animations with bounce out should be imported
@if $import-animations and $import-animation-bounce-out {
    .has-animation {
        // Nested selectors
        &.bounce-out {
            // Variables
            --animation-delay: var(--default-animation-bounce-out-delay);
            --animation-duration: var(--default-animation-bounce-out-duration);
            --animation-easing: var(--default-animation-bounce-out-easing);

            // Keframes
            @keyframes bounce-out {
                from {
                    transform: scale3d(1, 1, 1);
                }

                40% {
                    transform: scale3d(0.95, 0.95, 0.95);
                }

                60% {
                    opacity: 1;
                    transform: scale3d(1.03, 1.03, 1.03);
                }

                to {
                    opacity: 0;
                    transform: scale3d(0.2, 0.2, 0.2);
                }
            }

            // Styles
            animation-name: bounce-out;
        }
    }
}
