@charset 'utf-8';

// Check if the animations with bounce out up should be imported
@if $import-animations and $import-animation-bounce-out-up {
    .has-animation {
        // Nested selectors
        &.bounce-out-up {
            @keyframes bounce-out-up {
                from {
                    transform: translate3d(0, 0, 0);
                }

                30% {
                    transform: translate3d(0, (0 - ($animation-bounce-out-distance * 1.5 / 100)), 0);
                }

                50% {
                    opacity: 1;
                    transform: translate3d(0, (0 + ($animation-bounce-out-distance * 2.5 / 100)), 0);
                }

                to {
                    opacity: 0;
                    transform: translate3d(0, (0 - $animation-bounce-out-distance), 0);
                }
            }

            animation-delay: $animation-bounce-out-delay;
            animation-duration: $animation-bounce-out-duration;
            animation-name: bounce-out-up;
            animation-timing-function: $animation-bounce-out-easing;
        }
    }
}
