@charset 'utf-8';

/*  ========================================================================
    JUICE -> ANIMATIONS -> BOUNCE -> EXIT
    ========================================================================  */

// Import
@import 'bounce-out';
@import 'bounce-out-down';
@import 'bounce-out-left';
@import 'bounce-out-right';
@import 'bounce-out-up';
